<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Page listings - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">Archived prototype work</span>
            GP Registration
        </h1>

          <p>Use this service to register to change to a new GP surgery</p>
          <p class="nhsuk-body-s">Last updated 23 Sept 2021</p>

          <h2 class="nhsuk-heading-l">Discovery</h2>
          <p>Team spent time on working out initial user journey and interactions for users 'Changing GP surgery'</p>

          {{ button({
            "text": "Continue",
            "href": "/v1/1/01/start"
          }) }}

          <h2 class="nhsuk-heading-l">Test sessions</h2>

          <p><span class="mural-link"><a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1630397298676/3fc5442bd4102b46c4764d592ad0530f79795e60?sender=u6bd4c84bd73456a668cf5618">Test session outputs on mural</a></span></p>

          <p><br/><a href="/index">Return to main service page</a>


  </div>
</section>



<!-- End of content -->

</div>
</div>
{% endblock %}
