{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Blood transfusions</h1>
      <p>NHS England is committed to identifying all those infected with a bloodborne illness no matter how it is transmitted.</p>
      <p>You may have a blood transfusion if you:</p>
      <p><ul>
        <li>have an accident</li>
        <li>have complications during childbirth</li>
        <li>are receiving other medical treatment</li>
      </ul></p>

    <p>The information you give will be used by your GP surgery to consider your suitability for blood screening in the unlikely event you may have been given infected blood.</p>

<h2>Have you ever had a blood transfusion?</h2>
{{ radios({
  "idPrefix": "are-you-student",
  "name": "are-you-student",
  "items": [
    {
      "value": "Yes~/live/student-do-you-know-student-number",
      "text": "Yes",
      "checked": checked("are-you-student", "Yes")
    },
    {
      "value": "Yes~/live/student-do-you-know-student-number",
      "text": "No",
      "checked": checked("are-you-student", "Yes")
    },
    {
      "value": "No~/live/do-you-current-address",
      "text": "Don't know",
      "checked": checked("are-you-student", "No")
    }
  ]
}) }}


  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
