{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Infected blood</h1>
      <p>NHS England is committed to identifying all those infected with a bloodborne illness no matter how it is transmitted.</p>
      <p>You may have received infected blood, blood products or tissues if you:</p>
      <p><ul>
        <li>have had an accident</li>
        <li>have had complications during childbirth</li>
        <li>had surgery or medical treatment requiring blood products or tissues</li>
      </ul></p>

    <p>The information you give will be used by your GP surgery to consider your suitability for blood screening in the unlikely event you may have been given infected blood.</p>

<h2>Did you receive a blood transfusion or blood products or tissues before 1996?</h2>
{{ radios({
  "idPrefix": "are-you-student",
  "name": "are-you-student",
  "items": [
    {
      "value": "Yes~/live/student-do-you-know-student-number",
      "text": "Yes",
      "checked": checked("are-you-student", "Yes")
    },
    {
      "value": "Yes~/live/student-do-you-know-student-number",
      "text": "No",
      "checked": checked("are-you-student", "Yes")
    },
    {
      "value": "No~/live/do-you-current-address",
      "text": "Don't know",
      "checked": checked("are-you-student", "No")
    }
  ]
}) }}
{{ details({
  "text": "Why are we asking this?",
  "HTML": "<p>In response to the Infected Blood Inquiry, NHS England wants to identify anyone that may have received infected blood before the introduction of universal blood screening in September 1991.</p>
  "
}) }}


  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
