{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
For people with S1 form - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

        <form action="check-answers-2" method="post" autocomplete="off">

          <h1 class="nhsuk-heading-l">Infected Blood Inquiry</h1>

          <p> The Infected Blood Inquiry (IBI) was set up to learn from those infected and affected by contaminated blood and blood products from the NHS and across the UK.</p>
          <p>As such, NHS England is committed to identifying anyone that may have received a blood transfusion before 1996.</p>
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
          
            <p>Evidence shows the likelihood of contracting Hepatitis C through a blood transfusion after 1992 is extremely low following the introduction of universal blood screening to detect Hepatitis C infection in September 1991. </p>
          </div>
<p>The information you have provided will be shared with your GP surgery and they may offer you blood screening. If you have any concerns you should contact your GP surgery directly.</p>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
