{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>How you choose to self-describe</h2>
      <p>You may choose to self-describe. Your GP surgery will use this information to help them improve the experience of everyone accessing primary care services.</p>
      <p>For example, you may self-describe as:</p>
      <p><ul>
        <li>Bisexual - someone who is attracted to men and women</li>
        <li>Gay or lesbian - men who are attracted to men, and women who are attracted to women</li>
        <li>Heterosexual (straight) - men who are attracted to women, and women who are attracted to men</li>
      </ul></p>

    <p>If you prefer not to answer this question you can select 'Continue'.</p>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="one-quarter">
        Enter how you choose to self-describe
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-quarter" id="one-quarter" name="one-quarter" type="text">
    </div>

  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
