{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Your home address is where you normally live</h2>
      <p>Do not update your address if it is a:</p>
      <p><ul>
        <li>Temporary address - you'll live there for less than 3 months</li>
        <li>Correspondence address - you only use the address for letters and post and do not normally live there</li>
      </ul>
    </p>
      <p>To update a temporary or correspondence address you should <a href="https://www.nhs.uk/service-search/find-a-gp/">contact your nearest GP surgery.</a></p>


  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
