{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Changing your home address</h2>
      <p>You can change your home address by either:</p>
      <p><ul>
        <li><p><a href="https://www.nhs.uk/service-search/find-a-gp/">Find and register with a GP surgery that covers your new address</a> (takes about 15 minutes), or</p></li>
        <li>Choosing to continue</li>
      </ul></p>

      <p>Changing your home address will update your NHS record and the address your GP surgery has for you.</p>
      <p>Some GP surgeries will only accept patients that live within the area they cover. This is called their catchment area.</p>
      <p>If you continue with this change and [NAME OF SURGERY] is not accepting registrations from outside their catchment area:</p>
      <p><ul>
        <li>you may not be offered home visits</li>
      <li>it could affect referrals for hospital tests and treatment, or community health services</li>
    </ul></p>
    <p>You should speak to your current GP surgery about your options.</p>

<h2>Do you want to continue?</h2>
{{ radios({
  "idPrefix": "are-you-student",
  "name": "are-you-student",
  "items": [
    {
      "value": "Yes~/live/student-do-you-know-student-number",
      "text": "Yes",
      "checked": checked("are-you-student", "Yes")
    },
    {
      "value": "No~/live/do-you-current-address",
      "text": "No - takes you to Find a GP",
      "checked": checked("are-you-student", "No")
    }
  ]
}) }}


  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
