{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Changing your home address</h2>
      <p>You can change your home address by either:</p>
      <p><ul>
        <li><p><a href="https://www.nhs.uk/service-search/find-a-gp/"></a>Registering with a GP surgery (takes about 15 minutes)</a>, or</p></li>
        <li>Choosing 'Continue'</li>
      </ul></p>

      <p>Changing your home address will update your NHS record and the address your GP surgery has for you.</p>
      <p>Some GP surgeries will only accept patients that live within the area they cover. You can continue with this address change, but if you are outside the area covered by [NAME OF SURGERY] you will need to register with a new GP surgery.</p>
      <p>If your new address is outside the area covered by your current surgery:</p>
      <p><ul>
        <li>you may not be offered home visits</li>
      <li>it could affect referrals for hospital tests and treatment, or community health services</li>
    </ul></p>
    <p>You should speak to your GP surgery about your options.</p>

  {{ button({
    "text": "Continue"
  }) }}

    </div>  

  </div>
{% endblock %}
