{% if emailLink %}
<div class="proto-action">

  {% if emailLink %}
    <a href="/emails/{{ emailLink[0] }}{{ params }}">
      <div class="proto-action-icon"></div>
      <div class="proto-action-text">{{ emailLink[1] }}</div>
    </a>
  {% endif %}

  {% if emailLink2 %}
    <a href="/emails/{{ emailLink2[0] }}{{ params }}">
      <div class="proto-action-icon"></div>
      <div class="proto-action-text">{{ emailLink2[1] }}</div>
    </a>
  {% endif %}
</div>
{% endif %}

<div class="proto-error">
  <div class="proto-error-icon"></div>
  <div class="proto-error-text">Dev mode</div>
</div>
