<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            "href": "continue-with-nhs-login",
            "text": "Go Go back"
          }) }}

          <form action="what-is-your-date-of-birth" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": "What is your name?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ input({
                label: {
                  "text": "Title"
                },
                "classes": "nhsuk-input--width-4",
                "id": "name-title",
                "name": "name-title",
                "value": data['name-title']
              }) }}

            {{ input({
                label: {
                  "text": "Given names"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "name-given-names",
                "name": "name-given-names",
                "value": data['name-given-names']
              }) }}

            {{ input({
                label: {
                  "text": "Family name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "name-family-name",
                "name": "name-family-name",
                "value": data['name-family-name']
              }) }}

            {{ input({
                label: {
                  "text": "Known as (optional)"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "name-known-as",
                "name": "name-known-as",
                "value": data['name-known-as']
              }) }}

              {{ input({
                  label: {
                    "text": "Previous family names (optional)"
                  },
                  "classes": "nhsuk-u-width-two-thirds",
                  "id": "name-previous-surnames",
                  "name": "name-previous-surnames",
                  "value": data['name-previous-surnames']
                }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
