<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            "href": "what-is-your-current-address",
            "text": "Go back"
          }) }}

          <form action="what-is-your-phone-number" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": "What was your previous UK address?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ hint({
                "text": "If you have had more than one address previously, please enter the address you lived at most recently."
            }) }}

              {{ input({
                label: {
                  "html": 'Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>'
                },
                "id": "previous-address-line-1",
                "name": "previous-address-line-1"
              }) }}

              {{ input({
                label: {
                  "html": '<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>'
                },
                "id": "previous-address-line-2",
                "name": "previous-address-line-2"
              }) }}

            {{ input({
                label: {
                  "text": "Town or city"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "previous-address-town",
                "name": "previous-address-town"
              }) }}

              {{ input({
                  label: {
                    "text": "Postcode"
                  },
                  "classes": "nhsuk-input--width-10",
                  "id": "previous-address-postcode-",
                  "name": "previous-address-postcode"
                }) }}

            {% endcall %}

            {{ checkboxes({
              "idPrefix": "no-previous-address",
              "name": "no-previous-address",
              "items": [
                {
                  "value": "no-previous-address",
                  "text": "I do not have a previous UK home address"
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}
<script>
$('#no-previous-address-1').change(function(){
    if ($('#no-previous-address-1').is(':checked') == true){
        $('input[type=text]').prop('disabled', true);
    } else {
      $('input[type=text]').prop('disabled', false);
    }
});
</script>
{% endblock %}
{% endblock %}
