<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Choose type of pharmacy - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="" method="post" autocomplete="off">
            {{ hint({
              "text": "Step 2 of 3 - Personal Details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}




            {{ radios({
              "idPrefix": "nominate-pharmacy",
              "name": "nominate-pharmacy",
              "fieldset": {
                "legend": {
                  "text": "Choose type of pharmacy",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": ""
              },
              "items": [
                {
                  "value": "yes~/sprint-13/section-2/nominate-pharmacy-search",
                  "text": "High Street pharmacy",
                  "hint": {
                    "text": "You can collect your prescription items in person from a pharmacy near to you. They may also deliver."
                  },
                  checked: checked("nominate-pharmacy", "Yes")
                },
                {
                  "value": "no~/sprint-13/section-2/online-pharmacy",
                  "text": "Online-only pharmacy",
                  "hint": {
                    "text": "These send your prescription items to you in the post. It's not possible for you to choose an online-only pharmacy during this registration process. You need to register directly with them instead."
                  },
                  checked: checked("nominate-pharmacy", "no")
                }
              ]
            }) }}




            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>


    <!-- End of content -->

  </div>
</div>
{% endblock %}
