<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">
              Prototype work
              <span class="nhsuk-u-visually-hidden"></span>
            </span>
            Register with a GP Surgery
          </h1>

          <!--<ul class="nhsuk-list nhsuk-body-s">
            <li>Last updated: 01 June 2023</li>
            <li>Prototype version: v3.0.4</li>
          </ul>-->

          <p>Use this service to register with GP surgeries in England.</p>

          

          {{ button({
            "text": "Go to prototype",
                "href": "../gp-registration/sprint-21/start"
          }) }}

          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "../admin/listings"
          }) }}

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible margin-top-minus-5">

          <h2 class="nhsuk-heading-s">Previous iterations</h2>
           <p><a href="/live/start">Version up to Sprint 20</a></p>

          <!--{{ button({
            "text": "Preload options",
                "href": "admin/preload"
        }) }}-->

         
      </div>
      <div class="nhsuk-grid-column-one-third">

        <h2 class="nhsuk-heading-s">Dev mode</h2>
        <p><a href="/live/start?devMode=true">Run 'live' in devMode</a></p>
        <p><a href="/design/start?devMode=true">Run 'design' in devMode</a></p>

        <h2 class="nhsuk-heading-s">Environments</h2>
        <p><a href="https://gp-registration.nhs.uk/M84015/gpregistration/landing" target="_blank">Prod environment</a></p>
        <p><a href="https://register.int.gp-registration.nhs.uk/1234/gpregistration/landing" target="_blank">Int environment</a></p>
        

        <h2 class="nhsuk-heading-s">Related prototypes</h2>
        <p><a href="https://patient-list-inflation-eebf515757e0.herokuapp.com/" target="_blank">PLI prototype</a></p>
    
      </div>
    </div>

{% endblock %}


{% block footer %}
{{ footer({
"links": [
{
"URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
"label": "Prototype kit version: " + version
},
{
"URL": "?devMode=true",
"label": "Turn on devMode"
},
{
"URL": "/examples/passing-data/clear-data",
"label": "Clear data"
}
]
})}}
{% endblock %}
