{% extends 'layout-gp.html' %}

{% set heading = 'Telling patients their registration has been accepted' %}

{% block pageTitle %}
{{ heading }} - {{ data.presets[0].servicenameenroll }} - NHS
{% endblock %}

{% if (data['linkaction'] === "change-questions") %}
{% set action = 'gp-answers' %}
{% elseif (data['linkaction'] === "change-settings") %}
{% set action = 'gp-notify-patient-post' %}
{% else %}
{% set action = 'gp-reg-answers' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    text: "Go back",
    href: "gp-additional-questions-nominated-pharmacy",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="{{ action }}" method="post" autocomplete="off">

      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">{{ heading }}</h1>
        </legend>

        <p>Register with a GP surgery service will message the patient when you have accepted their registration. We will send the message by email, text message, post or through the NHS App. There is no cost to you for this.</p>
        <p><a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service/telling-patients-when-you-accept-their-registration" target="_blank">Find out more about how this feature works on our resource hub</a></p>

        {{ radios(
          {
            "idPrefix": "use-nap",
            "name": "use-nap",
            "classes": "nhsuk-radios",
            "fieldset": {
            "legend": {
            "text": "Do you want us to message patients?",
            "classes": "nhsuk-fieldset__legend--m",
            "isPageHeading": true
          }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes",
              "checked": checked("use-nap", "Yes")
            },
            {
              "value": "No",
              "text": "No",
              "checked": checked("use-nap", "No")
            }
          ]
        }) }}

      </fieldset>

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
