{% extends 'layout-gp.html' %}

{% set heading = 'Are you a dispensing surgery?' %}

{% block pageTitle %}
{{ heading }} - {{ data.presets[0].servicenameenroll }} - NHS
{% endblock %}

{% if (data['linkaction'] === "change-questions") %}
  {% set action = 'gp-answers' %}
{% else %}
  {% set action = 'gp-additional-questions-nominated-pharmacy' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    text: "Go back",
    href: "gp-additional-questions-language-interpretation",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="{{ action }}" method="post" autocomplete="off">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-heading-l">{{ heading }}</h1>
              </legend>

            <p>If you are a dispensing surgery you are able to dispense medicines or medical appliances direct to patients.</p>
            <p>If you choose <strong>yes</strong>, patients who register online with your surgery will be asked to show they are eligible for this service.</p>

            {{ radios({
              "idPrefix": "dispencing",
              "name": "dispencing",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("dispencing", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("dispencing", "No")
                }
              ]
            }) }}

            </fieldset>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}
