
{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Sorry, something went wrong- GP Registration - NHS Service - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
          Sorry, something went wrong. 
      </h1>

      <p class="nhsuk-body">We have not saved your answers.</p>

      <p class="nhsuk-body">You'll need to return to NHS Profile Manager and start again if you want to use this service. </p>

      <p><a href="/gp/gp-profile-manager" class="nhsuk-button nhsuk-button--green">Return to NHS Profile Manager</a></p>

  </div>
</div>


{% endblock %}
