{% extends 'layout-gp.html' %}

{% set heading = 'Manage patient access' %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicenameenroll }} - NHS
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block outerContent %}
  {{ backLink({
    text: "Go back",
    href: "gp-branch",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="gp-patient-access-post" method="post" autocomplete="off">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-heading-l">{{ heading }}</h1>
              </legend>

              <p>Turning 'Find a GP' on or off will take effect immediately.</p>

              {{ radios({
                "idPrefix": "access",
                "name": "access",
                "items": [
                  {
                    "value": "Unique url only",
                    "text": "Turn off Find a GP",
                    "hint": {
                      "text": "Your online registration service will not be visible on Find a GP"
                    },
                    checked: checked("access", "Unique url only")
                  },
                  {
                    "value": "Off",
                    "text": "Turn off Find a GP and unique URL",
                    "hint": {
                      "text": "Remember to remove the url from your website"
                    },
                    checked: checked("access", "Off")
                  },
                  {
                    "divider": "or"
                  },
                  {
                    "value": "On",
                    "text": "Turn on Find a GP and unique URL",
                    checked: checked("access", "On")
                  }
                ]
              }) }}

              </fieldset>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}
