{% extends 'layout-gp.html' %}

{% set heading = 'Registration complete for (Practice name)' %}

{% block pageTitle %}
{{ heading }} - GP registration service - NHS
{% endblock %}

{% set emailLink = ['gp-onboard-confirmation', 'Confirmation email to GP'] %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">{{ heading }}</h1>

        <p>Your surgery can now offer online registration for patients.</p>
        <p>You need to use your practice's unique URL to link the GP Registration Service to your website.</p>
        <p><strong>Your practices service link:</strong> <a href="#">your-practice-url.com/practice</a></p>
        <p>Once the link is on your website patients will be able to apply to register with your surgery using the online GP Registration Service.</p>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h3>More information about using the service</h3>

        <p>Use your practice's unique URL to link to the Register with a GP surgery service.</p>

        <p>A <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service" target="_blank" rel="noopener noreferrer">resource hub</a> has been made available which explains how you can:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>promote the service in your surgery</li>
            <li>get support while using the service </li>
          </ul>

        <p>Find out more about <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service" target="_blank" rel="noopener noreferrer">Register with a GP surgery service (Opens in new tab)</a>.</p>

        {{ button({
            "text": "Continue",
            "href":"gp-manage"
        }) }}

      </div>
    </div>

{% endblock %}
