{% extends 'layout-gp.html' %}

{% set heading = 'NHS shared mailbox' %}

{% block pageTitle %}
{{ heading }} - {{ data.presets[0].servicenameenroll }} - NHS
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block outerContent %}
  {{ backLink({
    text: "Go back",
    href: "gp-service-confirm",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="gp-shared-mailbox-sure" method="post" autocomplete="off">

          <h1 class="nhsuk-heading-l">{{ heading }}</h1>

          <p>A verification code will be sent to your NHS shared mailbox. This is also where patient registration details will be sent.</p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>For reasons of security and data protection we cannot accept a personal email account, including a personal NHS account.</p>
          </div>

          {{ input({
              label: {
                "html": 'Enter the email address of your shared mailbox'
              },
                "hint": {
                "text": 'This will end in nhs.net'
              },
              "type": "email",
              "classes": "nhsuk-input--width-20",
              "id": "nhs-shared-email",
              "name": "nhs-shared-email"
            }) }}

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                 I do not have access to a NHS shared mailbox
              </span>
            </summary>
            <div class="nhsuk-details__text">
            <p>Find out more about registering for this service at our <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service#resource-hub">Resource Hub</a>)</p>

            </div>
          </details>

          {{ button({
              "text": "Continue"
            }) }}

        </form>

      </div>
    </div>

{% endblock %}
