// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.



 .nhsuk-header__container {
  padding-top:20px;
  padding-bottom:20px;
 }
 .nhsuk-u-margin-bottom-4 {
  margin-top:-20px;
 }
 .margin-top-minus-20 {
  margin-top:-20px;
 }
 .margin-top-minus-5 {
  margin-top:-5px;
 }
.nhsuk-phase-banner {
  padding-top:8px;
  border-bottom:1px solid #b1b1b1;
 }
 .nhsuk-phase-banner__content {
  margin-bottom: 0;
  padding-bottom: 8px;
  font-family: "Frutiger W01", Arial, sans-serif;
  font-size: 16px;
 }
 .nhsuk-phase-banner__content__tag {
  background-color: #005eb8;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-right:3px;
  padding-top:4px;
  padding-bottom:4px;
 }

 