<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="get-your-security-code" method="post" autocomplete="off">

            {{ fieldset({
              "legend": {
                "text": "Check your details",
                "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-5",
                "isPageHeading": true
              }
            }) }}

            <h3>Name</h3>

            <dl class="nhsuk-summary-list">

              <!--- Personal details --->

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Who is registering
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['who-is-registering'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="who-are-you-registering-for">
                    Change<span class="nhsuk-u-visually-hidden">
                      who is registering</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['name-title'] }} {{ data['name-given-names'] }} {{ data['name-family-name'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="what-is-your-name">
                    Change<span class="nhsuk-u-visually-hidden">
                      given names</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Known as
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['name-known-as'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="what-is-your-name">
                    Change<span class="nhsuk-u-visually-hidden">
                      what this person is known as</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Previous surnames
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['name-previous-surnames'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="what-is-your-name">
                    Change<span class="nhsuk-u-visually-hidden">
                      previous surnames</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <span id="dob-day">{{ data['dob-day'] }}</span>
                  <span id="dob-month">{{ data['dob-month'] }}</span>
                  <span id="dob-year">{{ data['dob-year'] }}</span>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="date-of-birth">
                    Change<span class="nhsuk-u-visually-hidden">
                      date of birth</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS Number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['nhs-number'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a class="nhsuk-link--no-visited-state" href="what-is-your-nhs-number">
                    Change<span class="nhsuk-u-visually-hidden">
                      NHS number</span>
                  </a>
                </dd>
              </div>

            </dl>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script>

  $(document).ready(function () {



    // Populate any unanswered fields with "Not answered" text
    $('.nhsuk-summary-list__value').filter(function () {
      return $.trim($(this).text()) === "";
    }).each(function (ind, obj) {
      $(obj).closest('dd').html("<span class='summary-page-unanswered'>Not answered</span>");
    });

    // Add colon to contact method type if it isn't blank
    $(".contact-prefs-type:not(:empty)").append(':');

    // Convert nunjucks date data to be used in JS
    var dobDD = JSON.parse('{{ data["dob-day"] }}'.replace(/&quot;/g,'"'));
    var dobMM = JSON.parse('{{ data["dob-month"] }}'.replace(/&quot;/g,'"'));
    var dobYY = JSON.parse('{{ data["dob-year"] }}'.replace(/&quot;/g,'"'));

    // Convert month format from mm to Mmm
    var date = new Date(dobYY, (dobMM - 1), dobDD); // 2009-11-10
    var month = date.toLocaleString('default', {month: 'short'});

    // Insert new month format into summary list

    $("#dob-month").text(month);

    $('.summary')
  });
</script>

{% endblock %}
