{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        How much alcohol do you drink in a typical week?
      </h1>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        For example, you might drink 3 small (125ml) glasses of wine or 4 pints or cans of strong beer or cider at the weekend, or a glass of whisky every evening.
      </div>


    </div>  

  </div>
{% endblock %}
