{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        How much alcohol do you drink in a typical week?
      </h1>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        For example, you might drink 3 small (125ml) glasses of wine or 4 pints or cans of strong beer or cider at the weekend, or a glass of whisky every evening.
      </div>
<h3>Enter all that apply</h3>
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Wine
  </label>
  <div class="nhsuk-input__wrapper">
    <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
    <div class="nhsuk-input__suffix" aria-hidden="true">small 125ml glass</div>
  </div>
  <br>
  <div class="nhsuk-input__wrapper">
    <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
    <div class="nhsuk-input__suffix" aria-hidden="true">bottles</div>
  </div>
  <br>
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="example">
      Strong beer, lager, cider or alcopops of abv 5.5% and over
    </label>
    <div class="nhsuk-input__wrapper">
      <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
      <div class="nhsuk-input__suffix" aria-hidden="true">pints</div>
    </div>
    <br>
    <div class="nhsuk-input__wrapper">
      <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
      <div class="nhsuk-input__suffix" aria-hidden="true">cans or bottles</div>
    </div>
    <br>
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="example">
      Regular beer, lager, cider or alcopops under abv 5.5%
    </label>
    <div class="nhsuk-input__wrapper">
      <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
      <div class="nhsuk-input__suffix" aria-hidden="true">pints</div>
    </div>
    <br>
    <div class="nhsuk-input__wrapper">
      <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
      <div class="nhsuk-input__suffix" aria-hidden="true">cans or bottles</div>
    </div>
    <br>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example">
        Spirits like whisky, gin or rum and cocktails
      </label>
      <div class="nhsuk-input__wrapper">
        <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
        <div class="nhsuk-input__suffix" aria-hidden="true">glasses</div>
      </div>
      <br>
      <div class="nhsuk-input__wrapper">
        <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
        <div class="nhsuk-input__suffix" aria-hidden="true">bottles</div>
      </div>
  
</div>
    </div>  

{% endblock %}
</div>
<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>

