{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        How much alcohol do you drink in a typical week?
      </h1>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.
      </div> <input class="nhsuk-input nhsuk-input--width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
      <p>
        Visit the 
          <a href="https://service-manual.nhs.uk">NHS digital service manual</a> 
        for guidance and code examples.
      </p>

    </div>  

  </div>
{% endblock %}
