{% extends 'layout.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

                <fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      Carers
    </h1>
  </legend>


            <p>A carer looks after a family member or friend who is not able to look after themselves.</p>
            <p>This could be because of:
              <ul>
                <li>illness</li>
              <li>disability</li>
            <li>addiction</li>
          </ul>
          </p>
          <p>Carers can be adults or children, paid, unpaid or getting benefits.</p>

            
              <h2 style="font-size: 1.5rem; padding-top: 0;">Do you look after someone?</h2>
            

          





  

  
<div class="nhsuk-form-group">

  <div class="nhsuk-radios">
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="have-previous-uk-address-1" name="have-previous-uk-address" type="radio" value="Yes~/live/what-is-your-previous-address-manual">
      <label class="nhsuk-label nhsuk-radios__label" for="have-previous-uk-address-1">
        Yes
      </label>
    </div>
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="have-previous-uk-address-2" name="have-previous-uk-address" type="radio" value="No~/live/do-you-have-existing-conditions">
      <label class="nhsuk-label nhsuk-radios__label" for="have-previous-uk-address-2">
        No
      </label>
    </div>
    
  </div>
</div>


         </fieldset>


          


  
    
  




<button class="nhsuk-button"
  data-module="nhsuk-button"
   type="submit">
  Continue
</button>




          </form>
        </div>
      </div>





          </main>
        </div>

    </div>  

  </div>
{% endblock %}
