{% extends 'layout.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

          <h2>
        Your registration application has been submitted
      </h2>
<p>You are unable to go back and change your details once you have accepted and submitted an application.</p>
<p>To update your details you should contact your new GP surgery once your registration has been confirmed.</p>
    </div>  

  </div>
  <br>
<a href="https://www.nhs.uk/nhs-services/services-near-you/">Find other NHS service</a></p>
{% endblock %}
