{% extends 'layout.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

          <h2>
        Your registration application has been submitted
      </h2>
<p>You are unable to go back and change your details once you have accepted and submitted an application.</p>
<p>To change your details you will have to complete a new application.</p>
    </div>  

  </div>
  <br>
<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Start a new registration
</button>

{% endblock %}
