{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        How we contact you
      </h1>

      <p>
        The NHS and Hilltop surgery may need to contact you about:
        <ul>
          <li>this registration application</li>
          <li>important information about your health</li>
          <li>screening and other healthcare services</li>
        </ul> 
      </p>

<div class="govuk-inset-text">
  Your contact details will not be used for marketing or shared with anyone outside your GP surgery or the NHS.
</div>

<legend>Tell us how you want to be contacted</legend>

    </div>  

  </div>
  {% endblock %}


            {{ input({
              label: {
                "text": "Home telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-home-phone",
              "name": "contact-home-phone",
              "spellcheck": false,
              "value": data['contact-home-phone']
            }) }}

            {{ input({
              label: {
                "text": "Mobile telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-mobile",
              "name": "contact-mobile",
              "spellcheck": false,
              "value": data['contact-mobile']
            }) }}

            {{ input({
              label: {
                "text": "Email address (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-email",
              "name": "contact-email",
              "spellcheck": false,
              "value": data['contact-email']
            }) }}
            {{ button({
                "text": "Continue"
              }) }}




