{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'Use your NHS account to apply' %}

{% block pageTitle %}
{{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "who-is-registering",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-l">{{ heading }}</h1>

          <p>Using your NHS account means:</p>
          <ul>
  <li>you'll have to answer fewer questions because the NHS already has this information</li>
  <li>it could save you time in completing this registration application</li>
</ul>
<h3>Would you like to continue with your NHS account?</h3>

<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <ul class="nhsuk-list nhsuk-u-clear">
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/patient/?referrer=NHS_UK&amp;origin=about_nhs_login" role="button" draggable="false" class="nhsuk-button nhsuk-button--blue nhsuk-u-margin-bottom-4">Use NHS account</a></li>
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/login" role="button" draggable="false" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0">Do not use account</a>
    </ul>
</div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Switch scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Login user</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="nhs-login-email?use-login=true&login-level=p5">P5 level of identity</a>
      </li>
      <li>
        <a href="nhs-login-email?use-login=true&login-level=p9">P9 level of identity</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

<style>
  .nhs-login {
    background-color: #ffffff;
    border: 1px solid #d8dde0;
    padding: 24px 24px 12px 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
</style>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
