{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>
     What are your contact details?
      </h1>

      <p>
        The NHS and Hilltop surgery may need to contact you about:
        <ul>
          <li>this registration application</li>
          <li>screening and other healthcare services</li>
        </ul> 
      </p>

      <p>Your details will not be shared with anyone outside of your GP surgery or the NHS.</p>

    </div>  

  </div>


            {{ input({
              label: {
                "text": "Home telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-home-phone",
              "name": "contact-home-phone",
              "spellcheck": false,
              "value": data['contact-home-phone']
            }) }}

            {{ input({
              label: {
                "text": "Mobile telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-mobile",
              "name": "contact-mobile",
              "spellcheck": false,
              "value": data['contact-mobile']
            }) }}

            {{ input({
              label: {
                "text": "Email address (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-email",
              "name": "contact-email",
              "spellcheck": false,
              "value": data['contact-email']
            }) }}
            {{ button({
                "text": "Continue"
              }) }}

  {% endblock %}



