{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Blank transactional template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/templates/start-page",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How many alcoholic drinks do you have in an average week?</h1>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        For example, 4 glasses of wine or spirit, 5 pints of lager, 4 tins of cider or 1 bottle of alcopop. 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-3">
          Enter number of drinks
        </label> <input class="nhsuk-input nhsuk-input--width-3" id="input-width-3" name="test-width-3" type="text">
      </div>
    </div>  
    
    
    {% endblock %}
    </div>
    