{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Register with a GP surgery: {{ data.presets[0].gpsurgery }} - NHS
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div cl
      ass="nhsuk-grid-column-two-thirds">
         <h2 class="nhsuk-heading-l">
          You have requested the registration data transfer service
        </h2>

        <p>You will be notified once this service is available for your surgery.</p>
                
<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Return to Profile Manager
</button>

      </div>
    </div>
{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
