<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-gp.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Patient data transfer - GP registration service - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="gp-additional-questions-notify-patient" method="post" autocomplete="off">

            <H2>Hello - Automatic registration</H2>
            <p>Patient registration data can be automatically transferred directly to your clinical system. This will reduce the amount of time it takes you to register a patient.</p>
            <p>Data will only be transferred for patients that:</p>
            <ul>
              <li>have been identified and matched to their NHS record</li>
              <li>are within your catchment area</li>
              <li>are aged 18 or over</li>
              <li>are transferring from another GP surgery in England</li>
              <li>do not have a sensitive marker on their record</li>
            </ul>

            <h2 style="font-size: 1.5rem; padding-top: 0;">Do you want automatic registration?</h2>
            
            {{ radios({
              "idPrefix": "data-transfer",
              "name": "data-transfer",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("data-transfer", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("data-transfer", "No")
                }
              ]
            }) }}


            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>


    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}

{% endblock %}
{% endblock %}