{% extends 'layout.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

  <h1>
    
      Use your NHS account to help complete your application
    
  </h1>
    


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="azqqx">NHS login allows you to access a range of health and care websites and apps with one set of login details.</p>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          



    <h2 data-block-key="8igqe">Where you can use NHS login</h2><p data-block-key="46pfc">You can use NHS login to access many health and care websites, apps and services.</p><p data-block-key="d0s7u">This includes:</p><ul><li data-block-key="3hfat">health and wellbeing services</li><li data-block-key="e9ii2">maternity and child health services</li><li data-block-key="111p">online pharmacies</li><li data-block-key="btqli">online and video consultation services</li><li data-block-key="f6dlk">patient access services</li></ul>

        
      
    
  </section>


  
    


  <section>

    

    
      
        
          

<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <h3 class="nhsuk-heading-m">Access your NHS account</h3>
    <ul class="nhsuk-list nhsuk-u-clear">
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/patient/?referrer=NHS_UK&amp;origin=about_nhs_login" role="button" draggable="false" class="nhsuk-button nhsuk-button--beta-login">Log in</a></li>
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/login" role="button" draggable="false" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0">Create an account</a>
    </ul>
</div>
    </div>  

  </div>
{% endblock %}
