{% extends 'layout.html' %}

{% block pageTitle %}
  Blank template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

  <h1>
    
      Use your NHS account to apply
    
  </h1>
    


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>

    

    
      
        
          



    <p data-block-key="azqqx">Using your NHS account means you'll have to answer fewer questions because the NHS already has this information. It could also save you time in completing this registration application.</p>

        
      
    
  </section>


  
    


  
    


  <section>

    

    
      
        
          

<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <h3 class="nhsuk-heading-m">Access your NHS account</h3>
    <ul class="nhsuk-list nhsuk-u-clear">
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/patient/?referrer=NHS_UK&amp;origin=about_nhs_login" role="button" draggable="false" class="nhsuk-button nhsuk-button--beta-login">Log in</a></li>
        <li class="nhsuk-u-float-left"><a href="https://www.nhsapp.service.nhs.uk/login" role="button" draggable="false" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0">Create an account</a>
    </ul>
</div>
    </div>  

  </div>
{% endblock %}
