{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'This address may be outside the area for this GP surgery' %}

{% block pageTitle %}
 {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['select-current-address']) %}
  {% set link = 'what-is-your-current-address' %}
{% else %}
  {% set link = 'what-is-your-current-address' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="" method="post" autocomplete="off">

      {% include 'live/includes/step.html' %}

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>If you entered the address manually we were unable to check if it was outside the catchment area for this surgery. This could be because you are living in a newly built house or recently converted flats.</p>
      <p>If your address is outside the area for this surgery it may affect some of the service they provide. The GP surgery can tell you if your address is outside their area.</p>


      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
