{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/templates/check-your-answers" method="post" class="form">

      {{ radios({
        "idPrefix": "example",
        "name": "example",
        "fieldset": {
          "legend": {
            "text": "Where do you want your pharmacy to be close to?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
          {{ hint({
            "html": '<p>Choose a location closest to your preferred pharmacy.</p>',
            "classes": "nhsuk-u-margin-bottom-4"
          }) }}  
        },
  
        "items": [
          {
            "value": "yes",
            "text": "Current address"
          },
          {
            "value": "yes",
            "text": "New GP surgery"
          },
          {
            "value": "no",
            "text": "Somewhere else"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue",
        "id": "btn_submit"
      }) }}

      <p>[See the <a href="https://service-manual.nhs.uk/design-system/componnets">NHS digital service manual</a> for examples.]</p>

    </form>

  </div>
</div>

{% endblock %}
