{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'Choose type of pharmacy'  %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['user-auth'] === "p9") %}
  {% set link = 'nominate-pharmacy-warning' %}
{% else %}
  {% set link = 'nominate-pharmacy' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "nominate-pharmacy-type",
              "name": "nominate-pharmacy-type",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": ""
              },
              "items": [
                {
                  "value": "Yes~/live/nominate-pharmacy-search",
                  "text": "High Street pharmacy",
                  "hint": {
                    "text": ""
                  },
                  checked: checked("nominate-pharmacy-type", "Yes")
                },
                {
                  "value": "No~/live/online-pharmacy",
                  "text": "Online-only pharmacy",
                  "hint": {
                    "text": "You will need to find and register with an online pharmacy yourself"
                  },
                  checked: checked("nominate-pharmacy-type", "No")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
