{% extends 'layout.html' %}

{% block pageTitle %}
  Content page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="example-hints-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Where do you want your pharmacy to be close to?
      </h1>
    </legend>
    <div class="nhsuk-hint" id="example-hints-hint">
      <p class="nhsuk-u-margin-bottom-2">Choose a location closest to your preferred pharmacy.</p>
    </div>
    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          Current address
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          New GP surgery
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio" value="not sure">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
          Somewhere else
        </label>
      </div>
    </div>
  </fieldset>
</div>
{{ button({
  "text": "Continue"
}) }}

{% endblock %}
