{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'High Street or online pharmacy'  %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['user-auth'] === "p9") %}
  {% set link = 'nominate-pharmacy-warning' %}
{% else %}
  {% set link = 'nominate-pharmacy' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

                <fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">
      High Street or online pharmacy
    </h1>
  </legend>


            <p>Choose how you get your prescription items such as medicines or medical aids.</p>
<ul>
  <li>High Street - You can collect your prescription items in person from a pharmacy near to you or your new surgery. They may also deliver.</li>
  <li>Online - These send your prescription items to you in the post.</li>
</ul>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>If you choose High Street we will help you find a pharmacy. If you choose an online pharmacy you will have to find and register with an online pharmacy yourself</p>
</div>
            
              <h2 style="font-size: 1.5rem; padding-top: 0;">How do you want to get your prescription items?</h2>
            

          





  

  
<div class="nhsuk-form-group">

  <div class="nhsuk-radios">
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="are-carer-1" name="are-carer" type="radio" value="Yes~/live/type-of-carer">
      <label class="nhsuk-label nhsuk-radios__label" for="are-carer-1">
        High Street
      </label>
    </div>
    
    
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" id="are-carer-2" name="are-carer" type="radio" value="No~/live/do-you-need-accessible-format">
      <label class="nhsuk-label nhsuk-radios__label" for="are-carer-2">
        Online
      </label>
    </div>
    
          
  </div>
</div>

         </fieldset>


          


  
    
  




<button class="nhsuk-button"
  data-module="nhsuk-button"
   type="submit">
  Continue
</button>




          </form>
        </div>
      </div>





          </main>
        </div>

    </div>  

  </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
