<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Start registration - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          Sharing your Summary Care Record
        </h1>
<p>Your GP surgery shares your important  healthcare information with other healthcare professionals in England when they provide you with direct care, such as emergency care or referral to a specialist service. This is called a Summary Care Record (SCR).</p>
        <h2>Why we share your information</h2>
<p>Your SCR is shared with healthcare professionals to ensure the quality and safety of your care. This reduces the risk of things like adverse medical reactions or delays in urgent care.</p>
        <h2>What information is shared</h2>
<p>Your SCR contains details of your:</p>
        <ul>
          <li>medicines</li>
          <li>allergies and adverse reactions</li>
          <li>illnesses and health problems</li>
          <li>past operations and vaccinations</li>
        </ul>

        <h2>Your rights</h2>
<p>You can choose not to share your SCR. However, this will mean healthcare professionals will not have access to important information about your healthcare. If you are happy with your SCR being shared you do not need to do anything. If you do not want to share your SCR, or you have previously chosen not to share your SCR and have changed your mind, <a href="https://digital.nhs.uk/services/summary-care-records-scr/scr-patient-consent-preference-form">download the SCR patient consent preference form (Word format, 79k)</a> and give it to your GP surgery.</p>
        
         <p><a href="who-is-registering" class="nhsuk-button nhsuk-button--green">Start now</a></p>



      </div>
    </div>

<!-- End of content -->

{% endblock %}
