{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Register with a GP surgery: {{ data.presets[0].gpsurgery }} - NHS
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-Xl">
          Register with a GP surgery: {{ data.presets[0].gpsurgery or '{ GP surgery}' }}, Stratford-upon-Avon
        </h1>

        <p>Use this service to register yourself or someone else with a GP surgery for the first time or to transfer to a new GP surgery.</p>

<p>Do not use this service if you:</p>
<ul>
  <li>need medical help right now. Instead visit <a href="https://111.nhs.uk/">NHS 111 online.</a></li>
  <li>want to make an urgent appointment. Instead you should contact your current GP using <a href="https://www.nhs.uk/service-search/find-a-gp/">Find a GP.</a></li>
  <li>want a temporary registration of less than 3 months. <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/#:~:text=Registering%20as%20a%20temporary%20resident">Find out about temporary registrations.</a></li>
  <li>are already registered with a GP surgery and want other <a href="https://www.nhs.uk/nhs-services/gps/online-health-and-prescription-services/">NHS online health and prescription services.</a></li>
</ul>
       
        <p><a href="/david/BYS" class="nhsuk-button">Start now</a></p>
    

        <h2 class="nhsuk-heading-l">Other ways to register</h2>

        <ul>
          <li>Fill in the <a href="">Register with a GP surgery paper form</a> (PDF, 199 KB, 8 pages) and take it to the surgery you want to join.</li> 
          <li>Contact the surgery you want to join directly.</li>
        </ul>
        
        <p>You can view <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">guidance about how to register with a GP.</a></p>
        <p>By using this service you are agreeing to our <a href="start">terms of use</a> and <a href="start">privacy policy.</a> </p>

      </div>
    </div>
{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
