{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}


{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'What is ' + data['name-first-name'] + "'s sex as recorded on their NHS record?" %}
  {% set hint1 = 'This information will be used to match them to their healthcare record' %}
{% else %}
  {% set heading = 'What is your sex as recorded on your NHS record?' %}
  {% set hint1 = 'This information will be used to match you to your healthcare record' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="is-sex-same" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              text: hint1,
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            {{ radios({
              "idPrefix": "gender",
              "name": "gender",
              "items": [
              {
                "value": "Female",
                "text": "Female",
                checked: checked("gender", "Female")
              },
              {
                "value": "Not specified or known",
                "text": "Not specified or known",
                checked: checked("gender", "Not specified or known")
              }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
