{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Confirm your new address - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="success-out-of-catchment" method="post" autocomplete="off">

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">Your home address</h1>
      </legend>

     
      <p>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Your home address
            </dt>
            <dd class="nhsuk-summary-list__value">
              111 Town Street,<br />
              London,<br />
              SW1A 1AA
            </dd>
            <!--
            <dd class="nhsuk-summary-list__actions">
              <a class="nhsuk-link" href="what-is-your-current-address">Change<span class="nhsuk-u-visually-hidden"> your address</span></a>
            </dd>
            -->
          </div>
        </dl>

        <p>Use this form to change your home address on your NHS record.</p>
        
        <p>If your new address is outside of your current GP surgery's catchment area, your GP may contact you to confirm this. You might:</p>

        <ul>
            <li>be able to stay with your current surgery</li>
            <li>stay with your current surgery, but with some changes to the care you get</li>
            <li>have to find a new GP surgery</li>
        </ul>

        <p>If your current surgery doesn't accept patients outside of their catchment area, you will have 30 days to <a href="https://www.nhs.uk/service-search/find-a-gp" target="_blank">find a new GP</a> to register with.</p>
>      
        
         <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
      After you update your address
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>You may not be able to see your health information in the NHS App if you are not registered with a GP surgery after this. Once you have registered, you will just need to log out of the App and log back in to see this information again.</p>

  </div>
</details>



        <h2 class="nhsuk-heading-m">Before you start</h2>

        <p>Speak to your current GP if you:</p>
        <ul>
            <li>are on a waiting list for elective surgery</li>
            <li>have any GP appointments you are waiting for</li>
            <!--<li>are waiting on a referral to hospital</li>-->
            <li>take any prescription medications</li>
        </ul>

       

      
       
        


   

      {{ button({
        "text": "Continue",
         "href": "start"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
