<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "what-is-your-email-address",
            "text": "Go back"
          }) }}

        <form action="do-you-have-communication-needs" method="post" autocomplete="off">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                How can we contact you?
              </h1>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
              <p>Your GP surgery will use these methods to contact you about your application, make appointments, provide prescriptions, and facilitate medical services</p>
              <p>Select all contact methods that are acceptable to you.</p>
            </div>

            <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-5">

              <div class="nhsuk-checkboxes__item contact-email-section hidden-section">
                <input class="nhsuk-checkboxes__input contact-email-section hidden-section" id="contact-prefs-1" name="contact-prefs-email" type="checkbox" value="Email">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-prefs-1">
                  Email
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="contact-prefs-1-hint">
                  {{ data['contact-email'] }}
                </div>
              </div>

              <div class="nhsuk-checkboxes__item contact-text-section hidden-section">
                <input class="nhsuk-checkboxes__input" id="contact-prefs-2" name="contact-prefs-text" type="checkbox" value="Text message">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-prefs-2">
                  Text message
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="contact-prefs-2-hint">
                  {{ data['contact-mobile-tel'] }}
                </div>
              </div>

              <div class="nhsuk-checkboxes__item contact-home-tel-section hidden-section">
                <input class="nhsuk-checkboxes__input" id="contact-prefs-3" name="contact-prefs-home-tel" type="checkbox" value="Home telephone">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-prefs-3">
                  UK Home telephone number
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="contact-prefs-3-hint">
                  {{ data['contact-home-tel'] }}
                </div>
              </div>

              <div class="nhsuk-checkboxes__item contact-mobile-tel-section hidden-section">
                <input class="nhsuk-checkboxes__input" id="contact-prefs-4" name="contact-prefs-mobile-tel" type="checkbox" value="Mobile Telephone">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-prefs-4">
                  UK Mobile telephone number
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="contact-prefs-4-hint">
                  {{ data['contact-mobile-tel'] }}
                </div>
              </div>

              <div class="nhsuk-checkboxes__item no-contact-prefs-section">
                <input class="nhsuk-checkboxes__input" id="contact-prefs-5" name="contact-prefs-none" type="checkbox" value="I do not want to be contacted">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-prefs-5">
                  I do not want to be contacted
                </label>
              </div>

            </div>

          </fieldset>

          <button class="nhsuk-button" type="submit">
            Continue
          </button>

        </form>

      </div>
    </div>
</section>

<!-- End of content -->

</div>
</div>

{% block pageScripts %}
<script>
  $(document).ready(function() {

    var email = "{{ data['contact-email'] }}";
    var text = "{{ data['contact-mobile-tel'] }}";
    var homeTel = "{{ data['contact-home-tel'] }}";
    var mobileTel = "{{ data['contact-mobile-tel'] }}";
    var noContact = "{{ data['contact-prefs-none'] }}"

    if (email) {
      $('.contact-email-section').removeClass("hidden-section")
    } else {}

    if (text) {
      $('.contact-text-section').removeClass("hidden-section")
    } else {}

    if (homeTel) {
      $('.contact-home-tel-section').removeClass("hidden-section")
    } else {}

    if (mobileTel) {
      $('.contact-mobile-tel-section').removeClass("hidden-section")
    } else {}

    if (noContact) {
      $('.no-contact-prefs-section').removeClass("hidden-section")
    } else {}

  });
</script>
{% endblock %}
{% endblock %}
