{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Does ' + data['name-first-name'] + ' have a contact in case of emergency?' %}
{% else %}
  {% set heading = 'Do you have an emergency contact?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['is-armed-forces-member'] === "Yes") %}
  {% set link = "are-you-a-member-of-armed-forces-details" %}
{% elif (data['is-armed-forces-member'] === "No") %}
  {% set link = "are-you-a-member-of-armed-forces" %}
{% else %}
  {% if (data['nominated-pharmacy']) %}
    {% set link = "confirm-pharmacy" %}
  {% else %}
    {% set link = 'nominate-pharmacy?' %}
  {% endif %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "This can be someone like a family member, friend or support worker..",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            {% if (data['registering-first-time'] === "Yes") %}

           {{ radios({
              "idPrefix": "emergency-contact",
              "name": "emergency-contact",
              "items": [
                {
                  "value": "Yes~/live/emergency-contact-details",
                  "text": "Yes",
                  "checked": checked("emergency-contact", "Yes")
                },
                {
                  "value": "No~/live/recently-move-to-the-uk",
                  "text": "No",
                  "checked": checked("emergency-contact", "No")
                }
              ]
            }) }}

            {% else %}

            {{ radios({
              "idPrefix": "emergency-contact",
              "name": "emergency-contact",
              "items": [
                {
                  "value": "Yes~/live/emergency-contact-details",
                  "text": "Yes",
                  "checked": checked("emergency-contact", "Yes")
                },
                {
                  "value": "No~/live/are-you-returning-from-overseas",
                  "text": "No",
                  "checked": checked("emergency-contact", "No")
                }
              ]
            }) }}

            {% endif %}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

      </div>
     </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
