{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Has ' + data['name-first-name'] + ' recently moved to the UK from another country?' %}
{% else %}
  {% set heading = 'Have you recently moved to the UK from another country?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['emergency-contact'] === 'Yes') %}
  {% set link = 'emergency-contact-details' %}
{% else %}
  {% set link = 'do-you-have-emergency-contact' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
  "href": link,
  "text": "Go back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <form action="" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <p>Anybody in England can register with a GP surgery and receive free primary medical care.</p>

          {{ radios({
            "idPrefix": "recently-moved",
            "name": "recently-moved",
            "items": [
              {
                "value": "Yes~/live/where-were-you-born-place-outside-uk",
                "text": "Yes",
                "checked": checked("recently-moved", "Yes")
              },
              {
                "value": "No~/live/where-were-you-born",
                "text": "No",
                "checked": checked("recently-moved", "No")
              }
            ]
          }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}