{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Select an address' %}
{% else %}
  {% set heading = 'Select an address' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-current-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% include 'live/includes/step.html' %}

          <form action="what-is-your-current-address-selection-post" method="post" autocomplete="off">

              {% call fieldset({
                legend: {
                  text: heading,
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              <p>6 addresses found for {{ data['house-number-address'] ~ ' and ' ~ data['find-current-address'] if data['house-number-address'] and data['find-current-address'] else '24 and LS13 9PO' }}</p>

              {{ radios({
                "idPrefix": "select-current-address",
                "name": "select-current-address",
                "items": [
                  {
                    "value": "address1",
                    "text": "1 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-address", "address1")
                  },
                  {
                    "value": "address2",
                    "text": "2 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-address", "address2")
                  },
                  {
                    "value": "address3",
                    "text": "3 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-addresss", "address3")
                  },
                  {
                    "value": "address4",
                    "text": "4 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-addresss", "address4")
                  },
                  {
                    "value": "address5",
                    "text": "5 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-address", "address5")
                  },
                  {
                    "value": "address6",
                    "text": "6 Town Street, London, SW1A 1AA",
                    "checked": checked("select-current-address", "address6")
                  }
                ]
              }) }}

              {% endcall %}

              <p>
                <a href="what-is-your-current-address-manual" id="enter-address-manually-link">Enter the address manually</a>
              </p>

            {{ button({
                "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode dev-mode--routing" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="nhsuk-details__summary-text">
        Routing choices
      </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Routes catchment area</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="current-address-out-of-area">Outside catchment area</a>
      </li>
      <li>
        <a href="not-accepting-registrations">Outside catchment area and GP surgery not accepting out-of-catchment registrations</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
