<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          {% if data['user-auth'] == "p9" %}
          <form action="what-is-your-gender" method="post" autocomplete="off">
          {% else %}
          <form action="how-can-we-contact-you" method="post" autocomplete="off">
          {% endif %}


            {% call fieldset({
              legend: {
                text: "Select your address",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <div class="nhsuk-hint" id="contact-hint">
              <p>6 addresses found for <strong>{{ data['house-number-address'] }}</strong> <strong>{{ data['find-current-address'] }}</strong></p>
            </div>


                {{ radios({
                    "idPrefix": "select-current-address",
                    "name": "select-current-address",


                  "items": [
                    {
                      "value": "1 Town Street, London, SW1A 1AA",
                      "text": "1 Town Street, London, SW1A 1AA",
                      "hint": {
                    },
                      checked: checked("select-current-address", "1 Town Street, London, SW1A 1AA")
                    },
                    {
                      "value": "2 Town Street, London, SW1A 1AA",
                      "text": "2 Town Street, London, SW1A 1AA",
                      "hint": {
                    },
                      checked: checked("select-current-address", "2 Town Street, London, SW1A 1AA")
                    },    {
                          "value": "3 Town Street, London, SW1A 1AA",
                          "text": "3 Town Street, London, SW1A 1AA",
                          "hint": {
                        },
                          checked: checked("select-current-addresss", "3 Town Street, London, SW1A 1AA")
                        },
                        {
                          "value": "4 Town Street, London, SW1A 1AA",
                          "text": "4 Town Street, London, SW1A 1AA",
                          "hint": {
                        },
                          checked: checked("select-current-addresss", "4 Town Street, London, SW1A 1AA")
                        },
                        {
                          "value": "5 Town Street, London, SW1A 1AA",
                          "text": "5 Town Street, London, SW1A 1AA",
                          "hint": {
                        },
                          checked: checked("select-current-address", "5 Town Street, London, SW1A 1AA")
                        },
                        {
                          "value": "6 Town Street, London, SW1A 1AA",
                          "text": "6 Town Street, London, SW1A 1AA",
                          "hint": {
                        },
                          checked: checked("select-current-address", "6 Town Street, London, SW1A 1AA")
                    }
                  ]
                }) }}

                {% endcall %}

                <p>
                  <a href="/sprint-4/what-is-your-current-address-manual" id="enter-address-manually-link">I cannot find my address on the list</a>
                </p>


              {{ button({
                  "text": "Continue"
              }) }}




          </form>
        </div>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}

{% endblock %}

{% endblock %}
