
{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Out of area
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      text: "Go back",
      href: "javascript:history.go(-1)"
    }) }}

    <form action="" method="post" autocomplete="off">

     <h1 class="nhsuk-heading-l">
      This address is outside the area for this GP surgery
      </h1>

      <p>Some GP surgeries will only accept patients that live within the area they cover. 
        You can continue with this registration, but it may not be accepted.</p>

        <p>Choosing a surgery outside your area means:</p>
         <ul>
           <li>you may not be offered home visits</li>
           <li>it could affect referrals for hospital tests and treatment, or community health services</li>
         </ul>

       <p>You should speak to the GP surgery about your options, or find a surgery for this address using the <a href="https://www.nhs.uk/service-search/find-a-gp" target="_blank" rel="noopener noreferrer">Find a GP service.</a>.</p>

       <p>Find out more about <a href="https://www.nhs.uk/nhs-services/gps/registering-with-a-gp-outside-your-area/" target="_blank" rel="noopener noreferrer">registering with a GP surgery outside the area you live.</a>.</p>






      {{ radios({
          "idPrefix": "use-ooo",
          "name": "use-ooo",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": "What would you like to do?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "Yes~/sprint-11/section-2/how-can-we-contact-you",
              "text": "Continue with this registration",
              "hint": {
                "text": "If the surgery is not accepting out of area registrations they could reject this application."
              },
              checked: checked("relation", "Carer")
            },
            {
              "value": "Yes~https://www.nhs.uk/service-search/find-a-gp",
              "text": "Cancel this registration ",
              "hint": {
                "text": "When you select 'Continue' you will be taken to the Find a GP service. Any answers given so far will not be saved and you will have to start again."
              },
              checked: checked("relation", "Carer")
            }
          ]
      }) }}


    {{ button({
      "text": "Continue"
    }) }}

  </form>
  </div>
</div>


{% endblock %}
