{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Sorry, there is a problem</h1>
    <p>This may be a temporary problem.</p>
    <p>Close this tab and try logging in again. If you cannot log in, try again later.</p>
    <h2 class="nhsuk-heading-m">Other ways to change your address</h2>
    <p>You can also change your home address by registering with your nearest GP surgery.</p>
    {{ actionLink({
      text: "Find your nearest GP surgery",
      href: "https://www.nhs.uk/service-search/find-a-gp/"
    }) }}

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
