{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Thank you for your feedback - {{ ServiceName }} - NHS
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div aria-live="polite" class="nhsuk-u-reading-width">
           <div class="nhsuk-card">
             <div class="nhsuk-card__content">
               <h1 class="nhsuk-card__heading nhsuk-heading-l">Thank you for your feedback</h1>
               <p class="nhsuk-card__description">We appreciate your help and will use your feedback to improve our service.</p>
             </div>
           </div>
           </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
