{% extends 'mpr/_layout.html' %}

{% set pageName = "Pending removals - Manage patient registrations - NHS" %}

{% block beforeContent %}
  {{ backLink({
      href: "/mpr-removals/main/dashboard",
      text: "Go back"
    }) 
  }}
{% endblock %}

{% block content %}

  <h1 class="nhsuk-heading-xl">Pending removals</h1>

  <p>Patients pending removal from your practice list.</p>

  {% set pendingRemovalRows = [] %}
  {% for ref, removal in data.pendingRemovals %}
    {% set pendingRemovalRows = pendingRemovalRows.concat([[
      {
        html: '<a href="/mpr-removals/main/pending-removals/' + ref + '">' + ref + '</a>'
      },
      {
        text: removal.firstName + ' ' + removal.lastName
      },
      {
        text: removal.nhsNumber
      },
      {
        text: removal.createdDate
      },
      {
        text: removal.deductionDate
      }
    ]]) %}

  {% endfor %}

  {{ table({
    responsive: true,
    head: [
      {
        text: "Reference number"
      },
      {
        text: "Patient name"
      },
      {
        text: "NHS number"
      },
      {
        text: "Requested date"
      },
      {
        text: "Removal date"
      }
    ],
    rows: pendingRemovalRows
  }) }}
{% endblock %}