{% extends 'mpr/_layout.html' %}

{% set pageName = "Removal reason - Patient deductions - Manage patient registrations - NHS" %}

{% block beforeContent %}
  {{ backLink({
      href: "/mpr-removals/main/confirm-patient",
      text: "Go back"
    }) 
  }}
{% endblock %}

{% block content %}

  {% set newRemoval = data.newRemoval or {} %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="/mpr-removals/main/removal-reason-routing">

        {{ radios({
          idPrefix: "deductionReason",
          name: "newRemoval[deductionReason]",
          fieldset: {
            legend: {
              html: "<span class=\"nhsuk-caption-l\">Deduct a patient from your practice list</span> Deduction reason",
              size: "xl",
              isPageHeading: true
            }
          },
          value: newRemoval.deductionReason,
          items: [
            {
              value: "Moved outside practice boundary",
              text: "Moved outside practice boundary"
            },
            {
              value: "Left education establishment",
              text: "Left education establishment"
            },
            {
              value: "Moved abroad (embarkation)",
              text: "Moved abroad (embarkation)"
            },
            {
              value: "Death",
              text: "Death"
            },
            {
              value: "Police incident requiring urgent removal",
              text: "Police incident requiring urgent removal"
            },
            {
              value: "Breakdown of relationship",
              text: "Breakdown of relationship",
              hint: {
                text: "Due to inappropriate and unacceptable patient behaviours for example threatening or abusive behaviour towards staff or patients."
              }
            },
            {
              value: "Repeated, unjustified non-attendance of appointments",
              text: "Repeated, unjustified non-attendance of appointments"
            },
            {
              value: "Removal at patient's request",
              text: "Removal at patient's request"
            }
          ]
        }) }}

        {{ button({ text: 'Continue' }) }}
      </form>

    </div>
  </div>

{% endblock %}
