<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="what-is-your-current-address" method="post" autocomplete="off">
            {% set whiteBackground %}
            {{ input({
                id: "white-background",
                name: "white-background",
                classes: "nhsuk-u-width-two-thirds",
                label: {
                text: "How would you describe your background? (optional)"
                }
            }) }}
            {% endset -%}

            {{ radios({
              "idPrefix": "ethnicity",
              "name": "ethnicity",
              "fieldset": {
                "legend": {
                  "text": "Which of the following best describes your White background?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Select one option"
              },
              "items": [
              {
                "value": "English, Welsh, Scottish, Northern Irish or British",
                "text": "English, Welsh, Scottish, Northern Irish or British",
                "hint": {
                  "text": ""
                },
                checked: checked("ethnicity", "English, Welsh, Scottish, Northern Irish or British")
              },
              {
                "value": "Irish",
                "text": "Irish",
                "hint": {
                  "text": ""
                },
                checked: checked("ethnicity", "Irish")
              },
              {
                "value": "Gypsy or Irish Traveller",
                "text": "Gypsy or Irish Traveller",
                "hint": {
                  "text": ""
                },
                checked: checked("ethnicity", "Gypsy or Irish Traveller")
              },
                {
                  "value": "Any other white background",
                  "text": "Any other white background",
                  "conditional": {
                    "html": whiteBackground
                  },
                  checked: checked("ethnicity", "Any other white background")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say",
                  "text": "Prefer not to say",
                  checked: checked("ethnicity", "Prefer not to say")
                }
              ]
            }) }}

            {{ details({
              "text": "Why are we asking this?",
              "HTML": "<p>We collect this information to better tailor healthcare services to your needs. We do not discriminate on grounds of ethnicity.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
