<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          Session Data - Prototype
        </h1>
        <p>Current data been stored within the prototype.</p>

        <table class="nhsuk-table">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">

      <th role="columnheader" class="" scope="col">Name</th>
      <th role="columnheader" class="" scope="col">Data held in session</th>
    </tr>
    </thead>
  <tbody class="nhsuk-table__body">

    {% for key, item in data %}
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell" scope="row">{{ key }}</td>
      <td class="nhsuk-table__cell ">{{ item }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>





<!-- End of content -->

</div>
</div>
{% endblock %}
