<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Page listings - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">Prototype work</span>
            Page by page listings
        </h1>

          <p class="nhsuk-body-s">Last updated: 15 March 2023</p>
          <p><a href="data">Data been stored as part of current session</a></p>

  <h2 class="nhsuk-heading-l">Patient details</h2>

          <h4 class="nhsuk-heading-s">Start</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/start" >Service start page</a></li>
              <li><a href="/sprint-13/section-1/who-is-registering" >Who is registering with a GP?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Dependant</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/relation-of-dependant" >What is your relation to the dependant?</a></li>
              <li><a href="/sprint-13/section-1/carer-type" >What type of carer are you?</a></li>
              <li><a href="/sprint-13/section-1/carer-details" >What are your details?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Login options</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/continue-with-nhs-login" >Would you like to sign in?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">NHS Login</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/nhs-login-email-address" >Enter your email address</a></li>
              <li><a href="/sprint-13/section-1/nhs-login-password" >Enter your password</a></li>
              <li><a href="/sprint-13/section-1/nhs-login-otp" >Check your mobile phone</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">NHS Login (P9)</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/is-this-your-current-address" >Is this your current address?</a></li>
              <li><a href="/sprint-13/section-1/confirm-contact-details" >Is these your contact details?</a></li>
          </ul>


          <h4 class="nhsuk-heading-s">Demographics</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/what-is-your-name" >What is your name?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-date-of-birth" >What is your date of birth?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Gender</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/what-is-your-gender" >What is your gender?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-gender-at-birth" >What is was your gender at birth?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Place of birth</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="/sprint-13/section-1/where-were-you-born" >Where were you born</a></li>
          <li><a href="/sprint-13/section-1/where-were-you-born-place-uk" >Where were you born (UK)</a></li>
          <li><a href="/sprint-13/section-1/where-were-you-born-place-outside-uk" >Where were you born (Outside-UK)</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Ethnicity</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity" >What is your ethnic group?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity-background-white" >Which of the following best describes your White background?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity-background-mixed" >Which of the following best describes your Mixed or Multiple ethnic groups background?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity-background-asian" >Which of the following best describes your Asian or Asian British background?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity-background-black" >Which of the following best describes your Black, African, Caribbean or Black British background?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-ethnicity-background-another" >Which of the following best describes your background?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Address</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/do-you-current-address" >Do you have a current UK address?</a></li>
              <li><a href="/sprint-13/section-1/current-address-out-of-area" >No address catchment prompt</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-current-address" >What is your current UK home address?</a></li>
              <li><a href="/sprint-13/section-1/current-address-out-of-area" >This address is not in your chosen GP surgery's catchment area </a></li>
          </ul>

          <!-- <h4 class="nhsuk-heading-s">Under 12 months</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/where-was-the-child-born" >Where was the child born?</a></li>
              <li><a href="/sprint-13/section-1/do-you-know-previous-postcode-when-baby-born" >Do you know the postcode for the address where you were living when your baby was born?</a></li>
              <li><a href="/sprint-13/section-1/what-is-previous-postcode-of-mother" >Enter the postcode for the address where you were living when your baby was born</a></li>
          </ul> -->


          <h4 class="nhsuk-heading-s">NHS number</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/do-you-know-nhs-number" >Do you know your NHS Number?</a></li>
              <li><a href="/sprint-13/section-1/what-is-your-nhs-number" >What is your NHS number?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Contact preferences</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-1/how-can-we-contact-inputs" >What are your contact details?</a></li>
            <li><a href="/sprint-13/section-1/how-can-we-contact-inputs-prompt" >Are you sure that you have no access to a phone or email??</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Emergency contact</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/do-you-have-emergency-contact" >Do you have an emergency contact?</a></li>
              <li><a href="/sprint-13/section-1/emergency-contact-details" >What are the details of your emergency contact?</a></li>
          </ul>


          <h4 class="nhsuk-heading-s">Check answers for Patient details</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-1/check-answers-1" >Confirm details for Patient details</a></li>
          </ul>


  <h2 class="nhsuk-heading-l">Registration type</h2>


        <h4 class="nhsuk-heading-s">Registered with a UK GP?</h4>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-2/registered-for-the-first-time" >Are you registering with a UK GP for the first time?</a></li>
            <li><a href="/sprint-13/section-2/do-you-know-previous-postcode-gp-has" >Do you know the postcode you last registered with a UK GP?</a></li>
            <li><a href="/sprint-13/section-2/what-is-previous-postcode-gp-has" >What postcode does your last GP hold for you?</a></li>
        </ul>

        <h4 class="nhsuk-heading-s">First time reg and returning from overseas</h4>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-2/recently-move-to-the-uk" >Have you recently moved to the UK from another country?</a></li>
            <li><a href="/sprint-13/section-2/recently-moved-date" >When did they enter UK?</a></li>
            <li><a href="/sprint-13/section-2/recently-moved-eea" >Have you moved to UK from living in EU, EEA or Switzerland?</a></li>
            <li><a href="/sprint-13/section-2/recently-moved-documents" >Do you have any of these documents?</a></li>
            <li><a href="/sprint-13/section-2/document-details-ehic" >European health insurance card details</a></li>
            <li><a href="/sprint-13/section-2/immigration-surcharge" >Do you know your chargeable status?</a></li>
            <li><a href="/sprint-13/section-2/overseas-declaration-ehic" >EHIC declaration</a></li>
            <li><a href="/sprint-13/section-2/overseas-declaration-none-eu" >None eu</a></li>
            <li><a href="/sprint-13/section-2/overseas-declaration-s1" >S1</a></li>
            <li><a href="/sprint-13/section-2/overseas-declaration-nodocs" >No docs</a></li>
        </ul>

        <h4 class="nhsuk-heading-s">First time reg and not returning from overseas</h4>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-2/are-you-returning-from-overseas" >Are you returning from overseas?</a></li>
            <li><a href="/sprint-13/section-2/do-you-previous-address" >Do you have previous address?</a></li>
        </ul>

        <h4 class="nhsuk-heading-s">Not first time reg and returning/not from overseas</h4>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-2/are-you-returning-from-overseas" >Are you returning from overseas?</a></li>
            <li><a href="/sprint-13/section-2/date-left-uk" >When date did you leave the UK?</a></li>
            <li><a href="/sprint-13/section-2/date-returned-uk" >When date did you return to the UK?</a></li>
            <li><a href="/sprint-13/section-2/what-is-your-gp-address" >What is the address of the GP surgery you want to leave?</a></li>
            <li><a href="/sprint-13/section-2/do-you-previous-address" >Do you have previous address?</a></li>
        </ul>


          <h4 class="nhsuk-heading-s">Nominate pharmacy</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-2/nominate-pharmacy" >Would you like to nominate a pharmacy for your prescriptions?</a></li>
              <li><a href="/sprint-13/section-2/nominate-online-or-street" >Online or highstreet?</a></li>
              <li><a href="/sprint-13/section-2/nominate-pharmacy-search" >Find a pharmacy</a></li>
              <li><a href="/sprint-13/section-2/nominate-pharmacy-search-selection" >Pharmacies near</a></li>
              <li><a href="/sprint-13/section-2/confirm-pharmacy" >Pharmacies confirm</a></li>
              <li><a href="/sprint-13/section-2/online-pharmacy" >Online Pharmacies</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Check answers for Registration type</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-2/check-answers-2" >Confirm details for Registration type</a></li>
          </ul>





  <h2 class="nhsuk-heading-l">Additional information</h2>

          <h4 class="nhsuk-heading-s">Armed forces</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-3/are-you-a-member-of-armed-forces" >Have you ever been a member of the armed forces?</a></li>
              <li><a href="/sprint-13/section-3/are-you-a-member-of-armed-forces-details" >Recent Armed Forces leavers and their families</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Language interpreter</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-3/do-you-need-a-interpreter" >Do you need an language interpreter?</a></li>
              <li><a href="/sprint-13/section-3/do-you-need-a-interpreter-language" >Which language do you need an interpreter for?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Carer</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="/sprint-13/section-3/do-you-have-a-carer" >Do you have a carer?</a></li>
          <li><a href="/sprint-13/section-3/carer-details" >What are the details of your carer?</a></li>
          <li><a href="/sprint-13/section-3/are-you-a-carer" >Are you a carer?</a></li>
          <li><a href="/sprint-13/section-3/type-of-carer" >What type of carer best describes you?</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Accessible format & Reasonable adjustments</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="/sprint-13/section-3/do-you-need-accessible-format" >Do you need to be communicated with in an accessible format?</a></li>
          <li><a href="/sprint-13/section-3/do-you-need-accessible-format-details" >About your communication needs</a></li>
          <li><a href="/sprint-13/section-3/do-you-need-reasonable-adjustments" >Do you need any reasonable adjustments to make your visit to the GP surgery accessible?</a></li>
          <li><a href="/sprint-13/section-3/do-you-need-reasonable-adjustments-details" >About your reasonable adjustments</a></li>
          </ul>

          <!-- <h4 class="nhsuk-heading-s">Child care contacts</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="/sprint-13/section-3/what-schooling-do-you-have" >Do they attend any of the following? (schooling)</a></li>
            <li><a href="/sprint-13/section-3/schooling-details" >What are the school's contact details?</a></li>
            <li><a href="/sprint-13/section-3/professional-involvement" >Do they have contact with any of the following? (Professional involvement)</a></li>
          </ul> -->


          <h4 class="nhsuk-heading-s">Dispencing surgery</h4>
           <ul class="nhsuk-list nhsuk-list--bullet">
               <li><a href="/sprint-13/section-3/dispencing-surgery" >Dispencing surgery</a></li>
               <li><a href="/sprint-13/section-3/distance-from-nearest-pharmacy" >Do you live more than 1 mile from your nearest pharmacy?</a></li>
               <li><a href="/sprint-13/section-3/would-you-have-difficulty-reaching-pharmacy" >Would you have serious dificulty getting to your nearest pharmacy?</a></li>
               <li><a href="/sprint-13/section-3/can-use-dispencing" >Patient is eligible for dispencing dr</a></li>
               <li><a href="/sprint-13/section-3/cant-use-dispencing" >Patient is not eligible for dispencing dr</a></li>
           </ul>

           <h4 class="nhsuk-heading-s">Check answers for Additional information</h4>
           <ul class="nhsuk-list nhsuk-list--bullet">
               <li><a href="/sprint-13/section-3/check-answers-3" >Confirm details for Additional information</a></li>
           </ul>



           <h2 class="nhsuk-heading-l">Health information (review and submit)</h2>

           <h4 class="nhsuk-heading-s">Immunisations (under 18)</h4>
         <ul class="nhsuk-list nhsuk-list--bullet">
             <li><a href="/sprint-13/section-4/are-you-immunised" >Have you got all your immunisations?</a></li>
             <li><a href="/sprint-13/section-4/are-you-immunised-uk" >Did you get the immunisations in the UK?</a></li>
             <li><a href="/sprint-13/section-4/do-you-have-existing-conditions" >Do you have existing conditions?</a></li>
             <li><a href="/sprint-13/section-4/what-existing-conditions-do-you-have" >More details about your current and pre-existing medical conditions?</a></li>
             <li><a href="/sprint-13/section-4/do-you-have-allergies" >Do you have any allergies?</a></li>
             <li><a href="/sprint-13/section-4/do-you-have-any-mental-health-conditions" >Do you have any mental health conditions?</a></li>
             <li><a href="/sprint-13/section-4/do-you-have-any-disabilities" >Do you have any disabilities?</a></li>
           </ul>

         <ul class="nhsuk-list nhsuk-list--bullet">
              <li><a href="/sprint-13/section-4/do-you-take-prescription-medication" >Do you currently take any prescription medication?</a></li>
              <li><a href="/sprint-13/section-4/medication-details-repeat" >Are any of these repeat prescriptions?</a></li>
              <li><a href="/sprint-13/section-4/how-often-do-you-drink-alcohol" >How often do you drink alcohol?</a></li>
              <li><a href="/sprint-13/section-4/how-many-units-of-alcohol" >How many units of alcohol do you consume in an average week?</a></li>
              <li><a href="/sprint-13/section-4/how-often-six-or-more-units" >How often have you had six or more units of alcohol on a single occasion in the last year?</a></li>
              <li><a href="/sprint-13/section-4/do-you-smoke" >Have you ever smoked?</a></li>
              <li><a href="/sprint-13/section-4/do-you-smoke-type" >What best describes you?</a></li>
              <li><a href="/sprint-13/section-4/do-you-smoke-date" >When did you stop smoking?</a></li>

          </ul>

            <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="/sprint-13/section-4/check-answers-b" >Check your answers before submitting?</a></li>
                  <li><a href="/sprint-13/section-4/confirmation-page" >Confirmation</a></li>
                  <li><a href="/emails/patient-submission-email" >Patient email</a></li>
                  <li><a href="/emails/gp-email" >GP email</a></li>
            </ul>



    <h2 class="nhsuk-heading-l">Common pages</h2>

              <p>Common components and pages across the service</p>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="/errors/what-is-your-current-address-selection-noresults" >Postcode no results listing</a></li>
                  <li><a href="/loading/spinner" >Spinner/Loading</a></li>
                  <li><a href="/cookie-banner" >Cookie banner</a></li>
                  <li><a href="/cookie-banner-additional" >Cookie banner for additional cookies</a></li>
                  <li><a href="/legal/privacy" >Your privacy on NHS GP Registration</a></li>
                  <li><a href="/legal/terms" >Terms and conditions</a></li>
                  <li><a href="/legal/cookies" >Cookies</a></li>
                  <li><a href="/legal/accessibility-statement" >Accessbility</a></li>
                  <li><a href="/feedback-link" >Feedback link</a></li>
                  <li><a href="/errors/error-session-timeout" >Error: Session timeout</a></li>
                  <li><a href="/errors/error-404" >Error: 404</a></li>
                  <li><a href="/errors/service-down" >Service down</a></li>
                  <li><a href="/errors/javascript-not-enabled" >Javascript not enabled</a></li>
                  <li><a href="/errors/service-off" >Service turned off</a></li>
                  <li><a href="/error-404-bad-url-or-ods" >Bad url or ODS code</a></li>
                  <li><a href="/errors/modal-timeout" >Session timeout modal</a></li>
              </ul>


        <h2 class="nhsuk-heading-l">GP registration portal</h2>

            <p>GP self enrollment portal within profile manager</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                <li><a href="/gp/gp-start" >GP Start</a></li>
                <li><a href="/gp/gp-service-confirm" >Confirm service</a></li>
                <li><a href="/gp/gp-practices" >Practice listing</a></li>
                <li><a href="/gp/gp-shared-mailbox" >NHS shared mailbox</a></li>
                <li><a href="/gp/gp-verification-code" >Verification code</a></li>
                <li><a href="/gp/gp-additional-questions-language-interpretation" >Does your surgery offer a language interpretation service for patients?</a></li>
                <li><a href="/gp/gp-additional-questions-nominated-pharmacy" >Do you want to offer your patients the opportunity to nominate a pharmacy during their registration?</a></li>
                <li><a href="/gp/gp-answers" >Confirm details</a></li>
                <li><a href="/gp/gp-reg-complete" >Confirmation</a></li>
                <li><a href="/emails/gp-onboard-confirmation" >Confirmation email</a></li>
                <li><a href="/gp/gp-manage" >Manage</a></li>
                <li><a href="/gp/gp-privacy" >Privacy</a></li>
                <li><a href="/gp/gp-error-404" >Sorry, there is a problem with the service.</a></li>
                <li><a href="/gp/gp-error-403" >Sorry, something went wrong.</a></li>

            </ul>
  </div>



<!-- End of content -->

</div>
</div>
{% endblock %}
