{% extends 'reg-portal/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Page listings - Manage patient registrations - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1 class="app-page-heading">
        <span class="nhsuk-caption-l">Prototype work</span>
        Page by page listings
    </h1>
    <p><a href="data">Data been stored as part of current session</a></p>


    <h2 class="nhsuk-heading-l">Login</h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="/reg-portal/login">Service start page</a></li>
      <li><a href="/reg-portal/login-options">CIS2 login options</a> - We don't own the design of this page</li>
    </ul>

    <h2 class="nhsuk-heading-l">Dashboard</h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="/reg-portal/dashboard">Dashboard</a></li>
    </ul>

    <h2 class="nhsuk-heading-l">Patient registrations</h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="/reg-portal/reg-table-v2-yes-no">Registrations table</a></li>
      <li><a href="/reg-portal/reg-table-v2-yes-no-page-2">Registrations table - page 2 example</a></li>
      <li><a href="/reg-portal/reg-table-v2-yes-no-sorted">Registrations table - sort by name a-z example</a></li>
      <li><a href="/reg-portal/reg-table-v2-yes-no-sorted-reverse">Registrations table - sort by name z-a example</a></li>
    </ul>

    <h2 class="nhsuk-heading-l">Registration details</h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="/reg-portal/reg-detail-multi-detail">Adult registration</a></li>
      <li><a href="/reg-portal/reg-detail-multi-detail-child">Child, out of catchment registration</a></li>
    </ul>

    <h2 class="nhsuk-heading-l">Approve or reject registration</h2>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="/reg-portal/accept-confirm">Approval confirmed</a></li>
      <li><a href="/reg-portal/reject-reasons">Rejection reasons</a></li>
      <li><a href="/reg-portal/reject-confirm">Rejection confirmed</a></li>
    </ul>

  </div>
</div>

{% endblock %}
