<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Pre-load - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">
            Preload type of user data
        </h1>

          <p class="nhsuk-body">Preload the prototype with user data otherwise it will use default details.</p>


            <form action="" method="post" autocomplete="off">

              {% call fieldset({
                legend: {
                  text: "Myself login levels",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              {{ radios({
                "idPrefix": "user-auth",
                "name": "user-auth",
                "items": [
                  {
                    "value": "un-authed",
                    "text": "Un-authed",
                    checked: checked("user-auth", "un-authed")
                  },
                  {
                    "value": "nomatch",
                    "text": "No match PDS",
                    checked: checked("user-auth", "nomatch")
                  },
                  {
                    "value": "p9",
                    "text": "P9",
                    checked: checked("user-auth", "p9")
                  },
                  {
                    "value": "p5",
                    "text": "P5",
                    checked: checked("user-auth", "p5")
                  }
                ]
              }) }}

              <h3>Parent login</h3>

              {{ radios({
                "idPrefix": "login-level",
                "name": "login-level",
                "items": [
                  {
                    "value": "parent-same-gp",
                    "text": "Parent registered at same GP",
                    checked: checked("login-level", "parent-same-gp")
                  },
                  {
                    "value": "parent-same-gp-no-nhs",
                    "text": "Parent registered at same GP but no NHS number",
                    checked: checked("login-level", "parent-same-gp-no-nhs")
                  },
                  {
                    "value": "parent-diff-gp",
                    "text": "Parent registered at different GP",
                    checked: checked("login-level", "parent-diff-gp")
                  }
                ]
              }) }}

              <h3>Under 12 months</h3>

              {{ radios({
                "idPrefix": "under-12-months",
                "name": "under-12-months",
                "items": [
                {
                  "value": "under-12-months",
                  "text": "Under 12 months",
                  "checked": checked("under-12-months", "under-12-months")
                }
                ]
              }) }}

              {% endcall %}

              {{ button({
                "text": "Continue"
              }) }}

            </form>


  </div>
</section>



<!-- End of content -->

</div>
</div>
{% endblock %}
