<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Pre-load - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">
            Preload type of user data
        </h1>

          <p class="nhsuk-body">Preload the prototype with user data otherwise it will use default details.</p>


            <form action="" method="post" autocomplete="off">

              {% call fieldset({
                legend: {
                  text: "Authentication level (NHS Login)",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              {{ radios({
                "idPrefix": "user-auth",
                "name": "user-auth",
                "items": [
                  {
                    "value": "un-authed",
                    "text": "Un-authed",
                    checked: checked("user-auth", "un-authed")
                  },
                  {
                    "value": "nomatch",
                    "text": "No match PDS",
                    checked: checked("user-auth", "nomatch")
                  },
                  {
                    "value": "p9",
                    "text": "p9",
                    checked: checked("user-auth", "p9")
                  },
                  {
                    "value": "p5",
                    "text": "p5",
                    checked: checked("user-auth", "p5")
                  }
                ]
              }) }}

              <h3>Under 12 months</h3>

              {{ radios({
                "idPrefix": "under-12-months",
                "name": "under-12-months",
                "items": [
                {
                  "value": "under-12-months",
                  "text": "Under 12 months",
                  "checked": checked("under-12-months", "under-12-months")
                }
                ]
              }) }}

              <h3>Prototype version</h3>

              {{ radios({
                "idPrefix": "Prototype version",
                "name": "proto-version",
                "items": [
                {
                  "value": "Sprint-5~/sprint-6/section-1/start",
                  "text": "Sprint 6",
                  "checked": checked("proto-version", "sprint-6")
                },
                {
                  "value": "Sprint-5~/sprint-5/section-1/start",
                  "text": "Sprint 5",
                  "checked": checked("proto-version", "sprint-5")
                },
                {
                  "value": "Sprint-4~/sprint-4/start",
                  "text": "Sprint 4",
                  "checked": checked("proto-version", "sprint-4")
                },
                {
                  "value": "Sprint-3~/sprint-3/start",
                  "text": "Sprint 3",
                  "checked": checked("proto-version", "sprint-3")
                },
                  {
                    "value": "Sprint-2~/sprint-2/start",
                    "text": "Sprint 2",
                    "checked": checked("proto-version", "sprint-2")
                  },
                  {
                    "value": "Sprint-1~/sprint-1/start",
                    "text": "Sprint 1",
                    "checked": checked("proto-version", "pilot")
                  },
                  {
                    "value": "Pilot~/pilot",
                    "text": "Pilot",
                    "checked": checked("proto-version", "pilot")
                  }
                ]
              }) }}

              <!-- <h3>Sprint 4 A/B for Questionairre</h3>

              {{ radios({
                "idPrefix": "ab",
                "name": "ab",
                "items": [
                {
                  "value": "a~/sprint-4/start",
                  "text": "A (Questionnaire post search)",
                  "checked": checked("ab", "a")
                },
                {
                  "value": "b~/sprint-4/start",
                  "text": "B (Questionnaire upfront)",
                  "checked": checked("ab", "b")
                }
                ]
              }) }} -->


              {% endcall %}

              {{ button({
                "text": "Continue"
              }) }}

            </form>


  </div>
</section>



<!-- End of content -->

</div>
</div>
{% endblock %}
