<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
User research - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">User research</h1>

        <ul class="nhsuk-list nhsuk-body-s">
          <li>Last updated: 13 Oct 2021</li>
        </ul>


        <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary details-index">
        <span class="nhsuk-details__summary-text">22-24 Oct 2021 (GP admin)</span>
        </summary>
        <div class="nhsuk-details__text version-text">
        <br>

          <h2 class="nhsuk-heading-l">Unauth from find a GP</h2>
          <p>Find Gp entry to service</p>


          <form action="/user-research/22-24-oct/find-gp/google" method="post" autocomplete="off">
          {{ button({
            "text": "Continue",
                "href": ""
          }) }}
          </form>

          <h2 class="nhsuk-heading-l">GP Admin</h2>
          <p>GP Admin email inbox and emis for auto ingestion discussion</p>


          <form action="/user-research/22-24-oct/gp-admin/admin-email" method="post" autocomplete="off">
          {{ button({
            "text": "Continue",
                "href": ""
          }) }}
          </form>



          </div>
          </details>

          <details class="nhsuk-details nhsuk-expander version-list">
          <summary class="nhsuk-details__summary details-index">
          <span class="nhsuk-details__summary-text">28-30 Sept 2021 (unauthed/p5/p9)</span>
          </summary>
          <div class="nhsuk-details__text version-text">
          <br>

            <h2 class="nhsuk-heading-l">P9 journey</h2>
            <p>Research for testing NHS login + Gender + Questionaire split</p>


            <form action="/sprint-1/start" method="post" autocomplete="off">
            <input type="hidden" name="user-auth" id="user-auth" value="p9" />
            {{ button({
              "text": "Continue",
                  "href": ""
            }) }}
            </form>

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

            <h2 class="nhsuk-heading-l">P5 journey</h2>
            <p>Research for testing NHS login + Gender + Questionaire split</p>


            <form action="/sprint-1/start" method="post" autocomplete="off">
            <input type="hidden" name="user-auth" id="user-auth" value="p5" />
            {{ button({
              "text": "Continue",
                  "href": ""
            }) }}
            </form>

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

            <h2 class="nhsuk-heading-l">No auth journey</h2>
            <p>New flow for unauth journey + Gender + Questionaire split</p>

            <form action="/sprint-1/start" method="post" autocomplete="off">
            <input type="hidden" name="user-auth" id="user-auth" value="un-authed" />
            {{ button({
              "text": "Continue",
                  "href": ""
            }) }}
            </form>

            </div>
            </details>



  </div>
</section>



<!-- End of content -->

</div>
</div>
{% endblock %}
