<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}


<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'Infected Blood Inquiry' %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="scr" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <p class="govuk-body">In response to the Infected Blood Inquiry, NHS England wants to identify anyone that may have received infected blood through a blood transfusion before 1996.</p>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>Evidence shows it is extremely unlikely that anyone would get a bloodborne illness through infected blood after the introduction of universal blood screening in September 1991.</p>
              <p>If you have any concerns you should contact your GP surgery directly.</p>
            </div>
            <p>The information you have provided will be shared with your GP surgery and they may offer you a blood test.</p>

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}
