<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}


<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% set heading = "What are the details of their carer" %}
{% else %}
  {% set heading = "What are your carer's details" %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "carer-type-1",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="are-you-a-carer" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ input({
                label: {
                  "text": "First name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-first-name",
                "name": "carer-first-name",
                "value": data['carer-first-name']
              }) }}

              {{ input({
                label: {
                  "text": "Last name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-last-name",
                "name": "carer-last-name",
                "value": data['carer-last-name']
              }) }}

            {{ input({
                label: {
                  "text": "Relationship to you"
                },
                "hint": {
                  "text": "For example, they are a family member or friend."
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-relationship",
                "name": "carer-relationship",
                "value": data['carer-relationship']
              }) }}


              {{ input({
                  label: {
                    "text": "Contact telephone number"
                  },
                  "classes": "nhsuk-u-width-two-thirds",
                  "id": "carer-telephone",
                  "name": "carer-telephone",
                  "value": data['carer-telephone']
                }) }}

            {% endcall %}

            {{ button({
              "text": "Add another carer",
              "classes": "nhsuk-button--secondary",
                  "href": "carer-type-2"
            }) }}

            <br>
            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}