<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = "What type of carer are you?" %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": link,
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['type-carer'] %}
          <form action="what-is-your-date-of-birth" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

           {{ radios({
            "idPrefix": "type-carer",
            "name": "type-carer",
            "items": [
              {
                "value": "Young carer",
                "text": "Young carer, under 18",
                "hint": {
                  "text": ""
                },
                checked: fieldVar == "Young carer"
              },
              {
                "value": "Occupational carer",
                "text": "Paid as a job",
                "hint": {
                  "text": ""
                },
                checked: fieldVar == "Occupational carer"
              },
               {
                "value": "Informal carer",
                "text": "Unpaid, but may get benefits",
                "hint": {
                  "text": ""
                },
                checked: fieldVar == "Informal carer"
              },
              {
                "value": "Foster carer",
                "text": "Foster carer",
                "hint": {
                  "text": ""
                },
                 checked: fieldVar == "Foster carer"
              }

              ]
            }) }}

            {% endcall %}

      
            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}