
<!-- Use this page as the index for your project -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'Use your NHS account to apply' %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

  {{ backLink({
    "href": "who-is-registering",
    "text": "Go back"
    })
  }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-l">{{ heading }}</h1>

          <p>Using your NHS account means you:</p>
          <ul>
            <li>answer fewer questions as you will not be asked for some of the information you have already shared with the NHS</li>
            <li>may save time completing this application</li>
          </ul>
          <h2 class="nhsuk-heading-m">Would you like to use your NHS account?</h2>

          <div class="nhs-login">
            <p>You'll have an account if you signed up for the <span class="nhsuk-u-font-weight-bold">NHS App</span> or other online health services that use NHS login.</p>
            <a href="nhs-login-email?use-login=true&login-level=p9" class="nhsuk-button nhsuk-button--blue nhsuk-u-margin-bottom-4" type="submit">
              Use NHS account</a>
        </div>
          <p><a href="what-is-your-name?use-login=false" class="nhsuk-button nhsuk-button--secondary">Do not use account</a></p>

      </div>
    </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Switch scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Login user</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="nhs-login-email?use-login=true&login-level=p5">P5 level of identity</a>
      </li>
      <li>
        <a href="nhs-login-email?use-login=true&login-level=p9">P9 level of identity</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

<style>
  .nhs-login {
    background-color: #ffffff;
    border: 1px solid #d8dde0;
    padding: 24px 24px 12px 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
</style>

{% endblock %}
