<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}



<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = '' + data['name-first-name'] + 's address' %}
{% else %}
  {% set heading = 'Your address' %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "check-answers-1",
    "text": "Go back"
  }) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['do-you-current-address'] %}
          <form action="{{ basePath }}/do-you-current-address-answer" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <p class="govuk-body">
              Tell us where you are living. This could be your permanent address or a temporary address such as a shelter, hostel or friend's house.
            </p>
            <p class="govuk-body">Your GP surgery can use your address to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>contact you about appointments, prescriptions and other things relating to your health</li>
              <li>check if you are living within the area it covers</li>
            </ul>
        </div>
      </div>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h3 class="govuk-fieldset__heading">
          Do you have an address in the UK?
        </h3>
      </legend> 

            {{ radios({
              "idPrefix": "do-you-current-address",
              "name": "do-you-current-address",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: fieldVar == "Yes"
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: fieldVar == "No"
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}
