<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}


<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% if (data['need-carer'] == "Yes") %}
    {% set heading = "About the reasonable adjustments for " + data['name-first-name'] + " or their carer?" %}
    {% set label = "Tell us what they need (optional)" %}
  {% else %}
    {% set heading = "About the reasonable adjustments for " + data['name-first-name'] %}
    {% set label = "Tell us what they need (optional)" %}
  {% endif %}
{% else %}
  {% if (data['need-carer'] == "Yes") %}
    {% set heading = "Tell us what you or your carer need (optional)?" %}
    {% set label = "Tell us what you or your carer need (optional)" %}
  {% else %}
    {% set heading = 'About your reasonable adjustments' %}
    {% set label = "Tell us what you need (optional)" %}
  {% endif %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "do-you-need-reasonable-adjustments",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-take-prescription-medication" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "adjustment-details",
              "id": "adjustment-details",
              "label": {
                "text": label
                }
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}