<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->

{% set heading = 'Donating your organs and tissue' %}

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->

{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}

<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "do-you-smoke",
    "text": "Go back"
  }) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          
          {% include 'live/includes/step.html' %}
          <h1 class="nhsuk-heading-l">Donating your organs and tissue</h1>

          <p class="nhsuk-body">Organ donation is when you decide to give organs or tissue to someone else after death.</p>
          <p class="nhsuk-body">By registering your organ donation decision now, you consent to NHS England sharing your information with NHS Blood and Transplant to be recorded on the NHS Organ Donor Register. <a class="nhsuk-link" href="https://www.organdonation.nhs.uk/privacy-statement/" target="_blank">View their privacy statement (link opens in a new tab)</a> to see how your data is used to support the NHS Organ Donor Register.</p>
          <p class="nhsuk-body">You can also register or update your decision at any time on the NHS Organ Donation website.</p>

          {% set fieldVar = data['organDonor'] %}
          <form action=" {{ basePath }}/donating-your-organs-and-tissue-answer" method="post" autocomplete="off">

            {{ radios({
              "idPrefix": "organDonor",
              "name": "organDonor",
              "fieldset": {
                "legend": {
                  "text": "Would you like to donate your organs and tissue?",
                  "classes": "nhsuk-fieldset__legend--m",
                  "isPageHeading": "false"
                }
              },
              "items": [
              {
                "value": "All",
                "text": "Yes, all my organs and tissue",
                hint: {
                        text: "Help up to 9 people through organ donation and even more through tissue donation"
                      },
                checked: fieldVar == "All"
              },
              {
                "value": "Some",
                "text": "Yes, some organs and tissue",
                hint: {
                        text: "Select which of your organs and tissue to donate"
                      },
                checked: fieldVar == "Some"
              },
              {
                "value": "No",
                "text": "No, none of my organs and tissue",
                hint: {
                        text: "Register your decision not to donate"
                      },
                checked: fieldVar == "No"
              },
              {
                divider: "or"
              },
              {
                "value": "Later",
                "text": "I do not want to make this decision now",
                hint: {
                        text: "Register your decision later on the NHS Organ Donation website"
                      },
                checked: fieldVar == "Later"
              }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}