<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}




<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% set heading = "How often has " + data['name-first-name'] + " had six or more units of alcohol on a single occasion in the last year?" %}
{% else %}
  {% set heading = 'How often have you had six or more units of alcohol on a single occasion in the last year?' %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "how-many-units-of-alcohol",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['alcohol-consumption-day'] %}
          <form action="do-you-smoke" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "alcohol-consumption-day",
              "name": "alcohol-consumption-day",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "items": [
                {
                  "value": "Never",
                  "text": "Never",
                  checked: fieldVar == "Never"
                },
                {
                  "value": "Less than monthly",
                  "text": "Less than monthly",
                  checked: fieldVar == "Less than monthly"
                },
                {
                  "value": "Monthly",
                  "text": "Monthly",
                  checked: fieldVar == "Monthly"
                },
                {
                  "value": "Weekly",
                  "text": "Weekly",
                  checked: fieldVar == "Weekly"
                },
                {
                  "value": "Daily or almost daily",
                  "text": "Daily or almost daily",
                  checked: fieldVar == "Daily or almost daily"
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say",
                  "text": "Prefer not to say",
                  checked: fieldVar == "Prefer not to say"
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}