<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% set heading = 'Is the sex ' + data['name-first-name'] + ' is now the same as when they were born?' %}
  {% set hint1 = 'The GP surgery will use this information to offer them screening for specific conditions.' %}
{% else %}
  {% set heading = 'Is the sex you are now the same as when you were born?' %}
  {% set hint1 = 'Your GP surgery will use this information to offer you screening for specific conditions.' %}
{% endif %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['sex-born'] %}
          <form action="what-is-your-ethnicity" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              text: hint1,
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            {{ radios({
              "idPrefix": "sex-born",
              "name": "sex-born",
              "items": [
              {
                "value": "Yes",
                "text": "Yes",
                checked: fieldVar == "Yes"
              },
              {
                "value": "No",
                "text": "No",
                checked: fieldVar == "No"
              },
              {
                "value": "Prefer not to say",
                "text": "Prefer not to say",
                checked: fieldVar == "Prefer not to say"
              }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}