<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'Enter your password' %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

    {{ backLink({
    "href": nhs-login-found,
    "text": "Back to: We found your NHS login"
    })
  }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="nhs-login-otp" method="post" autocomplete="off">

          {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

          <p>Enter your password to log in.</p>

          <div class="govuk-form-group" style="margin-bottom: 15px;">

            <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="password">
                  Password
                </label>
                <div class="gem-c-show-password__input-wrapper">
                  <input name="login-password" class="gem-c-input nhsuk-input gem-c-input--with-password nhsuk-input--width-20" id="password" type="password" spellcheck="false" autocomplete="off" aria-describedby="password-hint">
                  <span class="nhsuk-u-visually-hidden" aria-live="polite">Your password is hidden</span>
                </div>
              </div>
            </div>

          </div>

          <p>If you cannot remember your password, you can <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">reset it</a>.</p>

          {% endcall %}

          {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
    </div>

{% endblock %}