<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% if (data['user-auth'] === "p9") %}
  {% set link = 'nominate-pharmacy-warning' %}
{% else %}
  {% set link = 'nominate-pharmacy' %}
{% endif %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'Choose type of pharmacy'  %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}


{{ backLink({
    "href": link,
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['nominate-online-or-street'] %}
          <form action="{{ basePath }}/nominate-online-or-street-answer" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "nominate-online-or-street",
              "name": "nominate-online-or-street",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": ""
              },
              "items": [
                {
                  "value": "Yes",
                  "text": "High Street Pharmacy",
                  "hint": {
                    "text": "Collect prescription items from a pharmacy close to your home, new GP surgery or somewhere else. They may also deliver."
                  },
                  checked: fieldVar == "Yes"
                },
                {
                  "value": "No",
                  "text": "Online-only Pharmacy",
                  "hint": {
                    "text": "Your prescription items are sent to you in the post."
                  },
                  checked: fieldVar == "No"
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}
<p>
  Would you like to
  <a class="nhsuk-link" href="/gp-registration/sprint-00/feedback-page" target="_blank" rel="noopener">
  give feedback (opens in a new tab)
  <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span>
  </a>
  about this page?
</p>
          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}