<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% if (data['recently-moved'] === "Yes") %}
  {% set action = 'recently-moved-eea' %}
{% else %}
  {% set action = 'do-you-previous-address' %}
{% endif %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% set heading = 'When did ' + data['name-first-name'] + ' enter the UK?' %}
{% else %}
  {% set heading = 'When did you enter the UK?' %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "where-were-you-born-place-outside-uk",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <form action="{{ basePath }}/recently-moved-date-answer" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {{ dateInput({
            "id": "moved",
            "namePrefix": "moved",
            "fieldset": {
              "legend": {
                "text": heading,
                "classes": "nhsuk-label--l",
                "isPageHeading": true
              }

            },
            "hint": {
              "text": "For example 09 10 2021."
            },
            "items": [
              {
                "name": "day",
                "classes": "nhsuk-input--width-2",
                "value": data['moved-day']
              },
              {
                "name": "month",
                "classes": "nhsuk-input--width-2",
                "value": data['moved-month']
              },
              {
                "name": "year",
                "classes": "nhsuk-input--width-4",
                "value": data['moved-year']
              }
            ]
          }) }}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}