<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% if (data['return'] === "true") %}
  {% set link = 'check-answers-1' %}
{% else %}
  {% set link = 'who-is-registering' %}
{% endif %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'What is your relationship to the person being registered?' %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": link,
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

         {% set fieldVar = data['relation'] %}
        <form action="relation-answer" method="post" autocomplete="off">

          {{ radios({
            "idPrefix": "relation",
            "name": "relation",
            fieldset: {
              legend: {
                text: heading,
                isPageHeading: true,
                classes: "nhsuk-fieldset__legend--l"
              }
              },
            "items": [
              {
                "value": "Parent",
                "text": "Parent or guardian",
                "hint": {
                  "text": ""
                },
                checked: fieldVar == "Parent"
              },
              {
                "value": "Carer",
                "text": "Carer",
                "hint": {
                  "text": "Includes foster parents and carers who are young, paid or unpaid. "
                },
                checked: fieldVar == "Carer"
              },
              {
                "value": "Other",
                "text": "Other",
                "hint": {
                  "text": ""
                },
               checked: fieldVar == "Other"
              }
            ]
          }) }}

        

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}