<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Which of the following best describes ' + data['name-first-name'] + '\'s White background?' %}
  {% set labelText = 'How would you describe their background? (optional)' %}
{% else %}
  {% set heading = 'Which of the following best describes your White background?' %}
  {% set labelText = 'How would you describe your background? (optional)' %}
{% endif %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "what-is-your-ethnicity",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['ethnicity-detail-white'] %}
          <form action="nominate-pharmacy" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% set ethnicityHtml %}
            {{ input({
              label: {
                "text": labelText
              },
              "id": "ethWhite",
              "name": "ethWhite",
              "classes": "nhsuk-input--width-20"
            }) }}
          {% endset -%}

          {{ radios({
            idPrefix: "ethnicity-detail-white",
            name: "ethnicity-detail-white",
            fieldset: {
              legend: {
                text: heading,
                isPageHeading: true,
                classes: "nhsuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "English, Welsh, Scottish, Northern Irish or British",
                text: "English, Welsh, Scottish, Northern Irish or British",
                checked: fieldVar == "English, Welsh, Scottish, Northern Irish or British"
              },
              {
                value: "Irish",
                text: "Irish",
                checked: fieldVar == "Irish"
              },
              {
                value: "Gypsy or Irish Traveller",
                text: "Gypsy or Irish Traveller",
                checked: fieldVar == "Gypsy or Irish Travellerh"
              },
              {
                value: "Other",
                text: "Any other White background",
                conditional: {
                  html: ethnicityHtml
                }
              },
              {
                divider: "or"
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say"
              }
            ]
          }) }}

          {{ button({
            "text": "Continue"
          }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}