<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'What is ' + data['name-first-name'] + "'s sex as recorded on their NHS record?" %}
{% else %}
  {% set heading = 'What is your sex as recorded on your NHS record?' %}
{% endif %}
    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set fieldVar = data['gender'] %}
          <form action="is-sex-same" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {% if (data['who-is-being-registered'] === "dependant") %}
            <p>This information will be used to match them to their healthcare record.</p>
            {% else %}
            <p>This information will be used to match you to your healthcare record.</p>
            {% endif %}

            {{ radios({
              "idPrefix": "gender",
              "name": "gender",
              "items": [
              {
                "value": "Female",
                "text": "Female",
                checked: fieldVar == "Female"
              },
              {
                "value": "Intersex",
                "text": "Intersex",
                checked: fieldVar == "Intersex"
              },
              {
                "value": "Male",
                "text": "Male",
                checked: fieldVar == "Male"
              },
              {
                "value": "Not specified or known",
                "text": "Not specified or known",
                checked: fieldVar == "Not specified or known"
              }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}