<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}




<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-registering'] === "dependant") %}
  {% set heading = 'What existing or pre-existing medical conditions does ' + data ['name-first-name'] + ' have?' %}
  {% set hintText = 'Select one or more' %}
{% else %}
  {% set heading = 'What existing or pre-existing medical conditions do you have?' %}
  {% set hintText = 'Select one or more' %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "do-you-have-existing-conditions",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="existing-conditions-details" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": hintText
            }) }}

            {% set fieldVar = data['existing-conditions'] %}

{{ checkboxes({
  "idPrefix": "existing-conditions",
  "name": "existing-conditions",
  "items": [
    {
      "value": "Alzheimer's disease or dementia",
      "text": "Alzheimer's disease or dementia",
      "checked": fieldVar and ("Alzheimer's disease or dementia" in fieldVar)
    },
    {
      "value": "Asthma",
      "text": "Asthma",
      "checked": fieldVar and ("Asthma" in fieldVar)
    },
    {
      "value": "Cancer",
      "text": "Cancer",
      "checked": fieldVar and ("Cancer" in fieldVar)
    },
    {
      "value": "Diabetes",
      "text": "Diabetes",
      "checked": fieldVar and ("Diabetes" in fieldVar)
    },
    {
      "value": "Epilepsy",
      "text": "Epilepsy",
      "checked": fieldVar and ("Epilepsy" in fieldVar)
    },
    {
      "value": "Heart disease",
      "text": "Heart disease",
      "checked": fieldVar and ("Heart disease" in fieldVar)
    },
    {
      "value": "High blood pressure (hypertension)",
      "text": "High blood pressure (hypertension)",
      "checked": fieldVar and ("High blood pressure (hypertension)" in fieldVar)
    },
    {
      "value": "Stroke",
      "text": "Stroke",
      "checked": fieldVar and ("Stroke" in fieldVar)
    },
    {
      "value": "Thyroid disease",
      "text": "Thyroid disease",
      "checked": fieldVar and ("Thyroid disease" in fieldVar)
    },
    {
      "value": "Other",
      "text": "Other",
      "checked": fieldVar and ("Other" in fieldVar)
    }
  ]
}) }}


            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
  
{% include 'live/includes/devmode.html' %}

{% endblock %}
