<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

<!-- Looks like this stopped involving conditional routing at some point. Comment left March 2026 -->
{% if (data['who-is-being-registered'] === "dependant") %}
  {% set action = 'recently-moved-date' %}
{% else %}
  {% set action = 'recently-moved-date' %}
{% endif %}



<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Where was " + data ['name-first-name'] + " born?" %}
  {% set hintText = "Enter the name of the town or city nearest to where " + data ['name-first-name'] + " was born." %}
{% else %}
  {% set heading = 'Where were you born?' %}
  {% set hintText = 'Enter the name of the town or city nearest to where you were born.' %}
{% endif %}

    

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Register with a GP surgery - " + heading + " - NHS" %}


<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/phase-banner.html' %}

{{ backLink({
    "href": "recently-move-to-the-uk",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="recently-moved-date" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

              {% call fieldset({
                legend: {
                  text: heading,
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="country-container">
                Country of birth
              </label>
              <div id="country-container" name="country-visited"></div>
            </div>


              {% endcall %}

              {{ button({
                "text": "Continue"
              }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}


<style>

</style>

{% block scripts %}
  {{ super() }}





  

  <script src="https://unpkg.com/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {

      fetch('/assets/data/countries.json')
        .then(response => response.json())
        .then(countries => {

          accessibleAutocomplete({
            element: document.getElementById('country-container'),
            id: 'country-born',
            name: 'country-born',
            source: countries
          });

        });

    });
  </script>

{% endblock %}


{% endblock %}