{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  Did you get your routine vaccinations in the UK - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-have-existing-conditions" method="post" autocomplete="off">

            {{ hint({
              "text": "Health information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">Did {{ data ['name-first-name'] }} get all their routine vaccinations in the UK?</h1>

            {% call fieldset({
              legend: {
                text: "",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "are-you-immunised-uk",
              "name": "are-you-immunised-uk",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("are-you-immunised-uk", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("are-you-immunised-uk", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "I don't know",
                  "text": "I don't know",
                  checked: checked("are-you-immunised-uk", "I don't know")
                }
              ]
            }) }}

            {% endcall %}
            {% else %}

            {% call fieldset({
              legend: {
                text: "Did you get your routine vaccinations in the UK?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "are-you-immunised-uk",
              "name": "are-you-immunised-uk",
              "items": [
                {
                   "value": "Yes",
                  "text": "Yes",
                  checked: checked("are-you-immunised-uk", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("are-you-immunised-uk", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "I don't know",
                  "text": "I don't know",
                  checked: checked("are-you-immunised-uk", "I don't know")
                }
              ]
            }) }}

            {% endcall %}
            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
