{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'What are your details?' %}

{% if data['type-carer'] %}
  {% set link = 'carer-type' %}
{% else %}
  {% set link = 'relation-to-dependant' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="what-is-your-name" method="post">

           <!--{{ hint({
              "text": "Step 1 of 3 - Matching patient to their record",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}-->

            {% call fieldset({
              legend: {
                "text": "What are your details?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ input({
                label: {
                  "text": "First name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-first-name",
                "name": "carer-first-name",
                "autocomplete": "given-name",
                "spellcheck": false,
                "value": data['carer-first-name']
              }) }}

              {{ input({
                label: {
                  "text": "Last name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-last-name",
                "name": "carer-last-name",
                "autocomplete": "family-name",
                "spellcheck": false,
                "value": data['carer-last-name']
              }) }}

            {{ input({
                label: {
                  "text": "Relationship to the person being registered"
                },
                "hint": {
                  "text": "For example, you are a family member, friend or professional carer."
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-relationship",
                "name": "carer-relationship",
                "value": data['carer-relationship']
              }) }}

              {{ input({
                  label: {
                    "text": "Contact telephone number"
                  },
                  "classes": "nhsuk-u-width-two-thirds",
                  "id": "carer-telephone",
                  "name": "carer-telephone",
                  "autocomplete": "tel",
                  "spellcheck": false,
                  "value": data['carer-telephone']
                }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
