{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
This address is outside the area for this GP surgery - {{ ServiceName }} - NHS

{% endblock %}
  {{ backLink({
    text: "Go back",
    href: "javascript:history.go(-1)"
  }) }}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="" method="post" autocomplete="off">

     <h1 class="nhsuk-heading-l">Changing your home address</h1>

      <p>Some GP surgeries will only accept patients that live within the area they cover. You can continue with this address change, but if you are outside the area covered by [[NAME OF SURGERY]] you will need to register with a new GP surgery. </p>

        <p>If your new address is outside the area covered by your current surgery:</p>
         <ul>
           <li>you may not be offered home visits</li>
           <li>it could affect referrals for hospital tests and treatment, or community health services</li>
         </ul>

         <p>You should speak to your GP surgery about your options.</p>

        {{ radios({
            "idPrefix": "use-ooo",
            "name": "use-ooo",
            "classes": "nhsuk-radios",
            "fieldset": {
              "legend": {
                "text": "What would you like to do?",
                "classes": "nhsuk-fieldset__legend--m",
                "isPageHeading": true
              }
            },
            "items": [
              {
                "value": "Yes~/design/how-can-we-contact-you",
                "text": "Find a GP surgery that covers your new address",
                "hint": {
                  "text": "It takes about 15 minutes to register with a new GP surgery"
                },
                checked: checked("relation", "Carer")
              },
              {
                "value": "Yes~/design/how-can-we-contact-you",
                "text": "Continue with this change of address",
                "hint": {
                  "text": "You understand that your current GP surgery may not cover your new address."
                },
                checked: checked("relation", "Carer")
              },
              {
                "value": "Yes~https://www.nhs.uk/service-search/find-a-gp",
                "text": "Cancel this change of address ",
                "hint": {
                  "text": "You will speak to your GP surgery about your options."
                },
                checked: checked("relation", "Carer")
              }
            ]
        }) }}


      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>


{% endblock %}
