<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  Enter name - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">


    <div class="pseudo-modal-bg"></div>

    <div class="nhsuk-modal">
  
    <div class="nhsuk-modal__content">
      <h2 class="nhsuk-modal__heading">You are about to leave the NHS</h2>

      <p class="nhsuk-modal__description">If you choose to continue you will be taken to a website outside of the NHS.</p>
      <p class="nhsuk-modal__description nhsuk-u-margin-bottom-5">Privacy policy data protection don't share your information Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo sit amet velit vitae porta. Etiam euismod magna a velit sagittis, eget tempor dolor mattis. Integer mattis, urna non gravida</p>

      <button class="nhsuk-button" type="submit">Continue</button>
      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to the NHS</a>
      </div>
    </div>
  </div>
  </div>





        </div>


    <!-- End of content -->

{% endblock %}
