{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Share your contact details - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            <h1 class="nhsuk-heading-l">Contact you using NHS login details</h1>

            <p>Your login details will be used by:</p>
            <ul>
              <li>the Register with a GP surgery service to help identify your medical records</li>
              <li>your new GP surgery so that they can contact you about your registration or other health care services</li>
              <li>the NHS to update the contact details on your medical record</li>
            </ul>
<h3>NHS login details</h3>
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  UK mobile telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  07799123456
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  example@email.com
                </dd>
              </div>

              </dl>

              {{ radios({
                  "idPrefix": "use-contacts-login",
                  "name": "use-contacts-login",
                  "classes": "nhsuk-radios",
                  "fieldset": {
                    "legend": {
                      "text": "Do you want to be contacted using your NHS login details?",
                      "classes": "nhsuk-fieldset__legend--m",
                      "isPageHeading": true
                    }
                  },
                  "items": [
                    {
                      "value": "Yes~/design/how-can-we-contact-you",
                      "text": "Yes, use these details"
                    },
                    {
                      "value": "No~/design/how-can-we-contact-inputs",
                      "text": "No, use different details"
                    }
                  ]
              }) }}

            {{ button({
              "text": "Continue"
            }) }}

            </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
