{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
What was the date you left the UK? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="date-returned-uk" method="post" autocomplete="off">

            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}
            {% if (data['who-is-being-registered'] == "dependant") %}

            {{ dateInput({
              "id": "left-uk",
              "namePrefix": "left-uk",
              "fieldset": {
                "legend": {
                  "text": "What was the date they left the UK?",
                  "classes": "nhsuk-label--l",
                  "isPageHeading": true
                }
              },
              "hint": {
                "text": "For example, 15 3 1984"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2",
                  "value": data['left-uk-day']
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2",
                  "value": data['left-uk-month']
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4",
                  "value": data['left-uk-year']
                }
              ]
            }) }}

            {% else %}

            {{ dateInput({
              "id": "left-uk",
              "namePrefix": "left-uk",
              "fieldset": {
                "legend": {
                  "text": "What was the date you left the UK?",
                  "classes": "nhsuk-label--l",
                  "isPageHeading": true
                }
              },
              "hint": {
                "text": "For example, 15 3 1984"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2",
                  "value": data['left-uk-day']
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2",
                  "value": data['left-uk-month']
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4",
                  "value": data['left-uk-year']
                }
              ]
            }) }}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}