{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  Does {{ data ['name-first-name'] }} have any other carers the GP should know about?  - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['relation'] == "Carer") %}

            <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} have any other carers the GP should know about?</h1>

            {{ radios({
              "idPrefix": "need-carer",
              "name": "need-carer",
              "fieldset": {
                "legend": {
                  "text": "",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "A carer looks after someone who is not able to look after themselves. This could be because of illness, disability or addiction. Carers can be adults or children. They can be paid or unpaid, but may get benefits."
              },
              "items": [
                {
                  "value": "Yes~/design/carer-type",
                  "text": "Yes",
                  checked: checked("need-carer", "Yes")
                },
                {
                  "value": "No~/design/are-you-a-carer",
                  "text": "No",
                  checked: checked("need-carer", "no")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say",
                  "text": "Prefer not to say",
                  checked: checked("need-carer", "Prefer not to say")
                }
              ]
            }) }}

            {% elif (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} have a carer?</h1>

            {{ radios({
              "idPrefix": "need-carer",
              "name": "need-carer",
              "fieldset": {
                "legend": {
                  "text": "",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "A carer looks after you because you are not able to look after yourself. This could be because of illness, disability or addiction. Your carer can be an adult or child, family member or friend. They can be paid or unpaid, but may get benefits."
              },
              "items": [
                {
                  "value": "Yes~/design/carer-type",
                  "text": "Yes",
                  checked: checked("need-carer", "Yes")
                },
                {
                  "value": "No~/design/are-you-a-carer",
                  "text": "No",
                  checked: checked("need-carer", "no")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/design/are-you-a-carer",
                  "text": "Prefer not to say",
                  checked: checked("need-carer", "Prefer not to say")
                }
              ]
            }) }}


            {% else %}

            {{ radios({
              "idPrefix": "need-carer",
              "name": "need-carer",
              "fieldset": {
                "legend": {
                  "text": "Do you have a carer?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "A carer looks after you because you are not able to look after yourself. This could be because of illness, disability or addiction. Your carer can be an adult or child, family member or friend. They can be paid or unpaid, but may get benefits."
              },
              "items": [
                {
                  "value": "Yes~/design/carer-type",
                  "text": "Yes",
                  checked: checked("need-carer", "Yes")
                },
                {
                  "value": "No~/design/are-you-a-carer",
                  "text": "No",
                  checked: checked("need-carer", "no")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/design/are-you-a-carer",
                  "text": "Prefer not to say",
                  checked: checked("need-carer", "Prefer not to say")
                }
              ]
            }) }}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
