{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you know the postcode used when you last registered with {name_of_surgery}? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="" method="post" autocomplete="off">

           {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">You told us {{ data ['name-first-name'] }} is registered with {name_of_surgery}</h1>

            <div class="nhsuk-hint" id="contact-hint">
              <p>We need to know the address you used when you registered with surgery so that we can locate and transfer your medical records.
            </div>

            {% else %}

            <h1 class="nhsuk-heading-l">You told us you are registered with {name_of_surgery}</h1>
            <p class="govuk-body">
              We need to know the postcode of the address you used when you registered with this surgery. We'll use it to locate and transfer your medical records.
            </p>


            {% endif %}

            {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h3 class="govuk-fieldset__heading">
              Do you know the postcode you used when you registered with this surgery?
            </h3>
          </legend>            

          {{ radios({
            "idPrefix": "do-you-know-previous-postcode",
            "name": "do-you-know-previous-postcode",
            "items": [
              {
                "value": "Yes~/design/what-is-previous-postcode-gp-has",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("do-you-know-previous-postcode", "Yes")
              },
              {
                "value": "No~/design/are-you-returning-from-overseas",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("do-you-know-previous-postcode", "No")
              }
            ]
          }) }}
           {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>
      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
