{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you have a previous UK address? - {{ serviceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            {% call fieldset({
              legend: {
                text: "Do you have a previous UK address?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "have-previous-uk-address",
              "name": "have-previous-uk-address",
              "items": [
                {
                  "value": "Yes~/design/what-is-your-previous-address",
                  "text": "Yes",
                  checked: checked("have-previous-uk-address", "Yes")
                },
                {
                  "value": "No~/design/do-you-know-previous-postcode-gp-has",
                  "text": "No",
                  checked: checked("have-previous-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {% else %}

            {% call fieldset({
              legend: {
                text: "Do you have a previous UK address?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "have-previous-uk-address",
              "name": "have-previous-uk-address",
              "items": [
                {
                  "value": "Yes~/design/what-is-your-previous-address",
                  "text": "Yes",
                  checked: checked("have-previous-uk-address", "Yes")
                },
                {
                  "value": "No~/design/do-you-know-previous-postcode-gp-has",
                  "text": "No",
                  checked: checked("have-previous-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}