{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Does ' + data['name-first-name'] + ' have a next of kin?' %}
{% else %}
  {% set heading = 'Do you have a next of kin?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "If you become seriously ill in hospital and unable to communicate, hospital staff will keep your next of kin up to date on your progress.",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}


            {% if (data['registering-first-time'] === "Yes") %}

            {{ radios({
               "idPrefix": "do-you-next-of-kin",
               "name": "do-you-next-of-kin",
               "items": [
                 {
                   "value": "Yes~next-of-kin-details",
                   "text": "Yes",
                   "checked": checked("do-you-next-of-kin", "Yes")
                 },
                 {
                   "value": "No~recently-move-to-the-uk",
                   "text": "No",
                   "checked": checked("do-you-next-of-kin", "No")
                 }
               ]
             }) }}
 
             {% else %}
 
             {{ radios({
               "idPrefix": "do-you-next-of-kin",
               "name": "do-you-next-of-kin",
               "items": [
                 {
                   "value": "Yes~next-of-kin-details",
                   "text": "Yes",
                   "checked": checked("do-you-next-of-kin", "Yes")
                 },
                 {
                   "value": "No~are-you-returning-from-overseas",
                   "text": "No",
                   "checked": checked("do-you-next-of-kin", "No")
                 }
               ]
             }) }}
 
             {% endif %}

          {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

      </div>
     </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
