{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you have any allergies - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

           {{ hint({
              "text": "Health information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

              <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} have any allergies?</h1>

            {% call fieldset({
              legend: {
                text: "",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "This may include food, drug, and environmental allergies"

            }) }}

            {{ radios({
              "idPrefix": "has-allergies",
              "name": "has-allergies",
              "items": [
                {
                  "value": "Yes~/design/allergies-details",
                  "text": "Yes",
                  checked: checked("has-allergies", "Yes")
                },
                {
                  "value": "No~/design/do-you-take-prescription-medication",
                  "text": "No",
                  checked: checked("has-allergies", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say",
                  "text": "Prefer not to say",
                  checked: checked("has-allergies", "Prefer not to say")
                }

              ]
            }) }}

            {% endcall %}

            {% else %}

            {% call fieldset({
              legend: {
                text: "Do you have any allergies?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "This may include food, drug, and environmental allergies. This question is optional."
            }) }}


            {{ radios({
              "idPrefix": "has-allergies",
              "name": "has-allergies",
              "items": [
                {
                  "value": "Yes~/design/allergies-details",
                  "text": "Yes",
                  checked: checked("has-allergies", "Yes")
                },
                {
                  "value": "No~/design/do-you-take-prescription-medication",
                  "text": "No",
                  checked: checked("has-allergies", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to sayNo~/design/do-you-take-prescription-medication",
                  "text": "Prefer not to say",
                  checked: checked("has-allergies", "Prefer not to say")
                }

              ]
            }) }}

            {% endcall %}
            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
