{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
{% set heading = 'What is the relationship of ' + data['name-first-name'] + '\'s emergency contact to them?' %}
{% else %}
  {% set heading = 'What is the relationship of your emergency contact to you? ' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="emergency-contact-next-of-kin" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "ec-relationship",
              "name": "ec-relationship",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "items": [
              {
                "value": "Carer",
                "text": "Carer",
                checked: checked("ec-relationship", "Carer")
              },
              {
                "value": "Child",
                "text": "Child",
                checked: checked("ec-relationship", "Child")
              },
              {
                "value": "Family member",
                "text": "Family member",
                checked: checked("ec-relationship", "Family member")
              },
              {
                "value": "Husband or wife",
                "text": "Husband or wife",
                checked: checked("ec-relationship", "Husband or wife")
              },
              {
                "value": "Parent or guardian",
                "text": "Parent or guardian",
                checked: checked("ec-relationship", "Parent or guardian")
              },
              {
                "value": "Partner",
                "text": "Partner",
                checked: checked("ec-relationship", "Partner")
              },
              {
                "value": "Other",
                "text": "Other",
                checked: checked("ec-relationship", "Other")
              },
                {
                  divider: "or"
                },
                {
                  "value": "Prefer not to say",
                "text": "Prefer not to say",
                checked: checked("ec-relationship", "Prefer not to say")
                }
              ]
            }) }}

          {{ button({
            "text": "Continue"
          }) }}

        </form>
      </div>
     </div>
    

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}