{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
{% set heading = 'You have told us you are under 12 months old' %}
{% else %}
{% set heading = 'You have told us you are under 12 months old' %}
{% endif %}

{% block pageTitle %}
{{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-date-of-birth",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="error-too-young-post" method="post" autocomplete="off">

            <h1 class="nhsuk-heading-l">
              {{ heading }}
            </h1>

            <p>You may have entered an incorrect date or you are trying to register someone else.</p>

            {{ radios({
            "idPrefix": "error-age-next",
            "name": "error-age-next",
            "fieldset": {
              "legend": {
                "text": "What do you want to do?",
                "classes": "nhsuk-fieldset__legend--m",
                "isPageHeading": "false"
              }
            },
            "items": [
              {
                "value": "dependant",
                "text": "Register someone else",
                "checked": checked("error-age-next", "dependant")
              },
              {
                "value": "goback",
                "text": "Enter a different date of birth",
                "checked": checked("error-age-next", "goback")
              }
            ]
          }) }}

            {{ button({
            "text": "Continue"
          }) }}

        </form>
      </div>
    </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Switch scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Registration type</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="?who-is-being-registered=myself">Self</a>
      </li>
      <li>
        <a href="?who-is-being-registered=dependant">Dependant</a>
      </li>
    </ul>

    <h4>Error scenarios</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="error-too-young">Age is under 12 months</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
