{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'What are the details of' + data['name-first-name'] + '\'s next of kin?' %}
{% else %}
  {% set heading = 'What are the details of your next of kin?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% if (data['registering-first-time'] === "Yes") %}
          <form action="recently-move-to-the-uk" method="post" autocomplete="off">
          {% else %}
          <form action="are-you-returning-from-overseas" method="post" autocomplete="off">
          {% endif %}

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ input({
              label: {
                "text": "Full name"
              },
              "classes": "nhsuk-u-width-two-thirds",
              "id": "nok-full-name",
              "name": "nok-full-name",
              value: data['nok-full-name']
            }) }}

              {{ input({
                "label": {
                  "text": "Contact telephone number"
                },
                  "hint": {
                  "text": "For international numbers include the country code"
                },
                "classes": "nhsuk-input--width-10",
                "id": "nok-contact-tel",
                "name": "nok-contact-tel",
                value: data['nok-contact-tel']
              }) }}

            {% endcall %}

            <p class="nhsuk-u-padding-bottom-4">By continuing you are confirming that the GP surgery can contact this person in an emergency.</p>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
