{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Would you like to choose a pharmacy for your prescription items? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">
            {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

          {% if (data['who-is-being-registered'] == "dependant") %}

          <h1 class="nhsuk-heading-l">Would  {{ data ['name-first-name'] }} like to choose or change a pharmacy for their prescriptions?</h1>

            {{ radios({
              "idPrefix": "nominate-pharmacy",
              "name": "nominate-pharmacy",
              "fieldset": {
                "legend": {
                  "text": "",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": "Choosing or changing their pharmacy means the GP surgery will send their prescriptions directly to the new pharmacy from now on."
              },
              "items": [
                {
                  "value": "yes~/design/nominate-online-or-street",
                  "text": "Yes, choose a pharmacy",
                  checked: checked("nominate-pharmacy", "Yes")
                },
                {
                  "value": "no~/design/check-answers-3",
                  "text": "No",
                  checked: checked("nominate-pharmacy", "no")
                }
              ]
            }) }}

            {% else %}

            {{ radios({
              "idPrefix": "nominate-pharmacy",
              "name": "nominate-pharmacy",
              "fieldset": {
                "legend": {
                  "text": "Would you like to choose a pharmacy for your prescription items?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": "Choosing or changing your pharmacy means the GP surgery will send your prescriptions directly to the new pharmacy from now on."
              },
              "items": [
                {
                  "value": "yes~/design/nominate-online-or-street",
                  "text": "Yes, choose a pharmacy",
                  checked: checked("nominate-pharmacy", "Yes")
                },
                {
                  "value": "no~/design/are-you-a-member-of-armed-forces",
                  "text": "No",
                  checked: checked("nominate-pharmacy", "no")
                }
              ]
            }) }}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
     </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
