{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'What is your relationship to the person being registered?' %}

{% block pageTitle %}
{{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "dependant-interuption",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="" method="post" autocomplete="off">

          {{ radios({
            "idPrefix": "relation",
            "name": "relation",
            fieldset: {
              legend: {
                text: heading,
                isPageHeading: true,
                classes: "nhsuk-fieldset__legend--l"
              }
            },
            "items": [
              {
                "value": "Parent or guardian~/design/carer-details",
                "text": "Parent or guardian",
                "hint": {
                  "text": ""
                },
                "checked": checked("relation", "Parent or guardian")
              },
              {
                "value": "Carer~/design/carer-type",
                "text": "Carer",
                "hint": {
                  "text": "Includes foster parents and carers who are young, paid or unpaid. "
                },
                "checked": checked("relation", "Carer")
              },
              {
                "value": "Other~/design/carer-details",
                "text": "Other",
                "hint": {
                  "text": ""
                },
                "checked": checked("relation", "Other")
              }
            ]
          }) }}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
