{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Summary Care Record (SCR) - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="check-answers-b" method="post" autocomplete="off">

          {{ hint({
             "text": "Health information",
             "classes": "nhsuk-u-margin-bottom-2"
           }) }}

          <h1 class="nhsuk-heading-l">Summary Care Record (SCR)</h1>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint" id="contact-hint">
            <p>When you register with a GP surgery in England, a SCR is automatically created for you, unless you have already chosen not to have one. Your SCR has information about the medicines you take, any allergies or adverse reactions you might have and may contain additional information. This additional information has details of any significant illnesses and health problems, operations and vaccinations you have had, how you would like to be treated (such as where you would prefer to receive care), what support you might need and who should be contacted for more information about you. Your SCR can only be shared with healthcare staff treating you and provides them with vital information from your health record. If you choose not to select an option your default will apply.</p>
          </div>

          {{ radios({
            "idPrefix": "scr",
            "name": "scr",
            "items": [
              {
                "value": "Yes",
                "text": "Yes, I would like a Summary Care Record with medicines, allergies, adverse reactions and additional information.",
                checked: checked("scr", "Yes")
              },
              {
                "value": "No",
                "text": "Yes, I would like a Summary Care Record with medicines, allergies and adverse reactions only.",
                checked: checked("scr", "Yes only")
              },
              {
                "value": "No",
                "text": "No, I would not like a Summary Care Record.",
                checked: checked("scr", "No")
              }
            ]
          }) }}

          {% endcall %}

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>It is not compulsory for you to select any of these options. If you choose not to then your SCR consent preference held at your previous GP surgery will be transferred to your new GP surgery.</p>
          </div>

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}