{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
What is your date of birth? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="what-is-your-sex" method="post" autocomplete="off">

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l" >
              <span class="nhsuk-caption-l">Patient details </span>
              <span class="nhsuk-u-visually-hidden"> - </span>
              What is {{ data ['name-first-name'] }}'s date of birth?
            </h1>

            {{ dateInput({
              "id": "dob",
              "namePrefix": "dob",
              "fieldset": {
                "legend": {
                  "text": "",
                  "classes": "nhsuk-label--l",
                  "isPageHeading": false
                }
              },
              "hint": {
                "text": "For example, 15 3 1984"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-day']
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-month']
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4",
                  "value": data['dob-year']
                }
              ]
            }) }}

            {% else %}

           {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {{ dateInput({
              "id": "dob",
              "namePrefix": "dob",
              "fieldset": {
                "legend": {
                  "text": "What is your date of birth?",
                  "classes": "nhsuk-label--l",
                  "isPageHeading": true
                }
              },
              "hint": {
                "text": "For example, 15 3 1984"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-day']
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-month']
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4",
                  "value": data['dob-year']
                }
              ]
            }) }}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
