{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
{% set heading = 'What is ' + data['name-first-name'] + '\'s date of birth' %}
{% else %}
{% set heading = 'What is your date of birth?' %}
{% endif %}

{% block pageTitle %}
{{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-name",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="what-is-your-sex" method="post" autocomplete="off">

           {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {{ dateInput({
              "id": "dob",
              "namePrefix": "dob",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-label--l",
                  "isPageHeading": true
                }
              },
              "hint": {
                "text": "For example, 15 3 1984"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-day']
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2",
                  "value": data['dob-month']
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4",
                  "value": data['dob-year']
                }
              ]
            }) }}


            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Switch scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Registration type</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="?who-is-being-registered=myself">Self</a>
      </li>
      <li>
        <a href="?who-is-being-registered=dependant">Dependant</a>
      </li>
    </ul>

    <h4>Error scenarios</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="error-too-young">Age is under 12 months</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
