{% set serviceHome = '/design/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Select your previous address - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="check-answers-2" method="post" autocomplete="off">

            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

              {% if (data['who-is-being-registered'] == "dependant") %}

              {% call fieldset({
                legend: {
                  text: "Select their previous address",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              <div class="nhsuk-hint" id="contact-hint">
                <p>6 addresses found for {{ data['prev-house-number-address'] ~ ' and ' ~ data['find-previous-address'] if data['prev-house-number-address'] and data['find-previous-address'] else '24 and LS13 9PO' }}</p>
              </div>

              {{ radios({
                "idPrefix": "select-previous-address",
                "name": "select-previous-address",
                "items": [
                  {
                    "value": "1 Town Street, London, SW1A 1AA",
                    "text": "1 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-address", "1 Town Street, London, SW1A 1AA")
                  },
                  {
                    "value": "2 Town Street, London, SW1A 1AA",
                    "text": "2 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-address", "2 Town Street, London, SW1A 1AA")
                  },
                  {
                    "value": "3 Town Street, London, SW1A 1AA",
                    "text": "3 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-addresss", "3 Town Street, London, SW1A 1AA")
                  },
                  {
                    "value": "4 Town Street, London, SW1A 1AA",
                    "text": "4 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-addresss", "4 Town Street, London, SW1A 1AA")
                  },
                  {
                    "value": "5 Town Street, London, SW1A 1AA",
                    "text": "5 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-address", "5 Town Street, London, SW1A 1AA")
                  },
                  {
                    "value": "6 Town Street, London, SW1A 1AA",
                    "text": "6 Town Street, London, SW1A 1AA",
                    "hint": {
                  },
                    checked: checked("select-previous-address", "6 Town Street, London, SW1A 1AA")
                  },
                  {
                    "divider": "or"
                  },
                  {
                    "value": "wrong address~/design/what-is-your-previous-address",
                    "text": "The address is not listed here.",
                    "hint": {
                  },
                    checked: checked("select-current-address", "")
                  }
                ]
              }) }}

              {% endcall %}

              {% else %}

              {% call fieldset({
                legend: {
                  text: "Select your previous address",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              <div class="nhsuk-hint" id="contact-hint">
                <p>6 addresses found for {{ data['prev-house-number-address'] ~ ' and ' ~ data['find-previous-address'] if data['prev-house-number-address'] and data['find-previous-address'] else '24 and LS13 9PO' }}</p>
              </div>

                  {{ radios({
                    "idPrefix": "select-previous-address",
                  "name": "select-previous-address",
                    "items": [
                      {
                        "value": "1 Town Street, London, SW1A 1AA",
                        "text": "1 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-address", "1 Town Street, London, SW1A 1AA")
                      },
                      {
                        "value": "2 Town Street, London, SW1A 1AA",
                        "text": "2 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-address", "2 Town Street, London, SW1A 1AA")
                      },
                      {
                        "value": "3 Town Street, London, SW1A 1AA",
                        "text": "3 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-addresss", "3 Town Street, London, SW1A 1AA")
                      },
                      {
                        "value": "4 Town Street, London, SW1A 1AA",
                        "text": "4 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-addresss", "4 Town Street, London, SW1A 1AA")
                      },
                      {
                        "value": "5 Town Street, London, SW1A 1AA",
                        "text": "5 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-address", "5 Town Street, London, SW1A 1AA")
                      },
                      {
                        "value": "6 Town Street, London, SW1A 1AA",
                        "text": "6 Town Street, London, SW1A 1AA",
                        "hint": {
                      },
                        checked: checked("select-previous-address", "6 Town Street, London, SW1A 1AA")
                      },
                      {
                        "divider": "or"
                      },
                      {
                        "value": "wrong address~/design/what-is-your-previous-address",
                        "text": "The address is not listed here.",
                        "hint": {
                      },
                        checked: checked("select-current-address", "")
                      }
                    ]
                  }) }}

                  {% endcall %}

                  {% endif %}

              <p>
                <a href="what-is-your-previous-address-manual" id="enter-address-manually-link">Enter the address manually</a>
              </p>

            {{ button({
                "text": "Continue"
            }) }}

          </form>

        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}
