<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'mpr/_layout.html' %}
{% from "panel/macro.njk" import panel %}
{% from "inset-text/macro.njk" import insetText %}
{% from "summary-list/macro.njk" import summaryList %}
{% from "button/macro.njk" import button %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Sam Smith on hold - GP registrations portal - NHS" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1 class="nhsuk-heading-l">Beryl Smith has been placed under review</h1>
<p class="nhsuk-body nhsuk-u-margin-bottom-2"><strong>Placed under review</strong> by Gary Sanchez, Friday 20 March 2026</p>
<!-- Reason -->
{% if data['under-review-reason'] and data['under-review-reason'] | trim %}
  {% set insetTextHtml %}
    <p>{{ data['under-review-reason'] }}</p>
  {% endset %}

  {{ insetText({
    html: insetTextHtml
  }) }}
{% endif %}

        <!-- Household -->
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">You need to review 2 more patients in this household</h2>
        <div class="nhsuk-button-group nhsuk-u-margin-bottom-7">
          <a class="nhsuk-button" href="household-new-2-under-review-2" role="button" draggable="false">
            View household
          </a>
          <a class="nhsuk-button nhsuk-button--secondary" href="under-review-reason-batch-2" role="button" draggable="false">
            Place all under review
          </a>
        </div>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}


{% endblock %}
