<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'address-update/_layout.html' %}


<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = "Home address updated" %}

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = heading + "- NHS" %}

<!-- For adding a breadcrumb or back link -->
<!-- Add phase banner include here too -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% include '../includes/auf-feedback.html' %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Home address updated
      </h1>
      <div class="nhsuk-panel__body">
        Your NHS record has been updated and we’ve shared your new address with your GP surgery
      </div>
    </div>

    <p>You've changed your home address to:</p>
    <p>{% if data['select-new-address'] %}
        {{ data['select-new-address'] }} Town Street,<br />
        London,<br />
        SW1A 1AA
      {% elseif data['new-address-line-1'] %}
        {{ data['new-address-line-1'] }}<br />
        {{ data['new-address-line-2'] }}<br />
        {{ data['new-address-town'] }}<br />
        {{ data['new-address-postcode'] }}<br/>
        {{ data['new-address-country'] }}
      {% else %}
        35 Clock Tower Way<br>
        York<br>
        YO23 1PP<br>   
      {% endif %}
    </p>
    
    <p>We have sent a confirmation email to the address on your record.</p>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Your new address is outside the catchment area for Lordship Lane Surgery. Your current GP may contact you to confirm this.</p>
      <p>If your current surgery doesn't accept patients outside of their catchment area, you will have 30 days to find a new GP to register with.</p>
    </div>


    


    <h2 class="nhsuk-heading-m">Register with a new GP</h2>
    <p>Registering with a new GP in your area takes about 15 minutes.</p>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          When to speak to your current GP first
        </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Speak to your current GP if you:</p>
          <ul>
            <li>are on a waiting list for elective surgery</li>
            <li>have any GP appointments you are waiting for</li>
            <li>take any prescription medications</li>
          </ul>
        </div>
    </details>


    {{ actionLink({
      text: "Find a GP",
      href: "https://www.nhs.uk/service-search/find-a-gp",
      openInNewWindow: true
    }) }}
   
   
   
   
   
   
    <!--
    <br>
    <p><a href="feedback">Tell us about your experience updating your address (opens in a new tab)</a></p>
    -->
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}