<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'address-update/_layout.html' %}


<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home address updated" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% include '../includes/auf-feedback.html' %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-panel">
      
      <h1 class="nhsuk-panel__title margin-bottom-0">
        You told us you no longer live in the the UK
      </h1>
      <!--
      <div class="nhsuk-panel__body">
        You told us you no longer live in the the UK
      </div>
      -->
      

    </div>

    <p>Your address has been updated on your NHS record.</p>

    <p>You've told us that you've left the UK and moved abroad.</p>

    <p>We have sent a confirmation email to the email address on your record.</p>

    <h2>What happens next</h2>

    <p>Lordship Lane Surgery will remove you from their patient list.</p>

    <p>If you return to live in the UK, you can <a href="https://www.nhs.uk/service-search/find-a-gp" target="_blank">find a new GP</a> in your area.</p>

    <p>If you did not make this change, report it to your GP surgery as soon as possible.</p>

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}
