<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!-- Set the page title -->
{% block pageTitle %}
Summary Care Record - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          text: "Go back",
          href: "javascript:history.go(-1)"
        }) }}

        <form action="check-answers-b" method="post" autocomplete="off">

          {{ hint({
             "text": "Health information",
             "classes": "nhsuk-u-margin-bottom-2"
           }) }}

          <H2>Summary Care Record (SCR)</H2>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint" id="contact-hint">
            <p>When you register with a GP surgery in England, a SCR is automatically created for you, unless you have already chosen not to have one. Your SCR has information about the medicines you take, any allergies or adverse reactions you might have and may contain additional information. This additional information has details of any significant illnesses and health problems, operations and vaccinations you have had, how you would like to be treated (such as where you would prefer to receive care), what support you might need and who should be contacted for more information about you. Your SCR can only be shared with healthcare staff treating you and provides them with vital information from your health record. If you choose not to select an option your default will apply.</p>
          </div>

          {{ radios({
            "idPrefix": "scr",
            "name": "scr",
            "items": [
              {
                "value": "Yes",
                "text": "Yes, I would like a Summary Care Record with medicines, allergies, adverse reactions and additional information.",
                checked: checked("scr", "Yes")
              },
              {
                "value": "No",
                "text": "Yes, I would like a Summary Care Record with medicines, allergies and adverse reactions only.",
                checked: checked("scr", "Yes only")
              },
              {
                "value": "No",
                "text": "No, I would not like a Summary Care Record.",
                checked: checked("scr", "No")
              }
            ]
          }) }}

          {% endcall %}

          <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>It is not compulsory for you to select any of these options. If you choose not to then your SCR consent preference held at your previous GP surgery will be transferred to your new GP surgery.</p>
        </div>






          {{ button({
            "text": "Continue"
          }) }}

        </form>



      </div>
    </div>





<!-- End of content -->

</div>
</div>
{% endblock %}
