.nhsuk-button--blue {
  background-color: #005bb3;
  box-shadow: 0 4px 0 #002a52;
}

.nhsuk-button--blue:hover {
  background-color: #003f7b;
}

.nhsuk-button--blue:active {
  background-color: #002f5c;
}

.app-button--cis2 {
    align-items: center;
    background-color: #005eb8;
    box-shadow: 0 4px 0 #003087;
    display: inline-flex
;
    gap: 16px;
}
