<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="what-is-your-gender-at-birth" method="post" autocomplete="off">
            {{ hint({
              "text": "Step 2 of 3 - Personal Details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <H2>Which of the following best describes {{ data ['name-first-name'] }}?</H2>

            {% else %}

            <H2>Which of the following best describes you?</H2>

            {% endif %}

            {% set otherHtml %}
              {{ input({
                id: "other",
                name: "other",
                classes: "nhsuk-u-width-two-thirds",
                label: {
                  text: "Gender"
                }
              }) }}
            {% endset -%}

            {{ radios({
              "idPrefix": "gender",
              "name": "gender",
              "fieldset": {
                "legend": {
                  "text": "",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": "<p>
                  You can choose any of these options and we should be able to match their records accurately.</p>
                  <p>Your answer does not have to match the sex they were given at birth.</p>"
              },

              "items": [
                {
                  "value": "female",
                  "text": "Female",
                  checked: checked("gender", "female")
                },
                {
                  "value": "male",
                  "text": "Male",
                  checked: checked("gender", "male")
                },
                {
                  "value": "non-binary",
                  "text": "Non-binary",
                  checked: checked("gender", "non-binary")
                },
                {
                  "value": "prefer-to-self-describe",
                  "text": "Prefer to self-describe",
                  "conditional": {
                    "html": otherHtml
                  },
                  checked: checked("gender", "prefer-to-self-describe")
                }
              ]
            }) }}

            {{ details({
              "text": "Why are you asking this?",
              "HTML": "<p>We collect this information to better tailor healthcare services to your needs. We do not discriminate on grounds of gender.</p>"
            }) }}

            

            {{ button({
              "text": "Continue"
            }) }}



          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
