{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Home address updated" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Home address updated
      </h1>
      <div class="nhsuk-panel__body">
        {% if data['noGP'] != 'true' %}
        Your NHS record has been updated and we’ve shared your new address with your GP surgery
        {% else %}
        Your NHS record has been updated
        {% endif %}
      </div>
    </div>

      <p>You have confirmed your home address with the NHS. You do not need to do anything else.</p>
      <p>You changed your home address to:</p>
      <p>{% if data['select-new-address'] %}
          {{ data['select-new-address'] }} Town Street,<br />
              London,<br />
              SW1A 1AA
          {% elseif data['new-address-line-1'] %}
            {{ data['new-address-line-1'] }}<br />
            {{ data['new-address-line-2'] }}<br />
            {{ data['new-address-town'] }}<br />
            {{ data['new-address-postcode'] }}<br/>
            {{ data['new-address-country'] }}
          {% else %}
            35 Clock Tower Way<br>
            York<br>
            YO23 1PP<br>   
          {% endif %}
      </p>

       {% if data['noGP'] != 'true' %}

      <p>We have sent a confirmation email to the address on your record.</p>

      <p>You will stay registered with your current GP surgery. This is because your new address is still within your GP surgery’s catchment area.</p>

      <p>If this address is wrong, you can <a href="https://change-your-address.account.nhs.uk/" target="_blank">change your home address</a> or <a href="https://www.nhs.uk/service-search/find-a-gp" target="_blank">find a new GP</a> in your area.</p>

      <p>If you did not make this change, report it to your GP surgery as soon as possible.</p>

       {% else %}


        {% endif %}


     
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
