<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            "href": "do-you-smoke",
            "text": "Go back"
          }) }}

          <form action="what-are-your-contact-details" method="post" autocomplete="off">

            {{ checkboxes({
              "idPrefix": "contact-prefs",
              "name": "contact-prefs",
              "fieldset": {
                "legend": {
                  "text": "How can we contact you?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "html": "<p>Your GP surgery will use these methods to contact you about your application, make appointments, provide prescriptions, and facilitate medical services</p><p>Select all contact methods that are acceptable to you.</p>"
              },
              "items": [
                {
                  "value": "Email",
                  "text": "Email",
                  "name":"contact-prefs-email",
                  checked: checked("contact-prefs", "Email")
                },
                {
                  "value": "Text message",
                  "text": "Text message",
                  "name":"contact-prefs-text",
                  checked: checked("contact-prefs", "Text message")
                },
                {
                  "value": "UK home telephone number",
                  "text": "UK home telephone number",
                  "name":"contact-prefs-home-tel",
                  checked: checked("contact-prefs", "UK home telephone number")
                },
                {
                  "value": "UK mobile telephone number",
                  "text": "UK mobile telephone number",
                  "name":"contact-prefs-mobile-tel",
                  checked: checked("contact-prefs", "UK mobile telephone number")
                }
              ]
            }) }}

            {{ details({
              "text": "What if I don't have direct access to a phone or email?",
              "HTML": "<p>If you don't have direct access to a phone or email, you can also the contact details of a friend or relative you trust.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
