<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'mpr/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Sam Smith accepted - GP registrations portal - NHS" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

        <!--
        {{ backLink({
            text: "Back to patient registrations",
            href: "reg-table-v2-yes-no2"
        }) }}
        -->



        <div class="nhsuk-panel">
          <h1 class="nhsuk-panel__title">
            Approved
          </h1>
          <div class="nhsuk-panel__body">
            Sam Smith has been added to your patient list
          </div>
        </div>


       
         <h2 class="nhsuk-heading-l">What happens next</h1>
        
           <p class="nhsuk-body">A record will be created for the patient in your clinical systems. This usually takes about 10 minutes.</p>

           <p class="nhsuk-body">The patient's NHS record on the Spine will be updated.</p>

           <p class="nhsuk-body">Follow your surgery's guidance for managing newly registered patients.</p>

        <a href="reg-table-pds-2-updated" class="nhsuk-link">Back to patient registrations</a>
        &nbsp;&nbsp;&nbsp;
        <a href="dashboard-pds-2-updated" class="nhsuk-link">Back to the dashboard</a>

        
        </div>
      </div>

      



{% endblock %}

{% block pageScripts %}


{% endblock %}
