<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                text: "Do you have a previous UK address?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "have-previous-uk-address",
              "name": "have-previous-uk-address",
              "items": [
                {
                  "value": "Yes~/sprint-4/what-is-your-previous-address",
                  "text": "Yes",
                  checked: checked("have-previous-uk-address", "Yes")
                },
                {
                  "value": "No~/sprint-4/are-you-registered-at-gp",
                  "text": "No",
                  checked: checked("have-previous-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}
<script></script>
{% endblock %}
{% endblock %}
