{% extends 'layout.html' %}

{% block pageTitle %}
NHS Register with a GP Surgery cookies policy
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      text: "Go back",
      href: "javascript:history.go(-1)"
    }) }}


    <h1>NHS Register with a GP Surgery cookies policy</h1>

    <p>NHS England ("we" or "us") uses cookies to deliver the “NHS Register with a GP Surgery” service</p>
    <p>The information set out in this policy is provided in addition to the <a href="https://gp-registration.nhs.uk/gpregistration/legal/privacy">NHS Register with a GP Surgery privacy policy</a> and should be read alongside it.</p>

    <h2>What are cookies?</h2>
    <p>Cookies are small files we put on your device (for example, your phone, tablet or laptop) when you visit a website. Cookies are widely used to make websites and apps work, or work more efficiently, as well as to provide services and functionalities for users.</p>

    <h2>How we use cookies</h2>
    <p>The “NHS Register with a GP Surgery” service uses two types of cookies:</p>
    <ul>
      <li>Cookies we need to put on your device to make the service work and keep it secure. TheseWe  are known as “strictly necessary cookies”.</li>
      <li>Optional analytic cookies to collect information about how the service is used to help us improve it (sometimes referred to as "performance cookies" or “analytics cookies”.)</li>
      <li>Analytics cookies help us to improve our service but we will only use them if you say it’s ok by selecting ‘Accept analytics cookies’ in the cookie pop-up when you visit the service.</li> 
    </ul>

    <div class="nhsuk-warning-callout">

      <h3 class="nhsuk-warning-callout__label">Important<span class="nhsuk-u-visually-hidden">:</span></h3>
      <p>If you're using a public computer, make sure you:</p>
      <ul>
        <li>log out of the NHS App online</li>
        <li>delete any health record documents you may have downloaded</li>
        <li>delete any cookies from the web browser</li>
      </ul>

    </div>

    <h2>Strictly necessary cookies we use</h2>

    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption"></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Name
          </th>
          <th role="columnheader" class="" scope="col">
            Purpose
          </th>
          <th role="columnheader" class="" scope="col">
            Expires
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>gp-reg-cookie-accept
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>Persistent cookie. This cookie is set once a visitor has agreed to, or rejected cookies. It is used to save their decision on whether they have accepted or rejected cookies.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>365 days
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>aws-waf-token
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>Amazon Web Services persistent cookie. This cookie contains encrypted information about the way you interact with our service which we use to establish that you are a legitimate visitor and protect our service from attacks using fake users.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>5 minutes
          </td>
        </tr>
      </tbody>
    </table>

    <p class="nhsuk-u-margin-top-8">We also measure how many IP addresses connect to our web service with JavaScript disabled or use a browser which does not support JavaScript.  We do this by using a technique called pixel tracking.  We use this information to measure how accessible our service is and do not use it for any other purposes. </p>

    <h2 >Optional analytics cookies we use</h2>

    <p>We use software called Adobe Analytics to collect performance data about how you use the service so that we can make improvements. You can read more about how Adobe Analytics processes your personal data in the<a href="https://www.adobe.com/privacy.html">Adobe privacy policy</a>.</p>

    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption"></caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Name
          </th>
          <th role="columnheader" class="" scope="col">
            Purpose
          </th>
          <th role="columnheader" class="" scope="col">
            Expires
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>s_cc
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>This lets us know if your browser allows cookies.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>When you close your browser
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>s_sq
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>This lets us know what the previous link you clicked on was.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>When you close your browser
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>AMCV_###@AdobeOrg
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>This lets us know your unique visitor ID each time you use the service.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>2 years
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell" style="word-break: break-all; ">
            <span class="nhsuk-table-responsive__heading">Name </span>com.adobe.reactor.dataElementCookiesMigrated
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>Includes data elements set to capture usage of our website. This is set where users have come from NHS sites using old DTM cookies and is very uncommon.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>No expiry
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>demdex
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>This allows cross-domain analytics of NHS properties and the identification of returning visitors.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>180 days
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>s_ppn
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>Tells us how you use our website by reading the previous page you visited.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>1 day
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name </span>s_getNewRepeat
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Purpose </span>This lets us know if you're logging in for the first time.
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Expires </span>1 month
          </td>
        </tr>
      </tbody>
    </table>


    <h2 class="nhsuk-u-margin-top-8">Your cookie choices</h2>

    <p>The majority of devices and browsers will allow you to the settings used for cookies and disable and enable them as you require.</p>
    <p>You can select “reject analytics cookies” if you do not want these optional cookies placed on your device while you are using the service.</p>
    <p>You can also delete the cookies already on your device, and you can set your browser or device to prevent them being placed.</p>
    <p>Please be aware that if you set your preferences to not allow all cookies, it could limit the functionality of the “NHS Register with a GP Surgery” service as it needs the strictly necessary ones to work.</p>

    <h2>Changes to this cookie policy</h2>
    <p>Our terms of use, privacy policy and cookies policy may change. We'll inform you and request your continued agreement if we make any significant changes to our privacy policy, cookies policy or terms of use.</p>

  </div>
</div>

{% endblock %}
