{% extends 'layout.html' %}

{% block pageTitle %}
Your privacy on NHS login
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      text: "Go back",
      href: "javascript:history.go(-1)"
    }) }}


    <h1>Your privacy on NHS GP Registration</h1>

  </div>
</div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>

          <p>Version ?, 29 Oct 2021</p>

          <p>This privacy notice will explain:</p>

          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <a class="nhsuk-contents-list__link" href="#who-we-use">How we use your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#who-we-are">The ‘NHS GP Registration’ service and who we are</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#personal-data">Personal data - who controls its use</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#features">Features</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-personal-info">What information we collect about you and how it is used</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#personal-data-why">How NHS Digital uses your personal data and why</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#your-rights">Your rights</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#contact-for-queries">Points of contact for queries</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#objections">Objections and complaints about ‘NHS GP Registration’</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#changes">Changes to the privacy policy</a>
            </li>
          </ol>
        </nav>
      </section>

      <section>

        <div id="who-we-use">
          <h2>How we use your personal information</h2>
          <p>This privacy policy relates to the service provided by NHS Digital, comprising a single point of digital GP registration via a website branded ‘NHS GP Registration’, through which you can register for a General Practitioner to access NHS primary care in England.</p>
          <h3>Our commitment to protecting your personal information</h3>
          <p>Whenever you provide personal information to a third party, that party is legally obliged to use your information in line with data protection law.</p>
          <p>We take the security of your personal information seriously. We have set up security measures, policies and procedures such as:</p>
          <ul>
            <li>training all staff annually in data and security protection</li>
            <li>monitoring our platform to keep your personal information secure</li>
            <li>following good practice guidance provided by the National Technical Authority</li>
            <li>always using legally binding agreements with all organisations we use</li>
            <li>having security and confidentiality policies in place across the organisation, to which staff must agree before they are given access to personal information</li>
            <li>restricting access to personal information to only those staff who need access to perform their role</li>
          </ul>
          <p>However, no software or application can be completely secure. If you have any concerns that your registration could have been compromised (for example, someone could have discovered your password), contact the GP you are registering with to request support.</p>
          <h4>This privacy policy explains the following:</h4>
          <ul>
            <li>the services available via the ‘NHS GP Registration’ and who is involved</li>
            <li>who the controller is for the personal data processed when you use the ‘NHS GP Registration’</li>
            <li>what information is collected about you</li>
            <li>what information is held about you and where that information is obtained</li>
            <li>how your personal data is used and why</li>
            <li>where your data is stored</li>
            <li>your rights</li>
            <li>points of contact for queries, objections and complaints In this privacy policy the following terms have the following meanings:</li>
              <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-2">
                <li>Controller: "The person or entity which alone or with others determines the purposes or means or processing of personal data"</li>
                <li>Processor: "Any person or legal entity who processes personal data on behalf of the controller"</li>
                <li>Special Category Data: "Sensitive personal data given special consideration in data protection law including personal data about your health"</li>
              </ul>
        </div>

        <div id="who-we-are">
          <h2 class="nhsuk-heading-l">The ‘NHS GP Registration’ service and who we are</h2>
          <p>The ‘NHS GP Registration’ allows you to apply to register with a GP.</p>
          <p>The key organisations involved in ‘NHS GP Registration’ and their respective roles are as follows:</p>
          <h3>NHS England</h3>
          <p>NHS England leads the National Health Service (NHS) in England. It sets the priorities and direction of the NHS.</p>
          <p>A lot of the work NHS England does involves the commissioning of healthcare services in England.</p>
          <p>It commissions the contracts for GPs, pharmacists and dentists, and supports local health services led by groups of GPs called clinical commissioning groups (CCGs).</p>
          <p>NHS England wants everyone to have greater control of their health and wellbeing, and to be supported to live longer, healthier lives.</p>
          <p><a href="https://www.england.nhs.uk/">Find out more on the NHS England website</a></p>
          <p>NHS England has directed NHS Digital to process certain personal data in relation to users of the ‘NHS GP Registration’. The legal directions are titled <a href="https://www.legislation.gov.uk/ukpga/2012/7/section/270/enacted">Section 270 of the Health and Social Care Act 2012.</a></p>
          <h3>NHS Digital</h3>
          <p>NHS Digital was set up by the Department of Health and Social Care in April 2013 and is an executive non-departmental public body that provides national information, data and IT systems for health and care services.</p>
          <p>We exist to help patients, clinicians, commissioners, analysts and researchers.</p>
          <p>Our goal is to improve health and social care in England by making better use of technology, data and information.</p>
          <p><a href="https://digital.nhs.uk/">Find out more on the NHS England website</a></p>
          <p>NHS Digital has been directed by NHS England to provide ‘NHS GP Registration’.</p>
          <p>NHS Digital is also responsible for managing (as well as many other services):</p>
          <ul>
            <li>the national data opt-out, which allows patients to state their data sharing preferences (Native Version only)</li>
            <li>the NHS.UK website, which provides health information</li>
            <li>NHS 111 online, which allows patients to get triage advice based on their symptoms online</li>
            <li>NHS Login, which provides patients with a simple, secure and re-usable way to access multiple digital health and care services, including ‘NHS GP Registration’.</li>
          </ul>
          <h3>GP practices</h3>
          <p>GP practices provide primary care services to the public.</p>
          <p>As part of ‘NHS GP Registration’, GP practices will receive and control data individuals provide to enable their staff to process their application to register with the GP practice.</p>
        </div>

        <div id="personal-data">
          <h2 class="nhsuk-heading-l">Personal data - who controls its use</h2>
          <p>The GP practice is the controller of your personal data.  NHS Digital is the processor of your personal data.</p>
          <h3>Using NHS Login to pre-populate your personal data</h3>
          <p>If you wish to use NHS login to access ‘NHS GP Registration’ then NHS Digital will, with your consent, provide your login details to the online service you wish to use i.e. you can use the details stored by NHS Digital to save you time completing their online form (or you can enter the details yourself if you so wish).</p>
          <p>Please note that if you access our service using your NHS login details, the identity verification services are managed by NHS Digital. NHS Digital is the controller for any
            personal information you provided to NHS Digital to get an NHS login account and verify
            your identity, and uses that personal information solely for that single purpose. For this
            personal information, our role is a “processor” only and we must act under the instructions
            provided by NHS Digital (as the “controller”) when verifying your identity. <a href="https://access.login.nhs.uk/terms-and-conditions">NHS
            Digital’s Privacy Notice and Terms and Conditions</a>. This restriction does not apply to the
            personal information you provide to us separately</p>
          <h3>Using Personal Demographic Service to retrieve your patient record</h3>
          <p>If you are receiving care from a health or care organisation, that organisation may share your
            NHS number with other organisations providing your care. This is so that the health and care
            organisations are using the same number to identify you whilst providing your care. By using
            the same number the health and care organisations can work together more closely to
            improve your care and support.</p>
          <p>Your NHS number is accessed through an NHS Digital service called the Personal
            Demographic Service (PDS). A health or care organisation sends basic information such as
            your name, address and date of birth to the PDS in order to find your NHS number. Once
            retrieved from the PDS, the NHS number is stored in our case management system. This data
            is retained in line with our record retention policies and in accordance with the Data
            Protection Act 1998, Government record retention regulations and best practice. Further
            information is available on our website.</p>
          <p>We will share information only to provide health and care professionals directly involved in
            your care access to the most up-to-date information about you. Access to information is
            strictly controlled, based on the role of the professional, and where the user has a direct care
            relationship with you.</p>
          <p>The use of joined up information across health and social care brings many benefits. One
            specific example where this will be the case is the discharge of patients into social care.
            Delays in discharge (commonly known as bed blocking) can occur because details of social
            care involvement are not readily available to the staff on the hospital ward. The hospital does
            not know who to contact to discuss the ongoing care of a patient. The linking of social care
            and health information via the NHS number will help hospital staff quickly identify if social
            care support is already in place and who the most appropriate contact is. Ongoing care can be
            planned earlier in the process, because hospital staff will know who to talk to.</p>
          <p>While using this service, PDS is used to match the answers to your questions to your patient record and in some cases to pre-populate some answers if you have used NHS login.</p>
          <p>You have the right to object to the processing of your NHS number in this way. This will not stop you from receiving care, but will result in the benefits outlined above not being realised. To help you decide, we will discuss with you how this may affect our ability to provide you with care, and any other options that you have.</p>
          <p>If you wish to opt-out from the use of your NHS number in this way, talk to your GP.</p>
        </div>

        <div id="features">
          <h2>Features</h2>
          <h3>Collecting demographic information to register with a new GP</h3>
          <p>In order to locate your existing patient records, ‘NHS GP Registration’ will collect demographic information about you.</p>
          <h3>Medical & Lifestyle Questionnaire</h3>
          <p>In order to facilitate your new GP knowing about your current medical situation and lifestyle which may benefit from consultation, you are invited to complete a Medical & Lifestyle Questionnaire.</p>
        </div>


        <div id="how-personal-info">
          <h2>What information we collect about you and how it is used</h2>
          <p>The information processed for the purposes of ‘NHS GP Registration’ can be split into several different categories.</p>
          <p>Details of the information and personal data falling within each of the categories where NHS Digital is the controller are set out below.</p>
          <h3>Categories of information and personal data</h3>

          <div class="block-table">

              <div class="nnhsuk-table-container">
                <table>
                  <thead>
                    <tr>
                      <th>Category of information</th>
                      <th>Personal data</th>
                      <th>Special categories of personal data</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>NHS GP Registration audit data</td>
                      <td>
                        <p>Information captured against your NHS GP Registration session ID about your use of the ‘NHSGP Registration’, such as the time of use, actions you took using the ‘NHS GP Registration’, and associated technical log events.</p>
                      <td>None</td>
                    </tr>
                    <tr>
                      <td>NHS GP Registration performance data</td>
                      <td>
                        <p>IP addresses are transmitted to Hotjar as part of performance data but are not stored so users cannotbe identified.</p>
                      </td>
                      <td>None</td>
                    </tr>
                    <tr>
                      <td>NHS GP Registration feedback</td>
                      <td>
                        <p>The personal data you provide if you provide feedback on the service.</p>
                      </td>
                      <td>None</td>
                    </tr>
                    <tr>
                      <td>NHS GP Registration performance data</td>
                      <td>
                        <p>IP addresses are transmitted to Hotjar as part of performance data but are not stored so users cannotbe identified.</p>
                      </td>
                      <td>180 days</td>
                    </tr>
                    <tr>
                      <td>NHS GP Registration demographic data</td>
                      <td>
                        <p>The personal data you provide to register with a GP.</p>
                      </td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>NHS GP Registration Medical & Lifestyle Questionnaire data</td>
                      <td>
                        <p>The personal data you provide to inform your new GP about your Medical & Lifestyle.</p>
                      </td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>

        </div>

        <div id="personal-data-why">
          <h2>How NHS Digital uses your personal data and why</h2>
          <p>The processing of your personal data is necessary to provide you with ‘NHS GP Registration’ services and ensure the functionality of ‘NHS GP Registration’ works.</p>
          <p>You will not be able to use ‘NHS GP Registration’ unless you have agreed to its terms of use and this privacy policy.</p>
          <p>The NHS Digital is the processor of your personal data.  The GP is the controller of your personal data.</p>
          <p>We may need to share your personal information if we are required to do so by law.</p>

          <h3>Legal basis for using each category of information and how long NHS Digital hold the data for</h3>

          <div class="nnhsuk-table-container">
            <table>
              <thead>
                <tr>
                  <th>Category of information</th>
                  <th>Legal basis for using this data</th>
                  <th>Retention period</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>NHS GP Registration audit data</td>
                  <td>
                    <p>Legal obligation – processing is necessary for compliance with the legal obligation to which NHS Digital is subject</p>
                  <td>8 years after the audit event occurred</td>
                </tr>
                <tr>
                  <td>NHS GP Registration feedback</td>
                  <td>
                    <p>Your consent via acceptance of our privacy policy and giving your agreement to take part in a survey</p>
                  </td>
                  <td>12 months</td>
                </tr>
                <tr>
                  <td>NHS App</td>
                  <td>
                    <p>Your consent via acceptance of our <a href="">cookies</a></p>
                  </td>
                  <td>12 months</td>
                </tr>
                <tr>
                  <td>Performance data</td>
                  <td>
                    <p><a href="">policy</a></p>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>

          <h4>Where this data is stored and processed</h4>
          <p>We only store and process your personal data within the UK and European Economic Area (EEA).</p>
          <h3>Personal data for which NHS Digital is the controller outside the scope of the ‘NHS GP Registration’</h3>
          <p>In respect of certain connected services NHS Digital has a role outside the scope of ‘NHS GP
            Registration’ as NHS Digital also provides these services. They are separate from ‘NHS GP
            Registration’ and subject to their own privacy policies which you should read before use.</p>
          <h3>Categories of personal data information, how the data is used, and how the data is handled</h3>

          <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
            <th role="columnheader" class="" scope="col">
            Category of information
            </th>
            <th role="columnheader" class="" scope="col">
            How the data is used and handled
            </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">NHS login account information</td>
              <td class="nhsuk-table__cell "><a href="">See the NHS login privacy policy</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">NHS demographic information</td>
              <td class="nhsuk-table__cell "><a href="">Personal Demographics Service Fair Processing Notice</a></td>
            </tr>
          </tbody>
        </table>

        <h3>Personal data for which NHS Digital is the processor only</h3>
        <p>The table below provides a number of links and explains who you need to contact if you have queries regarding a particular service or the use of your information.</p>

        <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
          <th role="columnheader" class="" scope="col">
          Category of information
          </th>
          <th role="columnheader" class="" scope="col">
          Privacy policy
          </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Information within your GP medical record</td>
            <td class="nhsuk-table__cell ">Contact your GP practice for a copy of their privacy policy.</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Organ donation preferences</td>
            <td class="nhsuk-table__cell ">This service is managed by NHS Blood and Transplant (NHSBT), which is separate from NHS Digital. <a href="https://www.nhsbt.nhs.uk/">Find out more about NHSBT</a>.</td>
          </tr>
        </tbody>
      </table>

    </div>

        <div id="your-rights">
          <h2>Your rights</h2>
          <p>Data protection laws provide a number of rights to you. These rights are listed below.</p>
          <p>You can exercise your rights by contacting the controller, the GP Practice.</p>
          <p>If you wish to contact NHS Digital, please use the contact details at the bottom of this page.</p>
        </div>


        <div id="contact-for-queries">
          <h2>Points of contact for queries</h2>
          <p>If you have any queries in relation to the use of your personal data within ‘NHS GP Registration’, refer to the table below to find out where to direct your query.</p>
          <h3>Who to contact for queries about use of your personal data in the NHS App</h3>

          <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
            <th role="columnheader" class="" scope="col">
            Query
            </th>
            <th role="columnheader" class="" scope="col">
            Who do I contact?
            </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about the content of your medical records</td>
              <td class="nhsuk-table__cell ">Your GP surgery</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about your healthcare, such as GP appointments or repeat prescriptions</td>
              <td class="nhsuk-table__cell ">Your GP surgery</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about login information or issues</td>
              <td class="nhsuk-table__cell "><a href="">See our help and support page</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about your data sharing</td>
              <td class="nhsuk-table__cell "><a href="">See the National Data Opt-out Service privacy notice</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about your organ donation preferences</td>
              <td class="nhsuk-table__cell "><a href="">See NHS Blood and Transplant's organ donation FAQ</a></td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Queries about personal health record services</td>
              <td class="nhsuk-table__cell ">Your GP surgery or hospital(s); a contracted personal health records provider. <a href="">See personal health record services for details</a></td>
            </tr>
          </tbody>
        </table>


        </div>

        <div id="objections">
          <h2>Objections and complaints about ‘NHS GP Registration’</h2>
          <p>We will investigate and attempt to resolve any data privacy objections and complaints relating to ‘NHS GP Registration’.</p>
          <p>We will make every reasonable effort to allow you to exercise your rights as quickly as possible and within the timescales provided by data protection laws.</p>
          <p>You can contact our Data Protection Office to make a complaint:</p>

          <h3>By email</h3>
          <p><a href="">enquiries@nhsdigital.nhs.uk</a></p>

          <h3>By post</h3>
          <p>Privacy Transparency and Ethics team<br>
            7 and 8 Wellington Place<br>
            Leeds<br>
            West Yorkshire<br>
            LS1 4AP</p>

          <p>We ask that you try to resolve any issues with us first, although you have a right to lodge a complaint with the Information Commissioner's Office (ICO) at any time about our processing of your personal information.</p>
          <p>The ICO is the UK regulator for data protection and upholds information rights.</p>
          <p><a href="">Contact the ICO</a></p>


          <div id="changes">
            <h2>Changes to the privacy policy</h2>
            <p>The terms of our privacy policy may change from time to time.</p>
          </div>

        </div>

      </section>


      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: Nov 2021
          <!--Next review due: 10 Jan 2022
            (this component at the bottom of the page isn't included in the LIVE page)-->
        </p>
      </div>




    </div>




  </div>
</article>

</div>

{% endblock %}
