<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!-- Set the page title -->
{% block pageTitle %}
Registering for the first time - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          text: "Go back",
          href: "javascript:history.go(-1)"
        }) }}

        <form action="" method="post" autocomplete="off">

          {% if (data['who-is-being-registered'] == "dependant") %}

           {{ hint({
              "text": "Step 1 of 3 - Matching patient to their record",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            <h2> Is {{ data ['name-first-name'] }} registering with a UK GP for the first time?</h2>

            <div class="nhsuk-hint" id="contact-hint">
            <p>A GP is your first point of contact for health problems.
          </div>

            {% else %}

          {{ hint({
              "text": "Step 1 of 3 - Matching you to your record",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

           <h2> Are you registering with a UK GP for the first time?</h2>
            <div class="nhsuk-hint" id="contact-hint">
            <p>A GP is your first point of contact for health problems.
          </div>

        {% endif %}


          {% if (data['under-12-months'] == "under-12-months") %}

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}


          {{ radios({
            "idPrefix": "registering-first-time",
            "name": "registering-first-time",
            "items": [
              {
                "value": "Yes~/sprint-12/section-1/where-was-the-child-born",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "Yes")
              },
              {
                "value": "No~/sprint-12/section-1/do-you-know-previous-postcode-gp-has",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% elif (data['user-auth'] == "p9") %}

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}


          {{ radios({
            "idPrefix": "registering-first-time",
            "name": "registering-first-time",
            "items": [
              {
                "value": "Yes~/sprint-12/section-1/is-this-your-current-address",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "Yes")
              },
              {
                "value": "No~/sprint-12/section-1/is-this-your-current-address",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% elif (data['user-auth'] == "p5") %}

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}


          {{ radios({
            "idPrefix": "registering-first-time",
            "name": "registering-first-time",
            "items": [
              {
                "value": "Yes~/sprint-12/section-2/do-you-current-address",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "Yes")
              },
              {
                "value": "No~/sprint-12/section-2/do-you-current-address",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "No")
              }
            ]
          }) }}

          {% endcall %}



          {% else %}

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}


          {{ radios({
            "idPrefix": "registering-first-time",
            "name": "registering-first-time",
            "items": [
              {
                "value": "Yes~/sprint-12/section-1/check-answers",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "Yes")
              },
              {
                "value": "No~/sprint-12/section-1/do-you-know-previous-postcode-gp-has",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("registering-first-time", "No")
              }
            ]
          }) }}

          {% endcall %}

        {% endif %}




          {{ button({
            "text": "Continue"
          }) }}

        </form>



      </div>
    </div>





<!-- End of content -->

</div>
</div>
{% endblock %}
