<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Have you ever been a member of the UK Armed forces - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="" method="post" autocomplete="off">

            {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}


            {% if (data['who-is-being-registered'] == "dependant") %}

            <H2>Is {{ data ['name-first-name'] }} registered with the Defence Medical Services?</H2>

            {% else %}

            <H2>Are you registered with the Defence Medical Services?</H2>

            {% endif %}
            <div class="nhsuk-hint" id="contact-hint">
              <p>If you or a family member recently left the Armed Forces, you may still be registered with the Defence Medical Services (DMS).</p>
            </div>


            {% call fieldset({
                legend: {
                  text: "",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}


              {{ radios({
                "idPrefix": "is-armed-forces-member",
                "name": "is-armed-forces-member",
                "items": [
                  {
                    "value": "Yes~/sprint-14/section-3/are-you-a-member-of-armed-forces-details",
                    "text": "Yes",
                    checked: checked("is-armed-forces-member", "Yes")
                  },
                  {
                    "value": "No~/sprint-14/section-3/do-you-need-a-interpreter",
                    "text": "No",
                    checked: checked("is-armed-forces-member", "No")

                  }
                ]
              }) }}


            {% endcall %}


            {{ details({
              "text": "Why are you asking this?",
              "HTML": "<p>This helps us understand where to request your medical record from.</p>
                      <p>If you have previously been a member of the UK Armed forces you may also be able to access additional services for former service members.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>


    <!-- End of content -->

  </div>
</div>
{% endblock %}
