{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = "Are you sure you don't have, or don't want to use a home phone number?" %}
{% set hintText = "This will remove your home phone number from your central NHS record." %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="check-contact" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ hint({
            "text": hintText,
            "classes": "nhsuk-u-margin-bottom-4"
          }) }}

          {{ radios({
            "idPrefix": "no-contact",
            "name": "no-contact",
            "items": [
              {
                "value": "Yes",
                "text": "Yes, remove my home phone number from my NHS record",
                "checked": checked("no-contact", "Yes")
              },
              {
                "value": "No",
                "text": "No",
                "checked": checked("no-contact", "No")
              }
            ]
          }) }}

        {% endcall %}

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

        </form>
      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}