Recently moved{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'Check your details' %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="thank-you" method="post" autocomplete="off">

          {{ fieldset({
            "legend": {
              "text": heading,
              "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-2",
              "isPageHeading": true
            }
          }) }}

          <p>The NHS and your GP surgery can use these details to call, text or email you about your health care.</p>

            <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-email'] or 'cityofangels@msn.com' }}

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="email">Change<span class="nhsuk-u-visually-hidden"> </span></a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mobile
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-mobile'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mobile">Change<span class="nhsuk-u-visually-hidden"> </span></a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Home
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-home-phone'] or '01189665321' }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="home">Change<span class="nhsuk-u-visually-hidden"> </span></a>
                </dd>
              </div>
            </dl>

            </form>

        {{ button({
          "text": "Continue",
          "href": "thank-you"
        }) }}

      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block pageScripts %}

<script>

  $(document).ready(function () {

    // Populate any unanswered fields with "Not answered" text
    $('.nhsuk-summary-list__value').filter(function () {
      return $.trim($(this).text()) === "";
    }).each(function (ind, obj) {
      $(obj).closest('dd').html("<span class='summary-page-unanswered'>Not answered</span>");
    });

    // Add colon to contact method type if it isn't blank
    $(".contact-prefs-type:not(:empty)").append(':');

  });
</script>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
