{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'What is your mobile phone number? (optional)' %}
{% set hintText = "If you leave this box empty it will remove your mobile phone number from this service and your central NHS record." %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="check-contact-2" method="post">

          {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": hintText,
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {{ input({
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-mobile",
              "name": "contact-mobile",
              "spellcheck": false,
              "value": ""
            }) }}

            {% endcall %}

            {{ button({
                "text": "Continue"
              }) }}

          </form>

        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}