{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Is ' + data['name-first-name'] + ' registering with a UK GP for the first time?' %}
{% else %}
  {% set heading = 'Are you registering with a UK GP for the first time?' %}
{% endif %}

{% if (data['know-nhs-number'] === "Yes") %}
  {% set link = 'what-is-your-nhs-number' %}
{% else %}
  {% set link = 'do-you-know-nhs-number' %}
{% endif %}

{% block pageTitle %}
 {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="check-contact" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ radios({
            "idPrefix": "registering-first-time",
            "name": "registering-first-time",
            "items": [
              {
                "value": "Yes",
                "text": "Yes",
                "checked": checked("registering-first-time", "Yes")
              },
              {
                "value": "No",
                "text": "No",
                "checked": checked("registering-first-time", "No")
              }
            ]
          }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
