{% extends 'layout.html' %}

{% block customStyles %}

<STYLE type="text/css">
    .nhsuk-summary-list__key {
        width: 50%;
    }
</STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="pseudo-bg-gp"></div>
<div class="gpemail-metadata">
  <p><strong>From: </strong>Register with a GP Surgery</p>
  <p><strong>Subject: </strong>6 new registrations ready to review</p>
</div>

<div class="pseudo-gpemail-template">

  <p>Dear <strong>Ossett Surgery</strong>,</p>
  <p>You have 6 new registration requests to review.</p>
  <p style="margin-bottom: 80px;"><a href="reg-table">Review new registrations</a></p>
  <p>If you cannot access the registrations portal you can email us at GPregistrations@nhs.net</p>
</div>

{% endblock %}