{% extends 'reg-portal/layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Manage patient registrations Prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">
              Prototype work
              <span class="nhsuk-u-visually-hidden"></span>
            </span>
            Manage patient registrations
          </h1>

          <h2 class="nhsuk-heading-l">Phase 1 flow</h2>

          {{ button({
            "text": "Continue",
                "href": "/reg-portal/login"
        }) }}

          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "admin/listings-manage-reg"
          }) }}

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 class="nhsuk-heading-l">Work in progress</h2>

          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "admin/listings-manage-reg-wip"
          }) }}

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      </div>
    </div>

{% endblock %}


{% block footer %}
{{ footer({
"links": [
{
"URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
"label": "Prototype kit version: " + version
},
{
"URL": "?devMode=true",
"label": "Turn on devMode"
},
{
"URL": "/examples/passing-data/clear-data",
"label": "Clear data"
}
]
})}}
{% endblock %}
