{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
6 new registrations - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          {{ backLink({
            text: "Return to dashboard",
            href: "dashboard"
        }) }}


          <h1 class="nhsuk-heading-xl">View patient details</h1>
          <p>View details of patient registration requests from the last 90 days.</p>


          <table role="table" class="nhsuk-table-responsive">
            <thead class="nhsuk-table__head">
              <tr role="row">
              
                <th role="columnheader" scope="col" class="govuk-table__header" aria-sort="none">
                  <button type="button" data-index="0">Name<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
                    <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
                    </svg>
                  </button>
                </th>
              
                <th role="columnheader" scope="col" class="govuk-table__header" aria-sort="none">
                  <button type="button" data-index="1">Matched<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
                    <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
                    </svg>
                  </button>
                </th>
              
                <th role="columnheader" scope="col" class="govuk-table__header" aria-sort="none">
                  <button type="button" data-index="2">Age<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
                    <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
                    </svg>
                  </button>
                </th>
              
                <th role="columnheader" scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">
                  <button type="button" data-index="3">Catchment<svg width="22" height="22" focusable="false" aria-hidden="true" role="img" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z" fill="currentColor"></path>
                    <path d="M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z" fill="currentColor"></path>
                    </svg>
                  </button>
                </th>

                <th role="columnheader" class="" scope="col"></th>
              
              </tr>
            </thead>

            <style>
              .govuk-table__header {
                padding: 10px 20px 10px 0;
                text-align: left;
                vertical-align: top;
              }

              [aria-sort] button, [aria-sort] button:hover {
                align-items: center;
                background-color: initial;
                border-width: 0;
                box-shadow: 0 0 0 0;
                color: #005ea5;
                cursor: pointer;
                display: inline-flex;
                font-family: inherit;
                font-size: inherit;
                font-size: 1em;
                font-weight: inherit;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: inherit;
              }
            </style>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Toby Bull
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>22
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="reg-detail-multi-detail">View details</a>
                </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Michael Chambers
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Matched
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>14
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Out of catchment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="reg-detail-multi-detail-child">View details</a>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Gwyn West
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>19
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Jodie Lodge
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>21
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Geofrey Okonkwo
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>29
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Gaspar Mico
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>69
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Jessica Francis Weir
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>15
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Liz O'Callaghan
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Matched</span>Not matched
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age</span>19
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">In catchment</span>Yes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="#">View details</a>
                </td>
              </tr>

            </tbody>
          </table>

          <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">
              <li class="gpreg-pagination-item--previous">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="reg-table-v2-yes-no">
                  <span class="nhsuk-pagination__title">Previous</span>
                  <svg class="nhsuk-icon gpreg-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z" />
                  </svg>
                </a>
              </li>
              <li class="gpreg-pagination-item--next">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                  <span class="nhsuk-pagination__title">Next</span>
                  <svg class="nhsuk-icon gpreg-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>

          <h2 class="nhsuk-heading-l nhsuk-u-padding-top-6">Support</h2>
          <p>For service support, <strong>email <a href="">ssd.nationalservicedesk@nhs.net</a></strong> or <br><strong>call 03003035035</strong>. Support is available 24 hours a day, 7 days a week.</p>

  </div>
</div>

<style>
  .gpreg-pagination-item--previous {
    float: left;
    margin-right: 32px;
    padding-left: 32px;
  }

  .gpreg-icon--arrow-left {
    position: absolute;
    top: -2px;
    left: -38px;
  }

  .gpreg-pagination-item--next {
    float: left;
  }

  .gpreg-icon--arrow-right {
    position: absolute;
    top: -2px;
    right: -38px;
  }
</style>



{% endblock %}

{% block pageScripts %}


{% endblock %}
