{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
6 new registrations - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

        {{ backLink({
            text: "Return to new registrations",
            href: "reg-table"
        }) }}

          <h1 class="nhsuk-heading-l">Sam Smith</h1>

          <p class="nhsuk-u-margin-bottom-0">NHS number</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">123 456 7890</p>
          <p class="nhsuk-u-margin-bottom-0">Date of birth</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">1/1/1990</p>
          <p class="nhsuk-u-margin-bottom-0">Sex</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">Male</p>
          <div style="display: flex; height: 500px;">
            <button style="margin: auto;" class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Accept
            </button>
            <a href="#" style="margin: auto;">Reject</a>
          </div>

        </div>
      </div>



{% endblock %}

{% block pageScripts %}


{% endblock %}
