{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
6 new registrations - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <!--{{ backLink({
            text: "Return to Manage your profile",
            href: "/gp/gp-profile-manager-manage"
        }) }}-->


          <h1 class="nhsuk-heading-xl">Registration requests</h1>


          <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="" scope="col">
                  NHS number
                </th>
                <th role="columnheader" class="" scope="col">
                  Date of birth
                </th>
                <th role="columnheader" class="" scope="col">
                  Catchment
                </th>
                <th role="columnheader" class="" scope="col">
                  Flags
                </th>
                <th role="columnheader" class="" scope="col">
                  
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Sam Smith
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number</span>123 456 7890
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth</span>1/1/1990
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Catchment</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flags</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="reg-detail">View details</a>
                </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name</span>Jane Jones
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">NHS number</span>246 035 7902
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth</span>2/2/1992
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Catchment</span>Out of catchment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Flags</span>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    2 Flags
                  </strong>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <a href="reg-detail">View details</a>
                </td>
              </tr>

            </tbody>
          </table>

          <h2 class="nhsuk-heading-l nhsuk-u-padding-top-6">Get help using the service</h2>
          <p>Contact Henry Naylor-Stead (henry.naylor-stead1@nhs.net) if you need help or have a question about the service.</p>

  </div>
</div>



{% endblock %}

{% block pageScripts %}


{% endblock %}
