{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
Sam Smith - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

        {{ backLink({
            text: "Return to new registrations",
            href: "reg-table"
        }) }}

          <h1 class="nhsuk-heading-l">Sam Smith</h1>

          <p class="nhsuk-u-margin-bottom-0">NHS number</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">123 456 7890</p>
          <p class="nhsuk-u-margin-bottom-0">Date of birth</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">1/1/1990</p>
          <p class="nhsuk-u-margin-bottom-0">Sex</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">Male</p>
          <div style="display: flex; height: 100%; margin-bottom: 48px;">
            <button style="margin-top:auto; margin-bottom:auto; margin-left:0; margin-right:24px;" class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Accept
            </button>
            <a href="#" style="margin-top:auto; margin-bottom:auto; margin-left:0; margin-right:0;">Reject</a>
          </div>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Registration information
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Registration reference number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'GPR-12345678' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Registration type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'First acceptance registration' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date registration submitted
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or '2:52pm on Wednesday 23rd August 2023' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    PDS match status
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'This patient is matched to NHS number 900 000 0009' }}
                  </dd>
                </div>
            
                {% if data['under-18-years'] === 'true' and data['under-12-months'] === 'false' %}
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Under 18
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    This patient is {{ data['years-old'] or '17' }} years old
                  </dd>
                </div>
            
                {% endif %}
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Identity verification
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'The patient did not use NHS login' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Catchment area
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'This patient is outside your catchment area' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Contact details
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-home-tel'] or '03003034777' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mobile telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-mobile'] or '07700900077' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Email
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-email'] or 'simulate-delivered@notifications.service.gov.uk' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Interpreter required
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['interpreter'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Language
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['language'] or 'French' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Home address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-building'] or 'Line 1' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or '28 Address Line 2' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town or City
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or 'Address Line 4' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or 'ZZ99 3CZ' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Safeguarding flags
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-u-margin-bottom-0">
                <li>Registration completed for a dependent</li>
                <li>Patient has a young or unpaid carer</li>
                <li>Patient is a young or unpaid carer</li>
                <li>Patient has a social worker</li>
                <li>Patient vaccinations not up to date</li>
                <li>Patient vaccinations done outside the UK</li>
                <li>Patient could be eligible for tuberculosis (TB) screening</li>
              </ul>
            </div>
          </details>

        </div>
      </div>



{% endblock %}

{% block pageScripts %}


{% endblock %}
