{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
Sam Smith accepted - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

        <!--
        {{ backLink({
            text: "Back to patient registrations",
            href: "reg-table-v2-yes-no2"
        }) }}
        -->

        
       
        

        <div class="nhsuk-panel">
          <h1 class="nhsuk-panel__title">
            Approved
          </h1>
          <div class="nhsuk-panel__body">
            Sam Smith has been added to your patient list
          </div>
        </div>


        <br><br>
        <p>Follow your surgery's guidance for managing newly registered patients.</p>
        <p>Some content about PDS being updated.</p>
        <br>


        <a href="reg-table-pds-2-updated" class="nhsuk-link">Back to patient registrations</a>
        &nbsp;&nbsp;&nbsp;
        <a href="dashboard-pds-2-updated" class="nhsuk-link">Back to the dashboard</a>

        <!--
        {{ button({
            "text": "Return to new patient registrations",
                "href": "reg-table-pds-2-updated"
          }) }}

          

          {{ button({
            "text": "Return to dashboard",
            "classes": "nhsuk-button--secondary",
                "href": "dashboard-pds-2-updated"
          }) }}
          -->


        
        </div>
      </div>

     



{% endblock %}

{% block pageScripts %}


{% endblock %}
