{% extends 'reg-portal/layout.html' %}

{% block pageTitle %}
Sam Smith - GP registrations portal - NHS
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

        {{ backLink({
            text: "Back to patient registrations",
            href: "reg-table-pds-1"
        }) }}

          <h1 class="nhsuk-heading-l">Sam Smith</h1>

          <p class="nhsuk-u-margin-bottom-0">NHS number</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">123 456 7890</p>
          <p class="nhsuk-u-margin-bottom-0">Date of birth</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">1 January 1990</p>
          <p class="nhsuk-u-margin-bottom-0">Sex</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">Male</p>
          <p class="nhsuk-u-margin-bottom-0">Postcode</p>
          <p class="nhsuk-heading-s nhsuk-u-padding-top-0">ZZ99 3CZ</p>

          <p>Some messaging to advise users that if they approve, then PDS will be updated with the new details as supplied by the patient.</p>
          
          <div style="display: flex; height: 100%; margin-bottom: 48px;">
            <a class="nhsuk-button" style="margin-top:auto; margin-bottom:auto; margin-left:0; margin-right:24px;" href="accept-confirm-pds-1">Approve</a>
            <a href="reject-reasons" style="margin-top:auto; margin-bottom:auto; margin-left:0; margin-right:0;">Reject</a>
          </div>

         

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Registration information
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Registration reference number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'GPR-12345678' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Registration type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'First acceptance registration' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date registration submitted
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or '2:52pm on Wednesday 23rd August 2023' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    PDS match status
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'This patient is matched to NHS number 900 000 0009' }}
                  </dd>
                </div>
            
                {% if data['under-18-years'] === 'true' and data['under-12-months'] === 'false' %}
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Under 18
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    This patient is {{ data['years-old'] or '17' }} years old
                  </dd>
                </div>
            
                {% endif %}
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Identity verification
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'The patient did not use NHS login' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Catchment area
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] or 'This patient is outside your catchment area' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Contact details
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-home-tel'] or '03003034777' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mobile telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-mobile'] or '07700900077' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Email
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-email'] or 'simulate-delivered@notifications.service.gov.uk' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Interpreter required
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['interpreter'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Language
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['language'] or 'French' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Home address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-building'] or 'Line 1' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or '28 Address Line 2' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town or City
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or 'Address Line 4' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street'] or 'ZZ99 3CZ' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Safeguarding flags
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-u-margin-bottom-0">
                <li>Registration completed for a dependent</li>
                <li>Patient has a young or unpaid carer</li>
                <li>Patient is a young or unpaid carer</li>
                <li>Patient has a social worker</li>
                <li>Patient vaccinations not up to date</li>
                <li>Patient vaccinations done outside the UK</li>
                <li>Patient could be eligible for tuberculosis (TB) screening</li>
              </ul>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Nominated pharmacy
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name of pharmacy
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['pharmacy-name'] or 'Green Pharmacy' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['pharmacy-building'] or '17 Pharmacy Road' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Street
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['pharmacy-street'] or '17 Pharmacy Road' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town or city
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['pharmacy-city'] or 'Edinburgh' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['pharmacy-street'] or 'E15 2JE' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Previous GP surgery
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name of surgery
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['gp-name-prev'] or 'Previous Surgery' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['gp-postcode-prev'] or 'ZZ99 1WZ' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['gp-building-prev'] or '17 Main Road' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Street
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['gp-street-prev'] or '17 Main Road' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town or city
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['gp-town-prev'] or 'Leeds' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Ethnicity
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Ethnicity
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Black African, Black British or Caribbean, African
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Place of birth
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Country of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    England
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Place of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Huntingdon
                  </dd>
                </div>
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Health authority
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Previous Health Authority
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['health-authority-prev'] or 'England' }}
                  </dd>
                </div>
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Patient previous address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-postcode-prev'] or 'ZZ99 3VZ' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Building
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-building-prev'] or 'Previous building' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Street
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-street-prev'] or 'Previous street' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Town or city
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['address-town-prev'] or 'Previous town' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Recently moved to the UK
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date entered the UK
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <span id="dob-day">{{ data['dob-day'] or '01/' }}</span>
                    <span id="dob-month">{{ data['dob-month'] or '01/' }}</span>
                    <span id="dob-year">{{ data['dob-year'] or '1990' }}</span>
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Moved from EU, EEA or Switzerland
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    No
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Have you ever spent more than 6 months in a country where there was an increased risk of catching tuberculosis (TB)?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['visited-tb'] or 'No' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Armed Forces
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Connection to armed forces or registered with defence medical services
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['is-armed-forces-member'] or 'No' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Emergency contact
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Full Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['ec-full-name'] or 'John Appleseed' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Relationship
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['ec-relationship'] or 'Friend' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Next of Kin
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data[''] or 'No' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Contact telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data[''] or '07700900077' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Education
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Attends
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['schooling'] or 'School, Nursery' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name of school
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['school-name'] or 'Grange Hill' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-school'] or 'LS1 2FG' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['contact-school'] or '01234 5678900' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name of nursery
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nursery-name'] or 'Test nursery' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Nursery Postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nursery-postcode'] or 'ZZ99 3VZ' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Nursery telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nursery-telephone'] or '0300 3035035' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home school postcode
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nursery-name'] or 'ZZ99 3CZ' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Home school telephone
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['nursery-school'] or '0300 3034777' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Professional care provider
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['care-provider'] or 'Social worker' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                European health insurance card details
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Full name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Sam Smith
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <span id="dob-day">{{ data['dob-day'] or '01/' }}</span><span id="dob-month">{{ data['dob-month'] or '01/' }}</span><span id="dob-year">{{ data['dob-year'] or '1990' }}</span>
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Country code
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    FRA
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Personal identification number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    12345678901
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Identification number of the card
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    98765432109
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Identification number of the institution
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    123
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Expiry date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <span id="dob-day">{{ data['dob-day'] or '2075-' }}</span><span id="dob-month">{{ data['dob-month'] or '01-' }}</span><span id="dob-year">{{ data['dob-year'] or '01' }}</span>
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Patient health
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Vaccinations
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['are-you-immunised'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Vaccinations in the UK
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['are-you-immunised-uk'] or 'I don\'t know' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Existing medical conditions
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['has-existing-conditions'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Medical conditions type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['existing-conditions'] or 'Asthma' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Medical conditions details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['existing-medical-condition-details'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Allergies
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['has-allergies'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mental health conditions
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['has-mental-health-conditions'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mental health details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['mental-health-details'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Disabilities
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['has-disabilities'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient has a carer
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['need-carer'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Carer type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['carer-type'] or 'Foster carer' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['carer-first-name'] or 'Jane' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Last name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['carer-last-name'] or 'Doe' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Relationship to patient
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['carer-relationship'] or 'Foster mother' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Contact telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['carer-telephone'] or '07700900077' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional carer type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['additional-carer-type'] or 'Paid as a job' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional carer's first name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['additional-carer-first-name'] or 'John' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional carer's last name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['additional-carer-last-name'] or 'Smith' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional carer's relationship to patient
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['additional-carer-relationship'] or 'Social worker' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional carer's contact telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['additional-carer-telephone-number'] or '03003034777' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient is a carer
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['are-carer'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient needs accessible format
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['needs-accessible-format'] or 'No' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Accessible Format Details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['accessible-format-details'] or 'Not Answered' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient needs Reasonable Adjustments
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['reasonable-adjustments'] or 'No' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Reasonable Adjustments Details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['reasonable-adjustments-details'] or 'Not Answered' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Prescription medication
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['takes-prescription-meds'] or 'Not provided' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What is your height?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['height'] or '180 centimetres' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What is your weight?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['weight'] or '80 kilograms' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Consent to Summary Care Record
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['share-to-scr'] or 'Yes, share a Summary Care Record with additional information' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Dispensing patient
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Do you live more than 1 mile from your nearest pharmacy?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['live-over-mile-to-pharmacy'] or 'No' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Would you have serious difficulty travelling to your nearest pharmacy to get medicines or medical appliances?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['difficulty-traveling'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Eligible for dispensing patient
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['dispensing-eligible'] or 'Yes' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Dispensing Patient
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['dispensing-accepted'] or 'Accepted dispensing patient' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Registration completed by
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    First name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['completedby-first-name'] or 'John' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Last name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['completedby-last-name'] or 'Doe' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Relationship to patient
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['completedby-relationship'] or 'Foster father' }}
                  </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Contact telephone number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['completedby-phone-number'] or '07700 900077' }}
                  </dd>
                </div>
            
              </dl>
            </div>
          </details>

        </div>
      </div>



{% endblock %}

{% block pageScripts %}


{% endblock %}
