{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Home address updated" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Home address updated
      </h1>
      <div class="nhsuk-panel__body">
        {% if data['noGP'] != 'true' %}
        Your NHS record has been updated and we’ve shared your new address with your GP surgery
        {% else %}
        Your NHS record has been updated
        {% endif %}
      </div>
    </div>

      <p>You've changed your home address to:</p>
      <p>{% if data['select-new-address'] %}
          {{ data['select-new-address'] }} Town Street,<br />
              London,<br />
              SW1A 1AA
          {% elseif data['new-address-line-1'] %}
            {{ data['new-address-line-1'] }}<br />
            {{ data['new-address-line-2'] }}<br />
            {{ data['new-address-town'] }}<br />
            {{ data['new-address-postcode'] }}<br/>
            {{ data['new-address-country'] }}
          {% else %}
            35 Clock Tower Way<br>
            York<br>
            YO23 1PP<br>   
          {% endif %}
      </p>

      {% if data['noGP'] == 'true' %}
      <p>Get access to primary healthcare services by registering with a GP surgery near where you live.</p>
      {{ actionLink({
        text: "Find a GP",
        href: "#"
      }) }}
      {% endif %}
    <p><a href="feedback">Tell us about your experience updating your address (opens in a new tab)</a></p>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
