
{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
We cannot find that page - Register with a GP Surgery - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">
          You cannot use NHS login
      </h1>

      <p class="nhsuk-body">This can happen if changes have been made to the web address of the page you are trying to reach.</p>

      <p>You need to start a new registration.</p>
      <p><a href="https://www.nhs.uk/service-search/find-a-gp">Find your nearest GP surgery</a></p>


  </div>
</div>


{% endblock %}
