
{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Service is currently unavailable - Register with a GP Surgery - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Sorry, the service is currently unavailable
    </h1>

    <p>You will be able to use the service later.
    <p>

      <h3>Other ways to register
      </h3>
  <p>
    Print and fill in a
      <a href="https://gp-registration.nhs.uk/register-with-a-gp-surgery-paper-form">Register with a GP surgery paper form</a>
    and return it to the surgery you want to register with. The form can't be completed online.
  </p>
  
  <p>
    You can also get a copy of this form from any GP surgery.
    </p>
    <p>
      <a href="https://www.nhs.uk/service-search/find-a-gp">Find your nearest GP surgery</a>.
  </p>
  
  </div>

</div>


{% endblock %}
