{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Is " + data['name-first-name'] + " registered with the Defence Medical Services?" %}
{% else %}
  {% set heading = 'Are you registered with the Defence Medical Services?' %}
{% endif %}

{% if (data['nominated-pharmacy']) %}
  {% set link = "confirm-pharmacy" %}
{% else %}
  {% set link = 'nominate-pharmacy?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
                legend: {
                  text: heading,
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              {{ hint({
                "text": "You may be registered with the Defence Medical Services (DMS) if you or a family member were in the UK armed forces and this is the first time you are registering with an NHS GP since you or they left service.",
                "classes": "nhsuk-u-margin-bottom-4"
              }) }}

              {{ radios({
                "idPrefix": "is-armed-forces-member",
                "name": "is-armed-forces-member",
                "items": [
                  {
                    "value": "Yes~/live/are-you-a-member-of-armed-forces-details",
                    "text": "Yes",
                    checked: checked("is-armed-forces-member", "Yes")
                  },
                  {
                    "value": "No~/live/do-you-have-emergency-contact",
                    "text": "No",
                    checked: checked("is-armed-forces-member", "No")

                  }
                ]
              }) }}

              {% endcall %}

              {{ details({
                "text": "Why are you asking this?",
                "HTML": "<p>This helps us understand where to request your medical record from.</p>
                        <p>If you have previously been a member of the UK armed forces you may also be able to access additional services for former service members.</p>"
              }) }}

              {{ button({
                "text": "Continue"
              }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
