{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Has " + data['name-first-name'] + " had all their routine vaccinations?" %}
{% else %}
  {% set heading = 'Have you got all your immunisations?' %}
{% endif %}

{% block pageTitle %}
{{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-have-existing-conditions" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "These are vaccinations or immunisations received at school or from a GP, either in the UK or abroad. "
            }) }}

            {{ radios({
              "idPrefix": "are-you-immunised",
              "name": "are-you-immunised",
              "items": [
                {
                  "value": "Yes~/live/are-you-immunised-uk",
                  "text": "Yes",
                  checked: checked("are-you-immunised", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("are-you-immunised", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "I don't know",
                  "text": "I don't know",
                  checked: checked("are-you-immunised", "I don't know")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}
  
{% endblock %}

{% block footer %}
  {% include 'design/includes/footer.html' %}
{% endblock %}