{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
You are not able to get your prescription items direct from {SURGERY NAME} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ hint({
            "text": "Additional information",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}

          <form action="check-answers-3" method="post" autocomplete="off">

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">{{ data ['name-first-name'] }} is not able to get their prescription items direct from {SURGERY NAME}</h1>

            {% else %}

            <h1 class="nhsuk-heading-l">You are not able to get your prescription items direct from {SURGERY NAME}</h1>

            {% endif %}

            {% call fieldset({
              legend: {
                text: "",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}
          <p>To get prescription items such as medicines or medical appliances direct from a GP surgery a patient must either:</p>
           <ul>
             <li>live more than 1 mile from their nearest pharmacy, or</li>
             <li>have serious difficulty travelling to or communicating with their nearest pharmacy</li>
           </ul>

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
