{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'What are your details?' %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% if (data['return'] === "true") %}
  {% set link = 'check-answers-1' %}
{% else %}
  {% set link = 'relation-of-dependant' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="carer-details-answer" method="post">

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {% if data['relation'] !== 'Other' %}
            <div class="nhsuk-hint" id="contact-hint">
              <p>As you have said you are the carer we need your details.</p>
            </div>
            {% endif %}

            {{ input({
                label: {
                  "text": "First name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-first-name",
                "name": "carer-first-name",
                "autocomplete": "given-name",
                "spellcheck": false,
                "value": data['carer-first-name']
              }) }}

              {{ input({
                label: {
                  "text": "Last name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-last-name",
                "name": "carer-last-name",
                "autocomplete": "family-name",
                "spellcheck": false,
                "value": data['carer-last-name']
              }) }}

            {{ input({
                label: {
                  "text": "Relationship to the person being registered"
                },
                "hint": {
                  "text": "For example, you are a family member or friend."
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "carer-relationship",
                "name": "carer-relationship",
                "value": data['carer-relationship']
              }) }}

              {{ input({
                  label: {
                    "text": "Contact telephone number"
                  },
                  "classes": "nhsuk-u-width-two-thirds",
                  "id": "carer-telephone",
                  "name": "carer-telephone",
                  "autocomplete": "tel",
                  "spellcheck": false,
                  "value": data['carer-telephone']
                }) }}

            {% endcall %}

            <br>
            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
