Recently moved{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">


          <form action="confirmation-page" method="post" autocomplete="off">

            {% if (data['who-is-being-registered'] == "dependant") %}

            {{ fieldset({
              "legend": {
                "text": "Check their details before submitting your application to {Surgery name}",
                "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-2",
                "isPageHeading": true
              }
            }) }}

            {% else %}

            {{ fieldset({
              "legend": {
                "text": "Check your details before submitting your application to {Surgery name}",
                "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-7",
                "isPageHeading": true
              }
            }) }}

            {% endif %}



        <h3>Personal Details</h3>

        <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              First name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['name-first-name'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">First name</span></a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Middle name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['name-middle-name'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">middle name</span></a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Last name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['name-last-name'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">last name</span></a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              <span id="dob-day">{{ data['dob-day'] }}</span>
              <span id="dob-month">{{ data['dob-month'] }}</span>
              <span id="dob-year">{{ data['dob-year'] }}</span>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">date of birth</span></a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Sex as recorded on NHS record
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['gender'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Where were you born?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['country-born'] }} <br> {{ data['town'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">
                Change<span class="nhsuk-u-visually-hidden"> country</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['ethnicity'] }}<br>
              {% if data['ethnicity'] == "Asian or Asian British" %}
              {{ data['ethnicity-detail-asian'] }} {{ data['ethAsian'] }}

              {% elif data['ethnicity'] == "Black African, Black British or Caribbean" %}
              {{ data['ethnicity-detail-black'] }}
              {{ data['ethBlack'] }}

              {% elif data['ethnicity'] == "Mixed or multiple ethnic groups" %}
              {{ data['ethnicity-detail-mixed'] }}
              {{ data['ethMixed'] }}

              {% elif data['ethnicity'] == "White" %}
              {{ data['ethnicity-detail-white'] }}
              {{ data['ethWhite'] }}

              {% elif data['ethnicity'] == "Another ethnic group" %}
              {{ data['ethnicity-detail-another'] }}
              {{ data['ethOther'] }}

              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Current address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['have-current-uk-address'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
            </dd>
          </div>

          {% if data['have-current-uk-address'] == "Yes" %}
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Current address details
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data['select-current-address'] %}
              {{ data['select-current-address'] }}
              {% else %}
              {{ data['select-current-address'] }}
              {{ data['current-address-line-1'] }}<br />
              {{ data['current-address-line-2'] }}<br />
              {{ data['current-address-town'] }}<br />
              {{ data['current-address-postcode'] }}
              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
            </dd>
          </div>
          {% endif %}


          <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['know-nhs-number'] == "No") %}
            No
            {% else %}
            Yes
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
          </dd>
        </div>


          {% if (data['know-nhs-number'] == "Yes") %}
          <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            What is their NHS number?
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nhs-number'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
          </dd>
        </div>
        {% endif %}

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Emergency contact
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['emergency-contact'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
          </dd>
        </div>



      {% if data['emergency-contact'] == "Yes" %}


      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Emergency contact details
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['ec-first-name'] }} {{ data['ec-last-name'] }} <br>
          {{ data['ec-relationship'] }} <br>
          {{ data['ec-contact-tel'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
        </dd>
      </div>

    {% endif %}

    </dl>


    <h3>Registration type</h3>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Are you registering with a UK GP for the first time?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['registering-first-time'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
        </dd>
      </div>


      {% if (data['registering-first-time'] == "No") %}
      <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Postcode with last UK GP
      </dt>
      <dd class="nhsuk-summary-list__value">
        {% if (data['do-you-know-previous-postcode'] == "No") %}
        No
        {% else %}
        Yes
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
      </dd>
    </div>
    {% endif %}


    {% if (data['do-you-know-previous-postcode'] == "Yes") %}
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Postcode
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['gp-postcode-prev'] }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
    </dd>
  </div>
  {% endif %}

  {% if (data['registering-first-time'] == "Yes")  %}


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Have you recently moved to the UK from another country?
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['recently-moved'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
      </dd>
    </div>

    {% if data['recently-moved'] == "Yes" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Date entered UK
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['moved-day'] }} -
        {{ data['moved-month'] }} -
        {{ data['moved-year'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">
          Change<span class="nhsuk-u-visually-hidden"> enter date</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Moved from EU, EEA or Switzerland
      </dt>
      <dd class="nhsuk-summary-list__value">
      {{ data['eea'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">
          Change<span class="nhsuk-u-visually-hidden"> enter date</span>
        </a>
      </dd>
    </div>

    {% if data['health-documents'] == "ehic" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        European health insurance card details
      </dt>
      <dd class="nhsuk-summary-list__value">
        First name:                     <br /> {{ data['ehic-name'] }} <br />
        Last name:                      <br /> {{ data['ehic-name-last'] }} <br />
        Expiry date:                           {{ data['ehic-dob-day'] }} -
                                               {{ data['ehic-dob-month'] }} -
                                               {{ data['ehic-dob-year'] }}<br />
        Country code:                   <br /> {{ data['ehic-cc'] }} <br />
        Personal Identification number: <br /> {{ data['ehic-id'] }} <br />
        Number of the card:             <br /> {{ data['ehic-id-2'] }} <br />
        Number of the institution:      <br /> {{ data['ehic-id-3'] }} <br />
        Expiry date:  {{ data['ehic-from-day'] }} -
                      {{ data['ehic-from-month'] }} -
                      {{ data['ehic-from-year'] }}<br />

      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">
          Change<span class="nhsuk-u-visually-hidden"> eehic</span>
        </a>
      </dd>
    </div>

  {% endif %}
  {% endif %}
  {% endif %}

  {% if data['recently-moved'] == "No" %}
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Where were you born?
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['country-born'] }} <br> {{ data['town'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">
          Change<span class="nhsuk-u-visually-hidden"> country</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous UK address
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['have-previous-uk-address'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">overseas</span></a>
      </dd>
    </div>

    {% if data['have-previous-uk-address'] == "Yes" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous address details
      </dt>
      <dd class="nhsuk-summary-list__value">
        {% if data['select-previous-address'] %}
        {{ data['select-previous-address'] }}
        {% else %}
        {{ data['select-previous-address'] }}
        {{ data['previous-address-line-1'] }}<br />
        {{ data['previous-address-line-2'] }}<br />
        {{ data['previous-address-town'] }}<br />
        {{ data['previous-address-postcode'] }}
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
      </dd>
    </div>

    {% endif %}
    {% endif %}

    {% if data['overseas'] == "Yes" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Date left UK
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['left-uk-day'] }} -
        {{ data['left-uk-month'] }} -
        {{ data['left-uk-year'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">moved date</span></a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Date returned to UK
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['returned-uk-day'] }} -
        {{ data['returned-uk-month'] }} -
        {{ data['returned-uk-year'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">moved date</span></a>
      </dd>
    </div>


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous GP details
      </dt>
      <dd class="nhsuk-summary-list__value previous-gp__value">
        {% if data['select-gp-address'] %}
        {{ data['select-gp-address'] }}
        {% else %}
        {{ data['select-gp-address'] }}
        {{ data['previous-gp-address-line-1'] }}<br />
        {{ data['previous-gp-address-line-2'] }}<br />
        {{ data['previous-gp-town'] }}<br />
        {{ data['previous-gp-postcode'] }}
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href=""><span class="nhsuk-u-visually-hidden">Previous GP details</span></a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous UK address
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['have-previous-uk-address'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">overseas</span></a>
      </dd>
    </div>

    {% if data['have-previous-uk-address'] == "Yes" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous address details
      </dt>
      <dd class="nhsuk-summary-list__value">
        {% if data['select-previous-address'] %}
        {{ data['select-previous-address'] }}
        {% else %}
        {{ data['select-previous-address'] }}
        {{ data['previous-address-line-1'] }}<br />
        {{ data['previous-address-line-2'] }}<br />
        {{ data['previous-address-town'] }}<br />
        {{ data['previous-address-postcode'] }}
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
      </dd>
    </div>

    {% endif %}
    {% endif %}


    {% if data['overseas'] == "No" %}


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous GP details
      </dt>
      <dd class="nhsuk-summary-list__value previous-gp__value">
        {% if data['select-gp-address'] %}
        {{ data['select-gp-address'] }}
        {% else %}
        {{ data['select-gp-address'] }}
        {{ data['previous-gp-address-line-1'] }}<br />
        {{ data['previous-gp-address-line-2'] }}<br />
        {{ data['previous-gp-town'] }}<br />
        {{ data['previous-gp-postcode'] }}
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href=""><span class="nhsuk-u-visually-hidden">Previous GP details</span></a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous UK address
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['have-previous-uk-address'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">overseas</span></a>
      </dd>
    </div>

    {% if data['have-previous-uk-address'] == "Yes" %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Previous address details
      </dt>
      <dd class="nhsuk-summary-list__value">
        {% if data['select-previous-address'] %}
        {{ data['select-previous-address'] }}
        {% else %}
        {{ data['select-previous-address'] }}
        {{ data['previous-address-line-1'] }}<br />
        {{ data['previous-address-line-2'] }}<br />
        {{ data['previous-address-town'] }}<br />
        {{ data['previous-address-postcode'] }}
        {% endif %}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
      </dd>
    </div>


    {% endif %}
    {% endif %}

    </dl>


    <h3>Additional information</h3>

    <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Connection to armed forces or registered with defence medical services
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['is-armed-forces-member'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden">UK Armed forces</span></a>
      </dd>
    </div>


    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Interpreter needed
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['interpreter'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
      </dd>
    </div>


    {% if data['interpreter'] == "Yes" %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Language
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['language'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">
            Change<span class="nhsuk-u-visually-hidden"> language</span>
          </a>
        </dd>
      </div>
    {% endif %}




    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Patient has a carer
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['need-carer'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
      </dd>
    </div>


    {% if data['need-carer'] == "yes" %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['carer-first-name'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">
            Change<span class="nhsuk-u-visually-hidden"> language</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['carer-last-name'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">
            Change<span class="nhsuk-u-visually-hidden"> language</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Relationship
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['carer-relationship'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">
            Change<span class="nhsuk-u-visually-hidden"> language</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Contact telephone number
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['carer-telephone'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">
            Change<span class="nhsuk-u-visually-hidden"> language</span>
          </a>
        </dd>
      </div>

      {% endif %}

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Patient is a carer
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['are-carer'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
        </dd>
      </div>


      {% if data['are-carer'] == "yes" %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Type of carer
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['carer-type'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden"> language</span>
            </a>
          </dd>
        </div>
      {% endif %}


      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Communication with an accessible format?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['accessible-needs'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
        </dd>
      </div>

      {% if data['accessible-needs'] == "Yes" %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Type of communication needs
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['accessible-details'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden"> language</span>
            </a>
          </dd>
        </div>
      {% endif %}

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Reasonable adjustments to make your visit to the GP surgery accessible?
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['reasonable-adjustments'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
        </dd>
      </div>

      {% if data['reasonable-adjustments'] == "Yes" %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Type of reasonable adjustments
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['adjustment-details'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden"> language</span>
            </a>
          </dd>
        </div>
      {% endif %}

    </dl>



          <h3>Health questions</h3>

          <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

            <!-- Registering for myself -->

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Do you have any disabilities?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-disabilities'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
                </a>
              </dd>
            </div>

            {% if data['has-disabilities'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Disabilities details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['disabilities-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> existing medical conditions</span>
                  </a>
                </dd>
              </div>
              {% endif %}


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mental health conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['has-mental-health-conditions'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> whether you have any mental health conditions</span>
                  </a>
                </dd>
              </div>

              {% if data['has-mental-health-conditions'] == "Yes" %}
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mental health condition details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['mental-health-details'] }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="">
                      Change<span class="nhsuk-u-visually-hidden"> details about your mental health conditions</span>
                    </a>
                  </dd>
                </div>
              {% endif %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Existing medical conditions
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-existing-conditions'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have existing medical conditions</span>
                </a>
              </dd>
            </div>

            {% if data['has-existing-conditions'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['existing-conditions'] %}
                    {{ data['existing-conditions'] }}
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> existing medical conditions</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Condition details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['existing-medical-condition-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your existing conditions</span>
                  </a>
                </dd>
              </div>
            {% endif %}


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Allergies
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['has-allergies'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">
                Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
              </a>
            </dd>
          </div>


            {% if data['has-allergies'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Allergy details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['allergies-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
                  </a>
                </dd>
              </div>
            {% endif %}


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Prescription medication
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['takes-prescription-meds'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> prescription medication</span>
                </a>
              </dd>
            </div>

            {% if data['takes-prescription-meds'] == "Yes" %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Prescription details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['medication-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                  </a>
                </dd>
              </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Repeat prescriptions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['repeat-medication'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                What is your height?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['height-feet'] }} feet {{ data['height-inches'] }} inches
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> prescription medication</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                What is your weight?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['weight-stone'] }} stone {{ data['weight-pounds'] }} pounds
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> prescription medication</span>
                </a>
              </dd>
            </div>


            {% if data['alcohol-consumption'] == "Never" %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Drinks alcohol
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Never
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                  </a>
                </dd>
              </div>
            {% else %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Drinks alcohol
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['alcohol-consumption'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                  </a>
                </dd>
              </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Units a day
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['units'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">
                  Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Six or more units of alcohol on a single occasion
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['alcohol-consumption-day'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> details about your medications</span>
                  </a>
                </dd>
              </div>
              {% endif %}


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Ever smoked
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smokes'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> smokes</span>
                  </a>
                </dd>
              </div>

              {% if data['smokes'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Type of smoker
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smokes-type'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> smokes</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Average number of cigarettes you smoke a day
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smoke-amount-Number of cigarettes'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> smokes</span>
                  </a>
                </dd>
              </div>
              {% endif %}

              {% if data['smokes-type'] == "I used to smoke" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date stopped
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <!-- <span id="smoke-day">{{ data['smoke-date-day'] }}</span> -->
                  <span id="smoke-month">{{ data['smoke-date-month'] }}</span>
                  <span id="smoke-year">{{ data['smoke-date-year'] }}</span>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> smokes</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Average number of cigarettes you smoke a day
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smoke-amount-cigarette-amount'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> smokes</span>
                  </a>
                </dd>
              </div>

              </dl>
              {% endif %}


            </div>
          </div>





          <h2 class="nhsuk-heading-l">Submit your application</h2>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
          <span class="nhsuk-u-visually-hidden">Information:</span>
          <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
          </div>
          </div>

          {{ button({
            "text": "Accept and submit"
          }) }}






    <!-- End of content -->

  </div>
 </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}

{% block pageScripts %}

<script>

  $(document).ready(function () {

    // Populate any unanswered fields with "Not answered" text
    $('.nhsuk-summary-list__value').filter(function () {
      return $.trim($(this).text()) === "";
    }).each(function (ind, obj) {
      $(obj).closest('dd').html("<span class='summary-page-unanswered'>Not answered</span>");
    });

    // Add colon to contact method type if it isn't blank
    $(".contact-prefs-type:not(:empty)").append(':');

  });
</script>

{% endblock %}
