<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  Enter name - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <div class="nhsuk-card__content">

          <h2 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
            Application complete
          </h2>

          <p class="nhsuk-u-font-size-24">
            Make a note of this reference number: <strong class="nhsuk-u-font-size-24">HDJ2123F</strong>
          </p>

        </div>

      </div>

      <p>These details have been sent to <!--{{ data.presets[0].gpsurgery }}-->Lordship Lane surgery. Registration usually takes about 5 days.</p>
      <p>If you need non-emergency medical help now visit <a href="https://111.nhs.uk/">NHS 111 online.</a></p>

      <h2>Registering someone else</h2>
      <p>If you would like to register a family member or someone else at this surgery, <a href="start">start another registration</a>.</p>

      <h2>Your new GP surgery would like to ask a few more questions about your health</h2>
      <p>This information will help the surgery with your ongoing healthcare.</p>
      <p><a href="External-link">Answer additional questions</a></p>

          <form action="confirmation-page-thank-you" autocomplete="off" method="post" style="margin-top: 48px;">

          {% call fieldset({
            legend: {
              "text": "Overall, how did you feel about the service you received today?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            }
          }) %}

          {{ radios({
            "idPrefix": "satisfied",
            "name": "satisfied",
            "items": [
              {
                "value": "Very satisfied",
                "text": "Very satisfied"
              },
              {
                "value": "Satisfied",
                "text": "Satisfied"
              },
              {
                "value": "Neither satisfied or dissatisfied",
                "text": "Neither satisfied or dissatisfied"
              },
              {
                "value": "Dissatisfied",
                "text": "Dissatisfied"
              },
              {
                "value": "Very dissatisfied",
                "text": "Very dissatisfied"
              }
            ]
          }) }}

          {% endcall %}

          <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-form-group"><label class="nhsuk-label" for="feedback" id="feedback--label">How can we improve this service?</label>
              <div class="nhsuk-hint" id="feedback--hint">Do not include confidential or medical information in your
                message. For example, your NHS number, date of birth, medical diagnosis or medical history.
              </div>
              <textarea aria-describedby="feedback--hint"  aria-labelledby="feedback--label" autocomplete="off"
                        class="nhsuk-textarea" id="feedback" list="autocompleteOff" maxlength="2000" name="feedback"
                        rows="8"></textarea></div>
          </fieldset>

          <input type="hidden" name="feedback-type" value="final" />

          <button aria-disabled="false" class="nhsuk-button" id="submit-provide-feedback" type="submit">
            Send feedback
          </button>

        </form>

          <div class="nhsuk-inset-text">
            <h3 class="nhsuk-heading-s">Save up to nine lives as an organ donor</h3>
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><p>You can register a decision to donate your organs and tissue when you die, regardless of your age or medical conditions.</p>
            <p><a href="https://www.organdonation.nhs.uk/?utm_source=england_gp_new_patient_registration&utm_medium=referral&utm_campaign=partner&utm_content=organs_web&utm_term=allaudiences" target="_blank" rel="noopener noreferrer" title="External website">Find out more about organ donation (opens in a new tab)</a>.</p>
          </div>

      </div>
    </div>

    <div class="pseudo-modal-bg"></div>

    <div class="nhsuk-modal" style="position: absolute; top:150px; margin-left: auto; margin-right: auto; left: 0; right: 0; width:700px;">
      <div class="nhsuk-modal__content">
        <h2 class="nhsuk-modal__heading">You are about to leave Register with a GP Surgery service</h2>

        <p class="nhsuk-modal__description">If you choose to continue you will be taken to the website of the GP surgery you want to register with.</p>

        <a class="nhsuk-button" role="button" href="/test/local-forms">Continue</a>
        <div class="nhsuk-back-link">

          <a class="nhsuk-back-link__link" href="confirmation-page">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Back to Register with a GP surgery service</a>
        </div>
      </div>
    </div>


    <!-- End of content -->

{% endblock %}