{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'Confirm your contact details' %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="confirm-contact-details-answer" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            <h1 class="nhsuk-heading-l">{{ heading }}</h1>

            {{ hint({
              "text": "You shared these details from NHS login. We can give these details to your new GP.",
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  UK mobile telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  07799123456
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  example@email.com
                </dd>
              </div>

              </dl>

              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>You can change your NHS login details by visiting <a href="https://settings.login.nhs.uk/" target="_blank" rel="noopener noreferrer" title="External website">managing your NHS login (opens in new tab)</a>.</p>
              </div>

              {{ radios({
                  "idPrefix": "use-contacts-login",
                  "name": "use-contacts-login",
                  "classes": "nhsuk-radios",
                  "fieldset": {
                    "legend": {
                      "text": "Do you want to use these contact details?",
                      "classes": "nhsuk-fieldset__legend--m",
                      "isPageHeading": false
                    }
                  },
                  "items": [
                    {
                      "value": "Yes",
                      "text": "Yes, use these details",
                      checked: checked("use-contacts-login", "Yes")
                    },
                    {
                      "value": "No",
                      "text": "No, use different details",
                      checked: checked("use-contacts-login", "No")
                    }
                  ]
              }) }}

            {{ button({
              "text": "Continue"
            }) }}

            </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
