{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'Using different contact details' %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            {% include 'live/includes/step.html' %}

            <h1 class="nhsuk-heading-l">{{ heading }}</h1>

            <p>These contact details will be used to update your NHS health record.</p>
            <p>The email address and mobile phone number you use to access NHS login, the NHS app or other NHS websites or apps will not change.</p> 
            <p><a href="how-can-we-contact-inputs" class="nhsuk-button">Continue</a></p>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}

