{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
We could not find a NHS login account linked to that email - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="what-is-your-name" method="post" autocomplete="off">

          <h1 class="nhsuk-heading-l">We could not find a NHS login account linked to that email</h1>

          <p>Email: <strong>{{ data['contact-email'] }}</strong></p>

          <div class="nhsuk-hint" id="contact-hint">
            <p>Select 'Continue with registration' or <a href="what-is-your-email" >try again</a></p>
          </div>

          <button class="nhsuk-button" type="submit">
            Continue with registration
          </button>

        </form>

      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
