{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Where ' + data['name-first-name'] + ' gets their prescription items' %}
{% else %}
  {% set heading = 'Where you get your prescription items' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form action="distance-from-nearest-pharmacy" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <p>{{ data.presets[0].gpsurgery }} is a dispensing surgery. This means you may be eligible to get your prescription items such as medicines or medical appliances direct from this GP surgery.</p>
          <p>If you select 'Yes' you must answer the questions you are asked as best you can. If you are eligible the GP surgery may discuss this additional service with you.</p>
          <div class="nhsuk-inset-text"> 
            <p>If you select 'No' and choose a pharmacy you will not be able change your mind later</p>
          </div>
          <h2 class="nhsuk-heading-m">Do you want to check if you are eligible?</h2>

          {{ radios({
            "idPrefix": "have-current-uk-address",
            "name": "have-current-uk-address",
            "items": [
              {
                "value": "Yes~/live/distance-from-nearest-pharmacy",
                "text": "Yes",
                "checked": checked("have-current-uk-address", "Yes")
              },
              {
                "value": "No~/live/check-answers-3",
                "text": "No",
                "checked": checked("have-current-uk-address", "No")
              }
            ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
