{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Does " + data['name-first-name'] + " have any allergies?" %}
{% else %}
  {% set heading = 'Do you have any allergies?' %}
{% endif %}

{% if (data['has-existing-conditions'] === "Yes") %}
  {% set link = 'existing-conditions-details' %}
{% else %}
  {% set link = 'do-you-have-existing-conditions' %}
{% endif %}

{% block pageTitle %}
{{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "This may include food, drug, and environmental allergies. This question is optional."

            }) }}

            {{ radios({
              "idPrefix": "has-allergies",
              "name": "has-allergies",
              "items": [
                {
                  "value": "Yes~/live/allergies-details",
                  "text": "Yes",
                  checked: checked("has-allergies", "Yes")
                },
                {
                  "value": "No~/live/do-you-have-any-mental-health-conditions",
                  "text": "No",
                  checked: checked("has-allergies", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/live/do-you-have-any-mental-health-conditions",
                  "text": "Prefer not to say",
                  checked: checked("has-allergies", "Prefer not to say")
                }

              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
