<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

{% if session.data['name-first-name'] %}
  {% set name = session.data['name-first-name'] %}
{% else %}
  {% set name = 'Jimmy' %}
{% endif %}

<!-- Extends the layout from /views/layout.html -->{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="dispencing-surgery" method="post" autocomplete="off">

           {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            {% call fieldset({
              legend: {
                text: "About the reasonable adjustments for " + name + " or their carer",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "adjustment-details",
              "id": "adjustment-details",
              "label": {
                "text": "Tell us what they need (optional)"
                }
            }) }}

            {% endcall %}

            {% elif (data['need-carer'] == "Yes") %}


            {% call fieldset({
              legend: {
                text: "About the reasonable adjustments for you or your carer",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "adjustment-details",
              "id": "adjustment-details",
              "label": {
                "text": "Tell us what you or your carer need"
                }
            }) }}

            {% endcall %}

            {% else %}

            {% call fieldset({
              legend: {
                text: "About the reasonable adjustments for you or your carer",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "adjustment-details",
              "id": "adjustment-details",
              "label": {
                "text": "Tell us what you need"
                }
            }) }}

            {% endcall %}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
