{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
About your communication needs - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-need-reasonable-adjustments" method="post" autocomplete="off">

           {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            {% call fieldset({
              legend: {
                text: "About {{ data ['name-first-name'] }}'s communication needs",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "accessible-details",
              "id": "accessible-details",
              "label": {
                "text": "Tell us what they need (optional)"
                }
            }) }}

            {% endcall %}

            {% elif (data['need-carer'] == "Yes") %}

            {% call fieldset({
              legend: {
                text: "About the communication needs of you or your carer",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "accessible-details",
              "id": "accessible-details",
              "label": {
                "text": "Tell us what you or your carer need (optional)"
                }
            }) }}

            {% endcall %}

            {% else %}

            {% call fieldset({
              legend: {
                text: "About your communication needs",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "accessible-details",
              "id": "accessible-details",
              "label": {
                "text": "Tell us what you need"
                }
            }) }}

            {% endcall %}

            {% endif %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
