{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% if (data['need-carer'] == "Yes") %}
    {% set heading = "About " + data['name-first-name'] + "'s communication needs" %}
    {% set labelText = 'Tell us what you or your carer need (optional)' %}
  {% else %}
    {% set heading = "About the communication needs of you or your carer" %}
    {% set labelText = 'Tell us what they need (optional)' %}
  {% endif %}
{% else %}
  {% set heading = 'About your communication needs' %}
  {% set labelText = 'Tell us what you need' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "do-you-need-accessible-format",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-take-prescription-medication" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ textarea({
              "name": "accessible-details",
              "id": "accessible-details",
              "label": {
                "text": labelText
                }
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
