{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Do you know the postcode " + data ['name-first-name'] + " used when they last registered with a UK GP?" %}
  {% set hint = 'This will be the postcode they used last time they registered with a GP surgery.' %}
{% else %}
  {% set heading = 'Do you know your postcode used when you last registered with a UK GP?' %}
  {% set hint = 'This will be the postcode you used last time you registered with a GP surgery.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "registered-for-the-first-time",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true,
              "hint": {
                "text": hint
              }
            }
          }) %}

          {{ radios({
            "idPrefix": "do-you-know-previous-postcode",
            "name": "do-you-know-previous-postcode",
            "items": [
              {
                "value": "Yes~/live/what-is-previous-postcode-gp-has",
                "text": "Yes",
                "checked": checked("do-you-know-previous-postcode", "Yes")
              },
              {
                "value": "No~/live/check-answers-1",
                "text": "No",
                "checked": checked("do-you-know-previous-postcode", "No")
              }
            ]
          }) }}

         {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>
      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
