{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Does " + data['name-first-name'] + " currently take any prescription medication?" %}
  {% set hintText = '<p>This should include prescriptions for contraception or any medicines from abroad. This will help the GP have these ready for the patient.</p>' %}
{% else %}
  {% set heading = 'Do you currently take any prescription medication?' %}
  {% set hintText = '<p>This should include prescriptions for contraception or any medicines from abroad. This will help the GP have these ready for the patient.</p>' %}
{% endif %}

{% if (data['accessible-needs'] === "Yes") %}
  {% set link = 'do-you-need-accessible-format-details' %}
{% else %}
  {% set link = 'do-you-need-accessible-format' %}
{% endif %}

{% block pageTitle %}
    {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "html": hintText
            }) }}

            {{ radios({
              "idPrefix": "takes-prescription-meds",
              "name": "takes-prescription-meds",
              "items": [
                {
                  "value": "Yes~/live/medication-details",
                  "text": "Yes",
                  checked: checked("takes-prescription-meds", "Yes")
                },
                {
                  "value": "No~/live/height",
                  "text": "No",
                  checked: checked("takes-prescription-meds", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/live/height",
                  "text": "Prefer not to say",
                  checked: checked("takes-prescription-meds", "Prefer not to say")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
