{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% if (data['smokes-type'] == "I used to smoke") %}
    {% set heading = "How many cigarettes did " + data['name-first-name'] + " smoke?" %}
    {% set hintText = "Enter the average number of cigarettes they smoked a day?" %}
  {% else %}
    {% set heading = "How many cigarettes does " + data['name-first-name'] + " smoke?" %}
    {% set hintText = "Enter the average number of cigarettes they smoke a day?" %}
  {% endif %}
{% else %}
  {% if (data['smokes-type'] == "I used to smoke") %}
    {% set heading = "How many cigarettes did you smoke?" %}
    {% set hintText = "Enter the average number of cigarettes you smoked a day?" %}
  {% else %}
    {% set heading = "How many cigarettes do you smoke?" %}
    {% set hintText = "Enter the average number of cigarettes you smoke a day?" %}
  {% endif %}
{% endif %}

{% if (data['smoke-month']) %}
  {% set link = 'do-you-smoke-date' %}
{% else %}
  {% set link = 'do-you-smoke-type' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="scr" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ hint({
              "html": hintText
            }) }}

            {{ input({
            "fieldset": {
              "legend": {
                "text": "Number of cigarettes",
                "classes": "nhsuk-label--l",
                "isPageHeading": true
              }
            },
              "classes": "nhsuk-u-width-one-third",
              "id": "smoke-amount",
              "name": "smoke-amount",
              "inputmode": "numeric",
              "value": data['smoke-amount']
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
