{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Does ' + data['name-first-name'] + ' have a previous UK address?' %}
{% else %}
  {% set heading = 'Have you ever lived at a previous UK address?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% if (data['country-born'] === "None") %}
  {% set link = 'where-were-you-born-place-outside-uk' %}
{% else %}
  {% set link = 'where-were-you-born-place-uk' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ radios({
              "idPrefix": "have-previous-uk-address",
              "name": "have-previous-uk-address",
              "items": [
                {
                  "value": "Yes~/live/what-is-your-previous-address",
                  "text": "Yes",
                  "checked": checked("have-previous-uk-address", "Yes")
                },
                {
                  "value": "No~/live/do-you-have-existing-conditions",
                  "text": "No",
                  "checked": checked("have-previous-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}