{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% if (data['smokes-type'] == "I used to smoke") %}
    {% set heading = "How many cigarettes did " + data['name-first-name'] + " smoke?" %}
    {% set hintText = "Enter the average number." %}
  {% else %}
    {% set heading = "How many cigarettes does " + data['name-first-name'] + " smoke a day?" %}
    {% set hintText = "Enter the average number." %}
  {% endif %}
{% else %}
  {% if (data['smokes-type'] == "I used to smoke") %}
    {% set heading = "How many cigarettes did you smoke a day?" %}
    {% set hintText = "Enter the average number." %}
  {% else %}
    {% set heading = "How many cigarettes do you smoke a day?" %}
    {% set hintText = "Enter the average number." %}
  {% endif %}
{% endif %}

{% if (data['smoke-month']) %}
  {% set link = 'do-you-smoke-date' %}
{% else %}
  {% set link = 'do-you-smoke-type' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="scr" method="post" autocomplete="off">

           <!--{% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ hint({
              "html": hintText
            }) }}

            {{ input({
            "fieldset": {
              "legend": {
                "text": "Number of cigarettes",
                "classes": "nhsuk-label--l",
                "isPageHeading": true
              }
            },
              "classes": "nhsuk-u-width-one-third",
              "id": "smoke-amount",
              "name": "smoke-amount",
              "inputmode": "numeric",
              "value": data['smoke-amount']
            }) }}

            {% endcall %}-->

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "smokes-amount",
              "name": "smokes-amount",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },

              "hint": {
                "text": "Enter the average number"
              },

              "items": [
                {
                  "value": "1-10~/live/scr",
                  "text": "1-10",
                  checked: checked("smokes-amount", "1-10")
                },
                {
                  "value": "11-20~/live/scr",
                  "text": "11-20",
                  checked: checked("smokes-amount", "11-20")
                },
                {
                  "value": "21 or more~/live/scr",
                  "text": "21 or more",
                  checked: checked("smokes-amount", "21 or more")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
