{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Does ' + data['name-first-name'] + ' have a current UK address?' %}
  {% set hintText = 'This includes if they are living at a temporary address.' %}
{% else %}
  {% set heading = 'Do you have a current UK address?' %}
  {% set hintText = 'This includes if you are living at a temporary address.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "check-answers-1",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-current-address-post" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": hintText,
              "classes": "nhsuk-u-margin-bottom-4"
            }) }}

            {{ radios({
              "idPrefix": "have-current-uk-address",
              "name": "have-current-uk-address",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("have-current-uk-address", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("have-current-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
