{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

           {{ hint({
              "text": "Health information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} have any mental health conditions?</H1>

            {% call fieldset({
              legend: {
                text: "",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "It is important to tell us about all existing or pre-existing mental health conditions they may have, so their GP can ensure they are given the necessary treatment."
            }) }}


            {{ radios({
              "idPrefix": "has-mental-health-conditions",
              "name": "has-mental-health-conditions",
              "items": [
                {
                  "value": "Yes~/live/mental-health-conditions-details",
                  "text": "Yes",
                  checked: checked("has-mental-health-conditions", "Yes")
                },
                {
                  "value": "No~/live/do-you-have-existing-conditions",
                  "text": "No",
                  checked: checked("has-mental-health-conditions", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/live/do-you-have-existing-conditions",
                  "text": "Prefer not to say",
                  checked: checked("has-mental-health-conditions", "Prefer not to say")
                }
              ]
            }) }}

            {% endcall %}
            {% else %}


            {% call fieldset({
              legend: {
                text: "Do you have any mental health conditions?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "It is important to tell us about all existing or pre-existing mental health conditions you may have, so your GP can ensure you are given the necessary treatment."
            }) }}


            {{ radios({
              "idPrefix": "has-mental-health-conditions",
              "name": "has-mental-health-conditions",
              "items": [
                {
                  "value": "Yes~/live/mental-health-conditions-details",
                  "text": "Yes",
                  checked: checked("has-mental-health-conditions", "Yes")
                },
                {
                  "value": "No~/live/do-you-have-existing-conditions",
                  "text": "No",
                  checked: checked("has-mental-health-conditions", "No")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say~/live/do-you-have-existing-conditions",
                  "text": "Prefer not to say",
                  checked: checked("has-mental-health-conditions", "Prefer not to say")
                }
              ]
            }) }}

            {% endcall %}
            {% endif %}



            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
