{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Does ' + data['name-first-name'] + ' have a current UK address?' %}
{% else %}
  {% set heading = 'Do you have a current UK address?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "check-answers-1",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="do-you-current-address-post" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <div class="nhsuk-hint" id="contact-hint">
              <p>This includes if they are living at a temporary address.</p>
            </div>

            {{ radios({
              "idPrefix": "have-current-uk-address",
              "name": "have-current-uk-address",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("have-current-uk-address", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("have-current-uk-address", "No")
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="nhsuk-details__summary-text">
      Switch scenario
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Registration type</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="?who-is-being-registered=myself">Self</a>
      </li>
      <li>
        <a href="?who-is-being-registered=dependant">Dependant</a>
      </li>
    </ul>

    <!--    <h4>Error scenarios</h4>-->
    <!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
    <!--      <li>-->
    <!--        <a href="error-too-young">Age is under 12 months</a>-->
    <!--      </li>-->
    <!--    </ul>-->
  </div>
</details>
{% endif %}

{% endblock %}


{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
