{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you have a current UK address? - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="" method="post" autocomplete="off">
            {{ hint({
              "text": "Additional information",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <H2>Does {{ data ['name-first-name'] }} or their carer need to be communicated with in an accessible form?</H2>

            {% elif (data['need-carer'] == "Yes") %}

            <H2>Do you or your carer need to be communicated with in an accessible form?</H2>

            {% else %}

            <H2>Do you need to be communicated with in an accessible form?</H2>

            {% endif %}

            {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <div class="nhsuk-hint" id="contact-hint">
          <p>For example, braille, audio, large format or EasyRead.</p>
        </div>

        {{ radios({
          "idPrefix": "accessible-needs",
          "name": "accessible-needs",
          "items": [
            {
              "value": "Yes~/live/do-you-need-accessible-format-details",
              "text": "Yes",
              checked: checked("accessible-needs", "Yes")
            },
            {
              "value": "No~/live/do-you-need-reasonable-adjustments",
              "text": "No",
              checked: checked("accessible-needs", "No")
            },
            {
              "divider": "or"
            },
            {
              "value": "Prefer not to say~/live/do-you-need-reasonable-adjustments",
              "text": "Prefer not to say",
              checked: checked("accessible-needs", "Prefer not to say")
            }
          ]
        }) }}

        {% endcall %}






            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}
<script></script>
{% endblock %}
{% endblock %}
