{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you have a current UK address? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">
            {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} have a current UK address?</h1>

            {% else %}

            <h1 class="nhsuk-heading-l">Do you have a current UK address?</h1>

            {% endif %}

        {% if (data['user-auth'] == "p5") %}

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <div class="nhsuk-hint" id="contact-hint">
          <p>This includes if they are living at a temporary address.</p>
        </div>

        {{ radios({
          "idPrefix": "have-current-uk-address",
          "name": "have-current-uk-address",
          "items": [
            {
              "value": "Yes~/live/what-is-your-current-address",
              "text": "Yes",
              checked: checked("have-current-uk-address", "Yes")
            },
            {
              "value": "No~/live/confirm-contact-details",
              "text": "No",
              checked: checked("have-current-uk-address", "No")
            }
          ]
        }) }}

        {% endcall %}

        {% else %}

        {% call fieldset({
          legend: {
            text: "",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <div class="nhsuk-hint" id="contact-hint">
          <p>This includes if they are living at a temporary address.</p>
        </div>

        {{ radios({
          "idPrefix": "have-current-uk-address",
          "name": "have-current-uk-address",
          "items": [
            {
              "value": "Yes~/live/what-is-your-current-address",
              "text": "Yes",
              checked: checked("have-current-uk-address", "Yes")
            },
            {
              "value": "No~/live/do-you-know-nhs-number",
              "text": "No",
              checked: checked("have-current-uk-address", "No")
            }
          ]
        }) }}

        {% endcall %}

        {% endif %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
