{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "What are the details of " + data ['name-first-name'] + "'s emergency contact?" %}
{% else %}
  {% set heading = 'What are the details of your emergency contact?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="check-answers-2" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ input({
                label: {
                  "text": "First name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "ec-first-name",
                "name": "ec-first-name",
                value: data['ec-first-name']
              }) }}

              {{ input({
                label: {
                  "text": "Last name"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "ec-last-name",
                "name": "ec-last-name",
                value: data['ec-last-name']
              }) }}

            {{ input({
                label: {
                  "text": "Relationship to them"
                },
                "hint": {
                  "text": "For example, they are a family member or friend."
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "ec-relationship",
                "name": "ec-relationship",
                value: data['ec-relationship']
              }) }}

              {{ input({
                "label": {
                  "text": "Contact telephone number"
                },
                  "hint": {
                  "text": "For international number include the country code"
                },
                "classes": "nhsuk-input--width-10",
                "id": "ec-contact-tel",
                "name": "ec-contact-tel",
                value: data['ec-contact-tel']
              }) }}

            {% endcall %}

            {{ button({
              "text": "Add another emergency contact",
              "classes": "nhsuk-button--secondary",
                  "href": "emergency-contact-details-2"
            }) }}

            <br>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
