{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "What is " + data['name-first-name'] + "'s height?" %}
{% else %}
  {% set heading = 'What is your height?' %}
{% endif %}

{% if (data['accessible-needs'] === "Yes") %}
  {% set link = 'medication-details-repeat' %}
{% else %}
  {% set link = 'do-you-take-prescription-medication' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="weight" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          <div id="current-address-lookup-container">

            {{ dateInput({
              "id": "height",
              "namePrefix": "height",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-label--l",
                  "isPageHeading": true
                }
              },
              "hint": {
                "text": "This question is (optional)"
              },
              "items": [
                {
                  "name": "feet",
                  "classes": "nhsuk-input--width-5",
                  "value": data['height-feet']
                },
                {
                  "name": "inches",
                  "classes": "nhsuk-input--width-5",
                  "value": data['height-inches']
                }
              ]
            }) }}

            <p>
              <a href="#" id="enter-address-manually-link">Switch to centimetres</a>
            </p>

          </div>

          <form action="weight" method="post" autocomplete="off">

            <div class="current-address-form hidden-section">

              {{ dateInput({
                "id": "height",
                "namePrefix": "height",
                "fieldset": {
                  "legend": {
                    "text": heading,
                    "classes": "nhsuk-label--l",
                    "isPageHeading": true
                  }
                },
                "hint": {
                  "text": "This question is (optional)"
                },
                "items": [
                  {
                    "name": "Centimetres",
                    "classes": "nhsuk-input--width-10",
                    "value": data['height-centimetres']
                  }
                ]
              }) }}

              <p>
                <a href="#" id="use-postcode-lookup-link">Switch to feet and inches</a>
              </p>

            </div>

            {{ details({
            "text": "Why are you asking this?",
            "HTML": "<p>The GP surgery may use this information to give you health guidance and support.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

        </form>

        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block pageScripts %}
<script>
  $('#enter-address-manually-link').click(function () {
    $('#current-address-lookup-container').addClass("hidden-section");
    $('.current-address-form').removeClass("hidden-section");
  });

  $('#use-postcode-lookup-link').click(function () {
    $('#current-address-lookup-container').removeClass("hidden-section");
    $('#select-address-section').addClass("hidden-section");
    $('.current-address-form').addClass("hidden-section");
  });

</script>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
