{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'What are the contact details for ' + data['name-first-name'] + '?' %}
  {% set hintText = 'The NHS and GP surgery can use these details to call, text or email about health care services.' %}
{% else %}
  {% set heading = 'What are your contact details?' %}
  {% set hintText = 'The NHS and your GP surgery can use these details to call, text or email you about health care services.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['user-auth'] === 'p9') %}
  {% set link = 'confirm-contact-details' %}
{% elif (data['have-current-uk-address'] === "No") %}
  {% set link = 'do-you-current-address' %}
{% else %}
  {% if (data['select-current-address']) %}
    {% set link = 'what-is-your-current-address-selection' %}
  {% else %}
    {% set link = 'what-is-your-current-address-manual' %}
  {% endif %}
{% endif %}

{% if (data['under-18-years'] === "true") %}
  {% set action = 'what-schooling-do-you-have' %}
{% else %}
  {% set action = 'what-is-your-sex' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="{{ action }}" method="post">

          {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": hintText,
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {{ input({
              label: {
                "text": "Home telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-home-phone",
              "name": "contact-home-phone",
              "spellcheck": false,
              "value": data['contact-home-phone']
            }) }}

            {{ input({
              label: {
                "text": "Mobile telephone number (optional)"
              },
              "classes": "nhsuk-input nhsuk-input--width-20",
              "id": "contact-mobile",
              "name": "contact-mobile",
              "spellcheck": false,
              "value": data['contact-mobile']
            }) }}

            {{ input({
              label: {
                "text": "Email address (optional)"
              },
              "id": "contact-email",
              "name": "contact-email",
              "spellcheck": false,
              "value": data['contact-email']
            }) }}

            {% endcall %}

            {{ button({
                "text": "Continue"
              }) }}

          </form>

        </div>
      </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
  <details class="nhsuk-details dev-mode dev-mode--routing" role="group">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="nhsuk-details__summary-text">
        Routing choices
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <h4>Routes</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="how-can-we-contact-inputs-prompt">Email and mobile are left blank</a>
        </li>
      </ul>
    </div>
  </details>
{% endif %}

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}