{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'What are the contact details?' %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="what-schooling-do-you-have" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {% if 'home' in data['contact'] %}
            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-home">
                UK home telephone number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="contact-home" name="contact-home" type="text">
            </div>
          {% endif %}

          {% if 'phone' in data['contact'] %}
            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-mobile">
                UK mobile telephone number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="contact-mobile" name="contact-mobile" type="text">
            </div>
          {% endif %}

          {% if 'email' in data['contact'] %}
            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-email">
                Email address
              </label>
              <input class="nhsuk-input" id="contact-email" name="contact-email" type="text">
            </div>
          {% endif %}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>
      </div>
    </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}