{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Can {Doctor's Surgery} contact you? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="do-you-have-emergency-contact" method="post" autocomplete="off">

            {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <h1 class="nhsuk-heading-l">Can {Doctor's Surgery} contact {{ data ['name-first-name'] }}?</h1>

            <div class="nhsuk-hint" id="contact-hint">
            <p>By giving consent, your GP surgery and the NHS can contact you using SMS or text messages, or by email about application, appointments, prescriptions or other medical services.
          </div>

          {{ radios({
            "idPrefix": "contact",
            "name": "contact",
            "items": [
              {
                "value": "Yes",
                "text": "Yes",
                checked: checked("contact", "Yes")
              },
              {
                "value": "No",
                "text": "No",
                checked: checked("contact", "No")
              }
            ]
          }) }}

            {% else %}

            <h1 class="nhsuk-heading-l">Can {Doctor's Surgery} contact you?</h1>

            <div class="nhsuk-hint" id="contact-hint">
              <p>By giving consent, your GP surgery and the NHS can contact you using SMS or text messages, or by email about application, appointments, prescriptions or other medical services.
            </div>

            {{ radios({
              "idPrefix": "contact",
              "name": "contact",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes",
                  checked: checked("contact", "Yes")
                },
                {
                  "value": "No",
                  "text": "No",
                  checked: checked("contact", "No")
                }
              ]
            }) }}

            {% endif %}

            <button class="nhsuk-button" type="submit">
              Continue
            </button>

        </form>
      </div>
    </div>

{% endblock %}
