{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Do you know your chargeable status? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="overseas-declaration-none-eu" method="post" autocomplete="off">

          {{ hint({
            "text": "Registration type",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}

          {% if (data['who-is-being-registered'] == "dependant") %}

          <h1 class="nhsuk-heading-l">Does {{ data ['name-first-name'] }} know their chargeable status?</h1>

          <div class="nhsuk-hint">
            <p>You may have paid an Immigration Health Surcharge online as part of your application for a visa. The amount you pay depends on your visa type and length of stay.</p>
            <p>You may also be exempt from charges for other reasons, such as being covered by a reciprocal healthcare agreement or being an asylum seeker.</p>
          </div>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ radios({
            "idPrefix": "health-surcharge",
            "name": "health-surcharge",
            "items": [
              {
                "value": "Yes",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("health-surcharge", "Yes")
              },
              {
                "value": "No",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("health-surcharge", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% else %}

          {% call fieldset({
            legend: {
              text: "Do you know your chargeable status?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint">
            <p>You may have paid an Immigration Health Surcharge online as part of your application for a visa. The amount you pay depends on your visa type and length of stay.</p>
            <p>You may also be exempt from charges for other reasons, such as being covered by a reciprocal healthcare agreement or being an asylum seeker.</p>
          </div>


          {{ radios({
            "idPrefix": "health-surcharge",
            "name": "health-surcharge",
            "items": [
              {
                "value": "Yes",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("health-surcharge", "Yes")
              },
              {
                "value": "No",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("health-surcharge", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% endif %}

          <!-- {{ details({
            "text": "Why are you asking this?",
            "HTML": "<p>Anybody in England can register with a GP surgery and receive free medical care. To get free NHS healthcare in England you need to be 'ordinarily resident' in the UK. This means you must be living in the UK on a lawful and properly settled basis for the time being. You may be asked for evidence of this.</p>"
          }) }} -->

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
