{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  Confirm current address - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}

          <form action="" method="post" autocomplete="off">

            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% call fieldset({
              legend: {
                "text": "Is this where you were living when you registered with your current GP surgery?",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

      <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>

      <div class="nhsuk-card__content">
        <p>Address line 1 <br> Address line 2 <br> Address line 3 <br> Address line 4 </p>

      </div>
    </div>

            {{ radios({
              "idPrefix": "current-address",
              "name": "current-address",
              "classes": "nhsuk-radios",
              "items": [
                {
                  "value": "Yes~/live/are-you-returning-from-overseas",
                  "text": "Yes",
                  checked: checked("current-address", "Yes")
                },
                {
                  "value": "No~/live/what-is-previous-postcode-gp-has",
                  "text": "No",
                  checked: checked("current-address", "No")
                }

              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

            {% endcall %}



          </form>
        </div>
      </div>


    <!-- End of content -->

  </div>
</div>
{% block pageScripts %}

{% endblock %}

{% endblock %}
