{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Enter password - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          text: "Go back",
          href: "javascript:history.go(-1)"
        }) }}

        <form action="nhs-login-otp" method="post" autocomplete="off">

          {% call fieldset({
              legend: {
                "text": "Enter your password",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

          <p>
            Enter your password to log in
          </p>

          {{ input({
                label: {
                  "html": 'Password'
                },
                "type": "password",
                "classes": "nhsuk-input--width-20",
                "id": "nhs-login-email",
                "name": "nhs-login-email"
              }) }}

          <p class="nhsuk-body">
            <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Forgotten your password</a>
          </P>

          {% endcall %}


          {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
    </div>


<!-- End of content -->

</div>
</div>
{% block pageScripts %}
<script>

</script>
{% endblock %}
{% endblock %}
