{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% set heading = 'Enter your password' %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "name": "NHS login",
      "href": "#"
    },
    "showNav": "false",
    "showSearch": "false"
    })
  }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "nhs-login-email",
    "text": "Back to: Enter your email address",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="nhs-login-otp" method="post" autocomplete="off">

          {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

          <p>Enter your password to log in.</p>

          <div class="govuk-form-group" style="margin-bottom: 15px;">

            <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="password">
                  Password
                </label>
                <div class="gem-c-show-password__input-wrapper">
                  <input name="login-password" class="gem-c-input nhsuk-input gem-c-input--with-password nhsuk-input--width-20" id="password" type="password" spellcheck="false" autocomplete="off" aria-describedby="password-hint">
                  <span class="nhsuk-u-visually-hidden" aria-live="polite">Your password is hidden</span>
                </div>
              </div>
            </div>

          </div>

          <p>If you cannot remember your password, you can <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">reset it</a>.</p>

          {% endcall %}

          {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
    </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer-login.html' %}
{% endblock %}