{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Would ' + data.presets[0].gpsurgery + ' like to choose or change a pharmacy for their prescriptions?' %}
{% else %}
  {% set heading = 'Would you like to choose or change a pharmacy for your prescriptions?'  %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "nominate-pharmacy",
              "name": "nominate-pharmacy",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Choosing or nominating a pharmacy means the GP surgery will send prescriptions directly to the pharmacy."
              },
              "items": [
                {
                  "value": "Yes~/live/nominate-online-or-street",
                  "text": "Yes, choose a pharmacy",
                  checked: checked("nominate-pharmacy", "Yes")
                },
                {
                  "value": "No~/live/check-answers-3",
                  "text": "No",
                  checked: checked("nominate-pharmacy", "No")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
     </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
