{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% set heading = 'What is the address of the pharmacy?'  %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form action="do-you-previous-address" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

              {% call fieldset({
                legend: {
                  text: heading,
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}

              {{ input({
                label: {
                  "text": "Name of pharmacy"
                },
                "id": "pharmacy-name",
                "name": "pharmacy-name",
                value: data['pharmacy-name']
              }) }}

              {{ input({
                label: {
                  "text": "Address line 1"
                },
                "id": "pharmacy-address-line-1",
                "name": "pharmacy-address-line-1",
                value: data['pharmacy-address-line-1']
              }) }}

              {{ input({
                label: {
                  "text": "Address line 2"
                },
                "id": "pharmacy-address-line-2",
                "name": "pharmacy-address-line-2",
                value: data['pharmacy-address-line-2']
              }) }}

              {{ input({
                label: {
                  "text": "Town or city"
                },
                "id": "pharmacy-town",
                "name": "pharmacy-town",
                value: data['pharmacy-town']
              }) }}

              {{ input({
                  label: {
                    "text": "Postcode"
                  },
                  "classes": "nhsuk-input--width-10",
                  "id": "pharmacy-postcode",
                  "name": "pharmacy-postcode",
                  value: data['pharmacy-postcode']
              }) }}

              {% endcall %}

              {{ button({
                "text": "Continue"
              }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
