{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Where you get your prescription items - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['ethnicity'] === "Asian or Asian British") %}
  {% set link = 'what-is-your-ethnicity-background-asian' %}
{% elif (data['ethnicity'] === "Black African, Black British or Caribbean") %}
  {% set link = 'what-is-your-ethnicity-background' %}
{% elif (data['ethnicity'] === "Mixed or multiple ethnic groups") %}
  {% set link = 'what-is-your-ethnicity-background-mixed' %}
{% elif (data['ethnicity'] === "White") %}
  {% set link = 'what-is-your-ethnicity-background-white' %}
{% elif (data['ethnicity'] === "Another ethnic group") %}
  {% set link = 'what-is-your-ethnicity-background-another' %}
{% else %}
  {% set link = 'what-is-your-ethnicity' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            <h1 class="nhsuk-fieldset__legend--l">Where you get your prescription items</h1>
            <p>Trinity Court Surgery (Demo GP Practice) is a dispensing surgery. This means you may be eligible to get your prescription items such as medicines or medical appliances direct from this GP surgery.</p>
            <p>If you select 'Yes' you must answer the questions you are asked as best you can. If you are eligible the GP surgery may discuss this additional service with you.</p>
            
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
               <p>If you select 'No' and choose a pharmacy you will not be able change your mind later.</p>
            </div>

            {{ radios({
              "idPrefix": "nominate-pharmacy",
              "name": "nominate-pharmacy",
              "fieldset": {
                "legend": {
                  "text": "Do you want to check if you are eligible?",
                  "classes": "nhsuk-fieldset__legend--m",
                  "isPageHeading": "false"
                }
              },
              "items": [
                {
                  "value": "Yes~nominate-online-or-street",
                  "text": "Yes",
                  checked: checked("nominate-pharmacy", "Yes")
                },
                {
                  "value": "No~/live/are-you-a-member-of-armed-forces",
                  "text": "No",
                  checked: checked("nominate-pharmacy", "No")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

        </form>
      </div>
     </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
