{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
For people with EHIC - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}



            <form action="check-answers-2" method="post" autocomplete="off">


            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

          <h2 class="nhsuk-heading--l">For people with EHIC</h2>

          <p>By continuing you are agreeing to the following statements.</p>
          <p>I understand that registration with  a GP surgery is free of charge and that I can receive free medical care from them.</p>
          <p>I may need to pay for other NHS treatment, such as referrals to hospital, if:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>the information recorded here is incorrect</li>
              <li>I do not present my EHIC when requested at any time</li>
            </ul>

          <p>I also understand that only medically necessary treatment is covered by EHIC. Planned procedures which could be completed on return to my own country are not included.</p>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>
{% endblock %}
