{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
S1 form - Register with a GP surgery - NHS
{% endblock %}



{% block beforeContent %}

{% endblock %}

{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}



          <form action="overseas-declaration-s1" method="post" autocomplete="off">


            {{ hint({
              "text": "Registration type",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

          <h2 class="nhsuk-heading--l">S1 form</h2>

          <p>If you have an S1 form you should take this into your chosen GP surgery at the earliest opportunity.</p>
          <p>You should only need to present your S1 form once on registration, though may be asked to show it at other times.</p>


            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>
{% endblock %}
