{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Have you moved to UK from living in EU, EEA or Switzerland? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="" method="post" autocomplete="off">

          {{ hint({
            "text": "Registration type",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}

          {% if (data['who-is-being-registered'] == "dependant") %}

          <h1 class="nhsuk-heading-l">Has {{ data ['name-first-name'] }} moved to UK from living in EU, EEA or Switzerland?</h1>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint" id="contact-hint">
            <p>They may need to pay an immigration health surcharge as part of their visa application if they are staying for 6 months or more.</p>
          </div>

          {{ radios({
            "idPrefix": "eea",
            "name": "eea",
            "items": [
              {
                "value": "Yes~/live/recently-moved-documents",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("eea", "Yes")
              },
              {
                "value": "No~/live/immigration-surcharge",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("eea", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% else %}

          {% call fieldset({
            legend: {
              text: "Have you moved to UK from living in EU, EEA or Switzerland?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint" id="contact-hint">
            <p>You may need to pay an immigration health surcharge as part of your visa application if you're staying for 6 months or more.</p>
          </div>

          {{ radios({
            "idPrefix": "eea",
            "name": "eea",
            "items": [
              {
                "value": "Yes~/live/recently-moved-documents",
                "text": "Yes",
                "hint": {
                  "text": ""
                },
                checked: checked("eea", "Yes")
              },
              {
                "value": "No~/live/immigration-surcharge",
                "text": "No",
                "hint": {
                  "text": ""
                },
                checked: checked("eea", "No")
              }
            ]
          }) }}

          {% endcall %}

          {% endif %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}