{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Terms and conditions - {{ ServiceName }} - NHS
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Terms and conditions</h1>

  </div>
</div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>

          <p>Version 1.1, 29 April 2023</p>
          <!--Next review due: 10 Jan 2022-->

          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <!--<span class="nhsuk-contents-list__link"><b>Introduction</b></span>-->
              <a class="nhsuk-contents-list__link" href="#introduction">Introduction</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#terms-apply">When these terms apply</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-to-use">How to use 'NHS Register with a GP Surgery'</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#accessing-gp-reg">Accessing 'NHS Register with a GP Surgery' </a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#details">Details about the GP Services</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#end-use">Ending your use of 'NHS Register with a GP Surgery'</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#right-to-use">Your right to use 'NHS Register with a GP Surgery'</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#prohibited-use">Prohibited uses</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#liability">Our liability to you</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#general">General</a>
            </li>
          </ol>
        </nav>
      </section>

      <section>

        <div id="introduction">
          <h2>1. Introduction</h2>
          <p>1.1 We (NHS England) have developed a digital GP registration service called 'NHS Register with a GP Surgery', accessed via this website through which you can register for or change a General Practitioner to access NHS primary care in England. To find out more about who we are and our role, visit the <a href="https://digital.nhs.uk/">NHS England</a> website.</p>
          <p>Contacting us If you need to get in touch please make contact via your GP.</p>
        </div>

        <div id="terms-apply">
          <h2 class="nhsuk-heading-l">2. When these terms apply</h2>
          <p>Please read these terms and conditions and our <a href="/pilot/legal/privacy">privacy policy.</a> By continuing to use ‘NHS Register with a GP Surgery’, you agree to be bound by these terms.</p>
          <p>2.2 We may, at any time and in our sole discretion, amend these terms for any reason. The latest version of our terms will be accessible through 'NHS Register with a GP Surgery'.</p>
        </div>

        <div id="how-to-use">
          <h2 class="nhsuk-heading-l">3. NHS Register with a GP Surgery’</h2>
          <p>3.1 ‘NHS Register with a GP Surgery’ is free. To use ‘NHS Register with a GP Surgery’ you must be registering with a GP surgery in England.</p>
          <p>3.2 If you access or attempt to access ‘NHS Register with a GP Surgery’ from outside England you are responsible for complying with any local laws that apply to you in the country from which you are using 'NHS Register with a GP Surgery'.</p>
          <p>3.3 You must access the service from the link provided by 'NHS Register with a GP Surgery' for the GP you are registering with.</p>
          <p>3.4 You must answer all the mandatory questions to enable GPs to process your registration details.</p>
          <p>3.5 'NHS Register with a GP Surgery' asks a series of questions, your answers will become your application to register with a GP.</p>
          <p>3.6 If you already have an NHS login account (with any level of identity verification) you can use this to access the service. If you use NHS login, some of the answers will be pre-populated for you. You don't need an NHS login account to use this service. Find out more information about NHS login.</p>
          <p>3.7 When you submit your application, all your answers are shared with the GP.</p>
          <p>3.8 The GP controls and owns the registration process, it is not automated on the submission of your application. Any queries about your application should be directed to the GP. The GP will respond to you directly to confirm the outcome of your application.</p>
          <p>‘NHS Register with a GP Surgery’ is not a medical device and so is not regulated by the <a href="https://www.gov.uk/topic/medicines-medical-devices-blood/medical-devices-regulation-safety"> Medicines and Health Regulatory Agency (MHRA).</a></p>
        </div>

        <div id="accessing-gp-reg">
          <h2>4. Accessing 'NHS Register with a GP Surgery'</h2>
          <p>4.1 You are responsible for making all arrangements necessary for you to access 'NHS Register with a GP Surgery', including but not limited to:</p>
          <ul>
            <li>a secure internet connection (see <a href="https://www.ncsc.gov.uk/cyberaware/home"> Cyber Aware website)</a></li>
            <li>an appropriate device, operating system and browser</li>
            <li>using your own virus protection software (and regularly updating it) when accessing and using 'NHS Register with a GP Surgery'</li>
          </ul>
          <p>4.2 'NHS Register with a GP Surgery' is only intended to be used by you. If you permit any other person to use your account, you:</p>
          <ul>
            <li>do so entirely at your own risk</li>
            <li>are responsible for their access and use of 'NHS Register with a GP Surgery' as if it were your access and use</li>
            <li>must make sure such persons are aware of these terms and comply with them</li>
          </ul>
        </div>

        <div id="details">
          <h2>5. Details about the GP Services</h2>
          <p>5.1 If you download, print or export any of your data, you are responsible for ensuring that such data is held securely, and we will not be liable for any associated disclosure of sensitive and personal data.</p>
          <p>5.2 In order for you to receive the intended benefits of 'NHS Register with a GP Surgery', you must ensure that all data provided by you is complete and accurate.</p>
          <p>5.3 Your GP health records are created and kept up-to-date by your GP and remain under your GP's control. We do not hold or have access to your GP records, and are unable to add to or modify them or provide hard copies.:</p>
          <p>5.4 'NHS Register with a GP Surgery':</p>
          <ul>
            <li>is not a substitute for seeking medical advice. Always follow any medical advice given by your healthcare professionals</li>
            <li>does not provide medical or clinical diagnostic services</li>
          </ul>

          <p>5.5 We are not responsible for any delay or lack of response by your GP surgery to any contact you make through 'NHS Register with a GP Surgery', r for the outcome of any decision a GP may make as to whether to accept your application to register with them or not.</p>
        </div>

        <div id="end-use">
          <h2>6. Ending your use of 'NHS Register with a GP Surgery'</h2>
          <p>6.1 You may stop using 'NHS Register with a GP Surgery' at any time.</p>
        </div>

        <div id="right-to-use">
          <h2>7. Your right to use 'NHS Register with a GP Surgery'</h2>
          <p>7.1 We own or have the right to use all intellectual property rights used for the provision of 'NHS Register with a GP Surgery', including rights in copyright, patents, database rights, trademarks and other intellectual property rights, ("<strong>NHS IPR</strong>").</p>
          <p>7.2 You have permission to use ‘'NHS Register with a GP Surgery' for the sole purposes described in these terms. You need written permission from us or any other owner of NHS IPR to use these items in any other way.</p>
          <p>7.3 Unless permitted by law or under these terms, you will:</p>
          <ul>
            <li>not copy 'NHS Register with a GP Surgery' or any NHS IPR except where such copying is incidental to normal use</li>
            <li>not rent, lease, sub-license, loan, translate, merge, adapt or modify 'NHS Register with a GP Surgery' or any NHS IPR</li>
            <li>not combine or incorporate 'NHS Register with a GP Surgery' in any other programmes or services</li>
            <li>not disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of 'NHS Register with a GP Surgery' or other any NHS IPR</li>
            <li>comply with all technology control or export laws that apply to the technology used by 'NHS Register with a GP Surgery' or other any NHS IPR</li>
          </ul>
        </div>

        <div id="prohibited-use">
          <h2>8. Prohibited uses</h2>
          <p>8.1 You may not use 'NHS Register with a GP Surgery':</p>
          <ul>
            <li>to collect any data or attempt to decipher any transmissions to or from ourservers</li>
            <li>in a way that could damage, disable, overburden, impair or compromise our systems or security</li>
            <li>to transmit any material that is insulting or offensive</li>
            <li>in a way that interferes with other users</li>
            <li>in any unlawful manner or for any unlawful purpose</li>
            <li>in a manner that is improper use or inconsistent with these terms</li>
            <li>to act fraudulently or maliciously by hacking into 'NHS Register with a GP Surgery'</li>
            <li>to transmit, send or upload any data that contains viruses, Trojan horses, worms, spyware or any other harmful programs designed to adversely affect the operation of computer software or hardware</li>
            <li>in connection with any kind of denial of service attack</li>
            <li>on any device or operating system that has been modified outside the mobile device or operating system vendor supported or warranted configurations. This includes devices that have been "jail-broken" or "rooted"</li>
          </ul>
          <p>If you do any of the above acts you may also be committing a criminal offence, and we will report any such activity to the relevant law enforcement authorities. We will co-operate with those authorities by disclosing your identity to them.</p>
        </div>

        <div id="liability">
          <h2>9. Our liability to you</h2>
          <p>9.1 Although we make reasonable efforts to provide, maintain and update 'NHS Register with a GP Surgery' it is provided "as is" and, to the extent permitted by law, we make no representations, warranties or guarantees, whether express or implied (including but not limited to the implied warranties of satisfactory quality and fitness for a particular purpose), that 'NHS Register with a GP Surgery' (a) is accurate, complete or up-to-date; (b) will meet your particular requirements or needs; or (c) will always be available, error free, uninterrupted or free of viruses.</p>
          <p>9.2 We are not responsible for external links to or from 'NHS Register with a GP Surgery' and cannot guarantee these will always work.</p>
          <p>9.3 Nothing in these terms excludes or limits our liability for:</p>
          <ol class="nhsuk-list nhsuk-list--number">
            <li>death or personal injury arising from our negligence</li>
            <li>fraud or fraudulent misrepresentation</li>
            <li>any loss or damage to a device or digital content belonging to you, if you can show that a)this was caused by 'NHS Register with a GP Surgery' and b) we failed use to use reasonable skill and care to prevent this</li>
            <li>any other liability that cannot be excluded or limited under English law</li>
          </ol>
          <p>9.4 Subject to clause 9.3 of these terms, we will not be liable or responsible to you or any person who use 'NHS Register with a GP Surgery' on behalf of for:</p>
          <ul>
            <li>any harm, loss or damage suffered where this is not caused by i) our negligence (for instance, if a healthcare professional makes a misdiagnosis of your condition, or prescribes the wrong medication, or you make any independent decisions based on the information provided by 'NHS Register with a GP Surgery' we would not be liable); or ii) our breach of these terms</li>
            <li>any loss or damage arising from an inability to access and/or use 'NHS Register with a GP Surgery' in whole or in part</li>
            <li>any business loss (including but not limited to loss of profits, revenue, contracts, anticipated savings, data, goodwill or wasted expenditure)</li>
            <li>any indirect or consequential losses that were not foreseeable to both you and us when you commenced using 'NHS Register with a GP Surgery' (loss or damageis "foreseeable" if it was an obvious consequence of our breach or if it was recognised by you and us at the time we entered into the contract created by your use of 'NHS Register with a GP Surgery')</li>
          </ul>
          <p>9.5 This clause 9 does not affect any legal rights you may have as a consumer in relation to defective services or software. Advice about your legal rights is available from your local Citizen's Advice or Trading Standards Office.</p>
        </div>

        <div id="general">
          <h2>10. General</h2>
          <p>10.1 These terms, and any other terms or policies referenced, set out the entire agreement between you and us in respect of your use of 'NHS Register with a GP Surgery'.</p>
          <p>10.2 These terms do not give any rights to any third party to enforce any of these terms.</p>
          <p>10.3 Each of the clauses and sub-clauses of these terms operates separately. If any part is determined to be invalid or unenforceable it will be superseded by a valid and enforceable provision that most closely matches the intent of the original and all other terms shall continue in effect.</p>
          <p>10.4 Even if we delay in enforcing these terms we can still enforce them later.</p>
          <p>10.5 The laws of England shall apply exclusively to these terms and all matters relating to use of 'NHS Register with a GP Surgery', and dispute shall be subject to the exclusive jurisdiction of the courts of England.</p>
        </div>

      </section>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 29 April 2023<br>
          <!--Next review due: 10 Jan 2022-->
        </p>
      </div>

    </div>
  </div>
</article>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}