{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}




{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Which of the following best describes ' + data['name-first-name'] %}
  {% set hint1 = 'This information will be used to match them to their healthcare record.' %}
{% else %}
  {% set heading = 'What is your sex as recorded on your NHS record?' %}
  {% set hint1 = 'This information will be used to match you to your healthcare record.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['schooling']) %}
  {% set link = 'professional-involvement' %}
{% else %}
  {% if (data['no-contact']) %}
    {% set link = 'how-can-we-contact-inputs-prompt' %}
  {% else %}
    {% set link = 'how-can-we-contact-inputs' %}
  {% endif %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="what-is-your-ethnicity" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "gender",
              "name": "gender",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },

              "items": [
                {
                  "value": "Female",
                  "text": "Female",
                  checked: checked("gender", "Female")
                },
                {
                  "value": "Intersex",
                  "text": "Intersex",
                  checked: checked("gender", "Intersex")
                },
                {
                  "value": "Male",
                  "text": "Male",
                  checked: checked("gender", "Male")
                },
                {
                  "value": "Not specified or known",
                  "text": "Not specified or known",
                  checked: checked("gender", "Not specified or known")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
