{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "What is " + data['name-first-name'] + "'s current UK address?" %}
{% else %}
  {% set heading = 'What is your current UK address?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% if (data['out-of-area'] === "out-of-area") %}
  {% set action = 'current-address-out-of-area' %}
{% elif (data['user-auth'] === "p9") %}
  {% set action = 'confirm-contact-details' %}
{% else %}
  {% set action = 'how-can-we-contact-inputs' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-current-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="{{ action }}" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

              {% call fieldset({
                legend: {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l"
                }
              }) %}

              {{ input({
                label: {
                  "text": "Address line 1"
                },
                "id": "current-address-line-1",
                "name": "current-address-line-1",
                value: data['current-address-line-1']
              }) }}

              {{ input({
                label: {
                  "text": "Address line 2"
                },
                "id": "current-address-line-2",
                "name": "current-address-line-2",
                value: data['current-address-line-2']
              }) }}

              {{ input({
                label: {
                  "text": "Town or city"
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "current-address-town",
                "name": "current-address-town",
                value: data['current-address-town']
              }) }}

              {{ input({
                  label: {
                    "text": "Postcode"
                  },
                  "classes": "nhsuk-input--width-10",
                  "id": "current-address-postcode",
                  "name": "current-address-postcode",
                  value: data['current-address-postcode']
              }) }}


              {{ button({
                "text": "Continue"
              }) }}

              {% endcall %}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}