{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '1' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "What is the postcode of where " + data['name-first-name'] + " was living when they last registered with a GP surgery in the UK?" %}
  {% set hintText = 'This will be the postcode they used the last time they registered with a GP surgery.' %}
{% else %}
  {% set heading = 'What is the postcode of where you were living when you last registered with a GP surgery in the UK?' %}
  {% set hintText = 'This will be the postcode you used the last time you registered with a GP surgery.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "registered-for-the-first-time",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="check-answers-1" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ hint({
                "text": hintText
            }) }}

            {{ input({
                label: {
                  "text": "Postcode"
                },
                "hint": {
                  "text": "For example LS13 9PO"
                },
                "classes": "nhsuk-input--width-10",
                "id": "gp-postcode-prev",
                "name": "gp-postcode-prev",
                value: data['gp-postcode-prev']
              }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}