{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Which of the following best describes your Mixed or Multiple ethnic groups background? - Register with a GP surgery - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% if data['user-auth'] == "p9" %}
          <form action="is-this-your-current-address" method="post" autocomplete="off">
          {% elif data['user-auth'] == "p5" %}
          <form action="is-this-your-current-address" method="post" autocomplete="off">
          {% else %}
          <form action="do-you-current-address" method="post" autocomplete="off">
          {% endif %}

            {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

          {% if (data['who-is-being-registered'] == "dependant") %}

          {% set ethnicityHtml %}
            {{ input({
              id: "ethMix",
              name: "ethMix",
              classes: "nhsuk-u-width-two-thirds",
              label: {
              text: "How would you describe their background? (optional)"

              }
            }) }}
          {% endset -%}

          {{ radios({
            idPrefix: "ethnicity-detail-mixed",
            name: "ethnicity-detail-mixed",
            fieldset: {
              legend: {
                text: "Which of the following best describes their Mixed or Multiple ethnic groups background?",
                isPageHeading: true,
                classes: "nhsuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "White and Black Caribbean",
                text: "White and Black Caribbean",
                checked: checked("ethnicity-detail-mixed", "White and Black Caribbean")
              },
              {
                value: "White and Black African",
                text: "White and Black African",
                checked: checked("ethnicity-detail-mixed", "White and Black African")
              },
              {
                value: "White and Asian",
                text: "White and Asian",
                checked: checked("ethnicity-detail-mixed", "White and Asian")
              },
              {
                value: "other",
                text: "Any other Mixed or Multiple ethnic background",
                conditional: {
                  html: ethnicityHtml
                }
              },
              {
                divider: "or"
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say"
              }
            ]
          }) }}

          {% else %}

          {% set ethnicityHtml %}
            {{ input({
              id: "ethMix",
              name: "ethMix",
              classes: "nhsuk-u-width-two-thirds",
              label: {
              text: "How would you describe your background? (optional)"

              }
            }) }}
          {% endset -%}

          {{ radios({
            idPrefix: "ethnicity-detail-mixed",
            name: "ethnicity-detail-mixed",
            fieldset: {
              legend: {
                text: "Which of the following best describes your Mixed or Multiple ethnic groups background?",
                isPageHeading: true,
                classes: "nhsuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "White and Black Caribbean",
                text: "White and Black Caribbean",
                checked: checked("ethnicity-detail-mixed", "White and Black Caribbean")
              },
              {
                value: "White and Black African",
                text: "White and Black African",
                checked: checked("ethnicity-detail-mixed", "White and Black African")
              },
              {
                value: "White and Asian",
                text: "White and Asian",
                checked: checked("ethnicity-detail-mixed", "White and Asian")
              },
              {
                value: "other",
                text: "Any other Mixed or Multiple ethnic background",
                conditional: {
                  html: ethnicityHtml
                }
              },
              {
                divider: "or"
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say"
              }
            ]
          }) }}

            {% endif%}

          {{ button({
            "text": "Continue"
          }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
