{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Which of the following best describes their Asian or Asian British background?' %}
  {% set label = 'How would you describe their background? (optional)' %}
{% else %}
  {% set heading = 'Which of the following best describes your Asian or Asian British background?' %}
  {% set label = 'How would you describe your background? (optional)' %}
{% endif %}

{% if (data['skip-nominate-pharmacy'] === "true") %}
  {% set action = 'are-you-a-member-of-armed-forces' %}
{% else %}
  {% set action = 'nominate-pharmacy' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-ethnicity",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form action="{{ action }}" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {% set ethnicityHtml %}
              {{ input({
                id: "ethMix",
                name: "ethMix",
                classes: "nhsuk-u-width-two-thirds",
                label: {
                  text: label
                }
              }) }}
            {% endset -%}

            {{ radios({
              idPrefix: "ethnicity-detail-asian",
              name: "ethnicity-detail-asian",
              fieldset: {
                legend: {
                  text: heading,
                  isPageHeading: true,
                  classes: "nhsuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Indian",
                  text: "Indian",
                  checked: checked("ethnicity-detail-asian", "Indian")
                },
                {
                  value: "Pakistani",
                  text: "Pakistani",
                  checked: checked("ethnicity-detail-asian", "Pakistani")
                },
                {
                  value: "Bangladeshi",
                  text: "Bangladeshi",
                  checked: checked("ethnicity-detail-asian", "Bangladeshi")
                },
                {
                  value: "Chinese",
                  text: "Chinese",
                  checked: checked("ethnicity-detail-asian", "Chinese")
                },
                {
                  value: "other",
                  text: "Any other Asian background",
                  conditional: {
                    html: ethnicityHtml
                  }
                },
                {
                  divider: "or"
                },
                {
                  value: "Prefer not to say",
                  text: "Prefer not to say"
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
