{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Enter the postcode where the mother of {{ data ['name-first-name'] }} was living when their baby was born - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="check-answers" method="post" autocomplete="off">

            {{ hint({
              "text": "Patient details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            <h1 class="nhsuk-heading-l">Enter the postcode where the mother of {{ data ['name-first-name'] }} was living when their baby was born</h1>
            {% call fieldset({
              legend: {
                "text": "",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

              {{ input({
                  label: {
                    "text": "Postcode"
                  },
                  "hint": {
                    "text": "For example LS13 9PO"
                  },
                  "classes": "nhsuk-input--width-10",
                  "id": "mother-postcode",
                  "name": "mother-postcode",
                  value: data['mother-postcode']
                }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}