{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  Enter NHS number - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}
          <form action="how-can-we-contact-inputs" method="post" autocomplete="off">




           {{ hint({
              "text": "Step 1 of 3 - Matching patient to their record",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

            {% if (data['who-is-being-registered'] == "dependant") %}

            <H2> What is {{ data ['name-first-name'] }}'s NHS Number</H2>

            {% else %}

            <H2>What is your NHS Number?</H2>

            {% endif %}

            {% call fieldset({
              legend: {
                "text": "",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            }) %}

            {{ hint({
                "text": "Please enter your NHS number to continue. It is a 10 digit number, like 485 777 3456"
            }) }}

            {{ input({
              "label": {
              },
                "classes": "nhsuk-input nhsuk-input--width-10",
                "id": "nhs-number",
                "name": "nhs-number",
                "value": data['nhs-number']
              }) }}

            {% endcall %}




            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
