{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = "Enter details of where " + data ['name-first-name'] + " was born?" %}
  {% set hintText = 'This can be the town, city or other location you were born in.' %}
{% else %}
  {% set heading = 'Enter details of where you were born' %}
  {% set hintText = 'This can be the town, city or other location you were born in.' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['under-18-years'] === "true") %}
  {% set action = 'do-you-have-existing-conditions' %}
{% elseif (data['registering-first-time'] === "No") %}
  {% set action = 'do-you-have-existing-conditions' %}
{% else %}
  {% set action = 'do-you-previous-address' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": "where-were-you-born",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="{{ action }}" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ input({
                "label": {
                  "text": "Place of birth"
                },
                "hint": {
                  "text": hintText
                },
                "classes": "nhsuk-u-width-two-thirds",
                "id": "town-born",
                "name": "town-born",
                "value": data['town-born']
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}