{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Select place of birth - Register with a GP surgery - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          text: "Go back",
          href: "javascript:history.go(-1)"
        }) }}

        <form action="where-were-you-born-place-uk" method="post" autocomplete="off">


          {{ hint({
            "text": "Patient details",
            "classes": "nhsuk-u-margin-bottom-2"
          }) }}

          {% if (data['who-is-being-registered'] == "dependant") %}

          <H2>Where was {{ data ['name-first-name'] }} born?</H2>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ radios({
            "idPrefix": "country-born",
            "name": "country-born",
            "items": [
              {
                "value": "England",
                "text": "England",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "England")
              },
              {
                "value": "Wales",
                "text": "Wales",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "England")
              },
              {
                "value": "Isle of man",
                "text": "Isle of man",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Isle of man")
              },
              {
                "value": "Scotland",
                "text": "Scotland",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Scotland")
              },
              {
                "value": "Northern ireland",
                "text": "Northern ireland",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Northern ireland")
              },
              {
                "divider": "or"
              },
              {
                "value": "~/live/where-were-you-born-place-outside-uk",
                "text": "None of these",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "")
              }
            ]
          }) }}

          {% endcall %}
          {% else %}

          <H2>Where were you born?</H2>

          {% call fieldset({
            legend: {
              text: "",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          {{ radios({
            "idPrefix": "country-born",
            "name": "country-born",
            "items": [
              {
                "value": "England",
                "text": "England",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "England")
              },
              {
                "value": "Wales",
                "text": "Wales",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "England")
              },
              {
                "value": "Isle of man",
                "text": "Isle of man",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Isle of man")
              },
              {
                "value": "Scotland",
                "text": "Scotland",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Scotland")
              },
              {
                "value": "Northern ireland",
                "text": "Northern ireland",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "Northern ireland")
              },
              {
                "divider": "or"
              },
              {
                "value": "~/live/where-were-you-born-place-outside-uk",
                "text": "None of these",
                "hint": {
                  "text": ""
                },
                checked: checked("country-born", "")
              }
            ]
          }) }}

          {% endcall %}
          {% endif %}




          {{ button({
            "text": "Continue"
          }) }}

        </form>



      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
