{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Who is registering with a GP? - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="who-is-registering-answer" method="post" autocomplete="off">

          <!-- <span class="nhsuk-u-font-size-22 nhsuk-u-padding-bottom-0">Matching you to your record</span> -->
          {% call fieldset({
            legend: {
              text: "Who is registering with a GP?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="nhsuk-hint" id="contact-hint">
            <p></p>
          </div>

          {{ radios({
            "idPrefix": "who-is-being-registered",
            "name": "who-is-being-registered",
            "items": [
              {
                "value": "myself",
                "text": "Myself",
                checked: checked("who-is-being-registered", "myself")
              },
              {
                "value": "dependant",
                "text": "Someone else",
                "hint": {
                  "text": "You are registering your child or someone else who needs help completing this form"
                },
                checked: checked("who-is-being-registered", "dependant")
              }
            ]
          }) }}

          {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

        </form>

      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
