{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

{% extends 'layout.html' %}

{% set heading = 'Would you like to donate your organs and tissue?' %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

           {% include 'live/includes/step.html' %}

            {{ radios({
              "idPrefix": "organDonor",
              "name": "organDonor",
              "fieldset": {
                "legend": {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Select one option"
              },
              "items": [
              {
                "value": "Yes~/live/organ-faith",
                "text": "Yes, all of my organs and tissue",
                hint: {
                  text: "Help up to 9 people through organ donation and even more through tissue donation"
                },
                checked: checked("organDonor", "Yes")
              },
                {
                  "value": "Some~/live/organ-select",
                  "text": "Yes, some organs and tissue",
                  hint: {
                    text: "Select which of your organs and tissue to donate"
                  },
                  checked: checked("organDonor", "Some")
                },
                {
                  "value": "No~/live/scr",
                  "text": "No, none of my organs and tissue",
                  checked: checked("organDonor", "No")
                }
              ]
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
