{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = 'Would ' + data['name-first-name'] + ' have serious difficulty travelling to their nearest pharmacy to get medicines or medical appliances?' %}
{% else %}
  {% set heading = 'Would you have serious difficulty travelling to your nearest pharmacy to get medicines or medical appliances?' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form action="are-you-a-member-of-armed-forces" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {{ hint({
              "text": "Serious difficulty could be because of the distance needed to travel to the nearest pharmacy or in communicating with them."
            }) }}

            {{ radios({
              "idPrefix": "difficulty-in-reaching-pharmacy",
              "name": "difficulty-in-reaching-pharmacy",
              "items": [
                {
                  "value": "Yes~/live/can-use-dispensing",
                  "text": "Yes",
                  "checked": checked("difficulty-in-reaching-pharmacy", "Yes")
                },
                {
                  "value": "No~/live/cant-use-dispensing",
                  "text": "No",
                  "checked": checked("difficulty-in-reaching-pharmacy", "No")
                }
              ]
            }) }}

            {% endcall %}

            {{ details({
              "text": "Why are we asking this?",
              "html": "<p>If a patient has serious difficulty travelling to or communicating with their nearest pharmacy, they may be eligible to get their medicines or medical appliances direct from this GP surgery.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
