{% extends 'mpr/_layout.html' %}

{% set pageName = "Declaration - Patient removals - Manage patient registrations - NHS" %}

{% block beforeContent %}
  {{ backLink({
      href: "/mpr-removals/main/8-day/warning",
      text: "Go back"
    }) 
  }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-l">
          Remove a patient from your practice list
        </span>
        Declarations
      </h1>

      <form method="post" action="/mpr-removals/main/check-answers">

        {{ checkboxes({
          idPrefix: "8DayWarningReasons",
          name: "8DayWarningReasons",
          fieldset: {
            legend: {
              text: "Why was it not possible or appropriate to give the patient a written warning?",
              size: "m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "health",
              text: "Such a warning would be harmful to the patient’s physical or mental health"
            },
            {
              value: "safety",
              text: "Such a warning would put the safety of others at risk"
            },
            {
              value: "practicality",
              text: "It was not practical for a warning to be given to the patient"
            }
          ]
        }) }}

        {{ button({ text: 'Continue' }) }}
      </form>

     
    </div>
  </div>

{% endblock %}