{% extends 'mpr/_layout.html' %}

{% set pageName = "Declaration - Patient removals - Manage patient registrations - NHS" %}

{% block beforeContent %}
  {{ backLink({
      href: "javascript:history.go(-1)",
      text: "Go back"
    }) 
  }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-l">
          Remove a patient from your practice list
        </span>
        Declarations
      </h1>

      <form method="post" action="/mpr-removals/main/8-day-declarations">

        {{ dateInput({
          id: "8dayWarningDate",
          namePrefix: "8dayWarningDate",
          fieldset: {
            legend: {
              text: "When did the patient receive a written warning?",
              size: "m"
            }
          },
          hint: {
            text: "For example, 18 3 2026"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4"
            }
          ]
        }) }}

        {{ button({ text: 'Continue' }) }}
      </form>

     
    </div>
  </div>

{% endblock %}