<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}



        <form id="youngEnough" action="check-age-3" method="post" autocomplete="off">


            {{ hint({
              "text": "Step 2 of 3 - Personal Details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}

          <h2 class="nhsuk-heading--l">For people arriving from EU, EEA or Switzerland without EHIC or S1 form</h2>

          <p>By continuing you are agreeing to the following statements.</p>
          <p>I understand that visits to the GP surgery are free of charge, but I may need to pay for further NHS treatment, such as referral to hospital, if:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>I do not have a valid exemption such as an EHIC or an S1 form.</li>
            </ul>

          <p>If you are from EU, EEA or Switzerland and you do not have an S1 form or an EHIC, you can find out how to get one and if you're eligible, from your national government websites. You can find out more information about UK healthcare for EU nationals on the Gov.uk website.</p>

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
