<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            "href": "what-is-your-sexual-orientation",
            "text": "Go Go back"
          }) }}

          <form action="are-you-a-member-of-armed-forces" method="post" autocomplete="off">

            {% set otherHtml %}
              {{ input({
                id: "other",
                name: "other",
                classes: "nhsuk-u-width-two-thirds",
                label: {
                  text: "Religion"
                }
              }) }}
            {% endset -%}

            {{ radios({
              "idPrefix": "religion",
              "name": "religion",
              "fieldset": {
                "legend": {
                  "text": "What is your religion?",
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": "true"
                }
              },
              "hint": {
                "text": "Select one option"
              },
              "items": [
                {
                  "value": "Buddhist",
                  "text": "Buddhist",
                  checked: checked("religion", "Buddhist")
                },
                {
                  "value": "Christian",
                  "text": "Christian",
                  checked: checked("religion", "Christian")
                },
                {
                  "value": "Hindu",
                  "text": "Hindu",
                  checked: checked("religion", "Hindu")
                },
                {
                  "value": "Jewish",
                  "text": "Jewish",
                  checked: checked("religion", "Jewish")
                },
                {
                  "value": "Muslim",
                  "text": "Muslim",
                  checked: checked("religion", "Muslim")
                },
                {
                  "value": "Sikh",
                  "text": "Sikh",
                  checked: checked("religion", "Sikh")
                },
                {
                  "value": "Other religion",
                  "text": "Other religion",
                  "conditional": {
                    "html": otherHtml
                  },
                  checked: checked("religion", "Other religion")
                },
                {
                  "value": "No religion",
                  "text": "No religion",
                  checked: checked("religion", "No religion")
                },
                {
                  "divider": "or"
                },
                {
                  "value": "Prefer not to say",
                  "text": "Prefer not to say",
                  checked: checked("religion", "Prefer not to say")
                }
              ]
            }) }}

            {{ details({
              "text": "Why are you asking this?",
              "HTML": "<p>We collect this information to better tailor healthcare services to your needs. We do not discriminate on grounds of religion.</p>"
            }) }}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
