{% extends 'gp-registration/_layout.html' %}

{% set pageName = "You've already submitted a GP registration - NHS" %}

{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  })
}}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ fieldset({
        "legend": {
          "text": "You have already submitted a GP registration",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
      }) }}
      <p class="nhsuk-u-margin-top-3">You have submitted an application to [GP Surgery name] within the last 24 hours.</p>
      <p><strong>You can only register with one GP practice at a time.</strong></p>
      <p>Submitting this application will replace your previous registration</p>

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
        {{ button({
          "text": "Accept and submit",
          "href": "confirmation-page"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}