<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'address-update/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading, which may vary 
  depending on previous errors, such as consent not being
  given.
-->
{% set heading = 'Change your home address' %}

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = heading + "- NHS" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% include '../includes/auf-feedback.html' %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="is-address-uk" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>Use this form to change your home address on your NHS record.</p>
      <p>We'll check if your new address is still in your GP surgery's catchment area.</p>
      <p>If you already know you're no longer in your GP surgery's catchment area, you should <a href="find-gp-is-address-uk-non-p9">register with a new GP surgery</a>. This takes about 15 minutes and will automatically update your address on your NHS record.</p>
      <p>If you no longer live in the UK, you'll only need to tell us which country you now live in.</p>
      <h2 class="nhsuk-heading-m">Before you start</h2>
      <p>You'll need to log in to your NHS account to change your address.</p>
      <p>We'll ask for your email address to check if you have an account.</p>
      <p>If you do not have an account, you can create one. You'll then need to come back to this page to change your address.</p>
      {% endcall %}

      <a class="nhsuk-button nhsuk-button--blue" href="https://auth.sandpit.signin.nhs.uk/authorize?scope=openid%20profile&vtr=%5B%22P9.Cp.Cd%22%2C%22P9.Cm%22%5D&client_id=address-update-feature&redirect_uri=https://gp-reg-nhs.herokuapp.com/address-update/start?noGP=false&response_type=code&state=state">Continue</a>

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}
