<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'address-update/_layout.html' %}


<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->


<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Home address updated" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% include '../includes/auf-feedback.html' %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Home address updated
      </h1>
      <div class="nhsuk-panel__body">
        {% if data['noGP'] != 'true' %}
        Your NHS record has been updated and we’ve shared this change with your GP surgery
        {% else %}
        Your NHS record has been updated
        {% endif %}
      </div>
    </div>

    <p>You’ve changed the country you live in to {{ data['abroad-country'] }}.</p>
    <h2 class="nhsuk-heading-m">What happens next</h2>
    <p>Lordship Lane surgery will remove you from their patient list.</p>
    <p><a href="feedback">Tell us about your experience updating your address (opens in a new tab)</a></p>

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}