<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
What are your contact details? - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          text: "Go back",
          href: "javascript:history.go(-1)"
        }) }}


        <form id="youngEnough" action="check-age-4" method="post" autocomplete="off">

         {{ hint({
              "text": "Step 2 of 3 - Personal Details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}


            <!-- NHS Login p9 -->

            {% if (data['use-contacts-login'] == "Yes")  %}

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  What are your contact details?
                </h1>
              </legend>

              <div class="nhsuk-hint" id="contact-hint">
              <p>The NHS and your GP surgery can use these details to call, text or email you about health care services. All phone numbers must be registered in the UK.
            </div>


              <div class="nhsuk-form-group contact-home-section">
                <label class="nhsuk-label" for="contact-prefs-1">
                  Mobile telephone number (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="contact-home" name="contact-home" type="text">
              </div>


          {% else %}

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What are your contact details?
              </h1>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
            <p>The NHS and your GP surgery can use these details to call, text or email you about health care services. All phone numbers must be registered in the UK.
          </div>

            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-prefs-1">
                Home telephone number (optional)
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="contact-home" name="contact-home" type="text">
            </div>


            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-prefs-2">
                Mobile telephone number (optional)
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="contact-mobile" name="contact-mobile" type="text">
            </div>


            <div class="nhsuk-form-group contact-home-section">
              <label class="nhsuk-label" for="contact-prefs-2">
                Email (optional)
              </label>
              <input class="nhsuk-input" id="contact-email" name="contact-email" type="text">
            </div>


            {% endif %}


          <button class="nhsuk-button" type="submit">
            Continue
          </button>

        </form>


      </div>
    </div>

<!-- End of content -->

</div>
</div>

{% block pageScripts %}

{% endblock %}
{% endblock %}
