<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
What are your contact details? - Register with a GP surgery - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <form id="youngEnough" action="how-can-we-contact-you" method="post" autocomplete="off">

         {{ hint({
              "text": "Step 2 of 3 - Personal Details",
              "classes": "nhsuk-u-margin-bottom-2"
            }) }}


            <!-- NHS Login p9 -->


                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <h1 class="nhsuk-fieldset__heading">
                        What are your contact details?
                      </h1>
                    </legend>


                    <div class="nhsuk-form-group contact-home-section">
                      <label class="nhsuk-label" for="contact-prefs-1">
                        UK home telephone number
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="contact-home" name="contact-home" type="text">
                    </div>

                    <div class="nhsuk-form-group contact-home-section">
                      <label class="nhsuk-label" for="contact-prefs-2">
                        UK mobile telephone number
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="contact-mobile" name="contact-mobile" type="text">
                    </div>

                    <div class="nhsuk-form-group contact-home-section">
                      <label class="nhsuk-label" for="contact-prefs-2">
                        Email address
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-30" id="contact-email" name="contact-email" type="text">
                    </div>


          <button class="nhsuk-button" type="submit">
            Continue
          </button>

        </form>


      </div>
    </div>

<!-- End of content -->

</div>
</div>

{% block pageScripts %}

{% endblock %}
{% endblock %}
