<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '8' %}
{% set heading = 'Do you want us to message patients?' %}
{% set pageName = 'The Notify a Patient service' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if (data['linkaction'] == "change-questions") %}
    <form action="/gp/gp-branch" method="post" autocomplete="off">
    {% else %}
    <form action="gp-answers" method="post" autocomplete="off">
    {% endif %}

      <h1>Telling patients their registration has been accepted</h1>

      <p>Register with a GP surgery service will message the patient when you have accepted their registration. We will send the message by email, text message, post or through the NHS App. There is no cost to you for this.</p>
      <p><a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service/telling-patients-when-you-accept-their-registration">Find out more about how this feature works on our resource hub</a></p>

      {{ radios({
          "idPrefix": "use-nap",
          "name": "use-nap",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": heading,
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
      }) }}

    {{ button({
  "text": "Continue"
}) }}
    </form>

  </div>
</div>

{% endblock %}
