<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '9' %}
{% set heading = 'Do you want to direct patients to your own online form where you can ask them additional questions?' %}
{% set pageName = 'Would you like to ask patients to complete your own online questions? - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": false
              }
            }) %}

            <p>After patients have completed their registration they will be asked if they want to answer additional questions from your GP surgery.</p>
            <p>If you select '<strong>Yes</strong>' you will be asked for the URL of the page you want to send patients to.</p>

            {{ radios({
              "idPrefix": "local-form",
              "name": "local-form",
              "items": [
                {
                  "value": "Yes~/gp/gp-local-form-url",
                  "text": "Yes"
                },
                {
                  "value": "No~/gp/gp-answers",
                  "text": "No"
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

        </div>
      </div>

{% endblock %}