<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-gp.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Are you a university surgery? - GP registration service - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <p>This is the address of where you were living before your current address. Even if this was temporary accommodation. Your new GP surgery will use this information to see if you have an existing medical record.</p>
            {% if (data['who-is-being-registered'] === "dependant") %}
            <h2 style="font-size: 1.5rem; padding-top: 0;">Does {{ data['name-first-name']}} have a previous address in the UK?</h2>
            {% else %}
              <h2 style="font-size: 1.5rem; padding-top: 0;">Do you have a previous address in the UK?</h2>
            {% endif %}

          {{ radios({
            "idPrefix": "have-previous-uk-address",
            "name": "have-previous-uk-address",
            "items": [
              {
                "value": "Yes~/live/what-is-your-previous-address-manual",
                "text": "Yes",
                "checked": checked("have-previous-uk-address", "Yes")
              },
              {
                "value": immuniseLink,
                "text": "No",
                "checked": checked("have-previous-uk-address", "No")
              }
            ]
          }) }}

         {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}
