{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = ''+ data['name-first-name'] + '\'s previous address in the UK' %}
{% else %}
  {% set heading = 'Registering university students' %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% if (data['country-born'] === "None") %}
  {% set link = 'where-were-you-born-place-outside-uk' %}
{% else %}
  {% set link = 'where-were-you-born-place-uk' %}
{% endif %}

<!--{% if (data['date-of-birth'][2] >= 2005) %}
  {% set immuniseLink = 'No~/live/are-you-immunised' %}
{% else %}
  {% set immuniseLink = 'No~/live/what-is-your-previous-address' %}
{% endif %}-->

{% if (data['under-18-years'] === 'true') %}
  {% set immuniseLink = 'No~/live/are-you-immunised' %}
{% else %}
  {% set immuniseLink = 'No~/live/do-you-have-existing-conditions' %}
{% endif %}

{% block outerContent %}
  {{ backLink({
    "href": link,
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <p>Some surgeries located on or near a university receive a large number of registrations over a short period from students at the start of the academic year. The service can ask students for additional information such as student ID number, details about their course and student accommodation address.</p>
            {% if (data['who-is-being-registered'] === "dependant") %}
            <h2 style="font-size: 1.5rem; padding-top: 0;">Does {{ data['name-first-name']}} have a previous address in the UK?</h2>
            {% else %}
              <h2 style="font-size: 1.5rem; padding-top: 0;">Do you want to get additional information from university students registering at your surgery?</h2>
            {% endif %}

          {{ radios({
            "idPrefix": "have-previous-uk-address",
            "name": "have-previous-uk-address",
            "items": [
              {
                "value": "Yes~/live/what-is-your-previous-address-manual",
                "text": "Yes",
                "checked": checked("have-previous-uk-address", "Yes")
              },
              {
                "value": immuniseLink,
                "text": "No",
                "checked": checked("have-previous-uk-address", "No")
              }
            ]
          }) }}

         {% endcall %}

          {{ button({
            "text": "Continue"
          }) }}

          </form>
        </div>
      </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}