<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '7' %}
{% set heading = 'Do you want to check if patients are eligible for tuberculosis (TB) screening?' %}
{% set pageName = 'Do you want to offer patients a tuberculosis screening - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="gp-additional-questions-notify-patient" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": false
              }
            }) %}

            <p>We will identify patients that:</p>
            <ul>
              <li>are aged between 16-35</li>
              <li>have recently moved to the UK, or</li>
              <li>recently returned from overseas</li>
            </ul>
            <p>They will be asked if have they spent more than 6 months in a country where there was an increased risk of catching TB.</p>
            <p>Patients who answer yes to this question will be flagged to you as 'Likely to be eligible for tuberculosis screening'.</p>

            {{ radios({
              "idPrefix": "tb-screen",
              "name": "tb-screen",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes"
                },
                {
                  "value": "No",
                  "text": "No"
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

        </div>
      </div>

{% endblock %}