<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '6' %}
{% set heading = 'Do you want to offer your patients the opportunity to nominate a pharmacy during their registration?' %}
{% set pageName = 'Do you want to offer patients a nominated pharmacy - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="gp-additional-questions-tb" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": false
              }
            }) %}

            <p>By offering this service to patients you will receive the details of their chosen pharmacy if they select one.</p>
            <p>If a patient chooses to use this service then you should follow your surgery's process for handling a pharmacy nomination.</p>
            <p>Patients who register online with your surgery will only be offered this service if you choose yes.</p>

            {{ radios({
              "idPrefix": "pharmacy",
              "name": "pharmacy",
              "items": [
                {
                  "value": "Yes",
                  "text": "Yes"
                },
                {
                  "value": "No",
                  "text": "No"
                }
              ]
            }) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

        </div>
      </div>

{% endblock %}