<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-gp.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
{Branch name} - GP registration service - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    text: "Go back",
    href: "gp-manage"
    }) }}

    <form action="gp-reg-complete" autocomplete="off" method="post">


      <h1 class="nhsuk-heading">{{ data['practiceName'] or '{ Branch name }' }}</h1>


      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Shared mailbox
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nhs-shared-email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/gp/gp-shared-mailbox?linkaction=change-mailbox">Change
              <span class="nhsuk-u-visually-hidden">NHS shared email</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Additional services
          </dt>
          <dd class="nhsuk-summary-list__value">
            Language interpretation: {{ data['interpretation'] }}
            <br>
            Nominated pharmacy: {{ data['pharmacy'] }}
            <br>
            Dispencing surgery: {{ data['dispencing'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/gp/gp-additional-questions-language-interpretation?linkaction=change-questions">Change
              <span class="nhsuk-u-visually-hidden">language interpretation service</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Patient access
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if (data['access'] == "Unique url only") %}
            Unique url only
            {% elif (data['access'] == "Off") %}
            Off
            {% else %}
            On
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/gp/gp-patient-access">Change
              <span class="nhsuk-u-visually-hidden">pharmacy service</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Notify a patient service
          </dt>
          <dd class="nhsuk-summary-list__value">

            {% if data['practice'] === "true" %}

              {% if data['notify'] === "Off" %}
              Off
              {% else %}
              On
              {% endif %}


              {% else %}

            <div class="nhsuk-warning-text nhsuk-u-margin-bottom-3">
              <span aria-hidden="true" class="nhsuk-warning-text__icon">!</span>
              <strong class="nhsuk-warning-text__text">
                <span class="nhsuk-warning-text__assistive"></span>
                This setting is managed by the practice and can't be altered for individual branches
              </strong>
            </div>

            {% endif %}

          </dd>
          <dd class="nhsuk-summary-list__actions">
            {% if data['practice'] === "true" %}

            <a href="/gp/gp-notify-patient">Change
              <span class="nhsuk-u-visually-hidden">Notify a patient service</span>
            </a>

            {% endif %}
          </dd>
        </div>

      </dl>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Change the way patients access your online registration service through Find a GP or the unique url on your website.</p>
      </div>


    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}


{% endblock %}
