<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '10' %}
{% set heading = 'What is the web address of the online form you want to direct patients to?' %}
{% set pageName = 'Additional questions URL - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="gp-answers" method="post" autocomplete="off">

          {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": false
              }
            }) %}

          {{ input({
                    label: {
                      "html": 'Enter the address'
                    },
                      "hint": {
                      "text": "For example, 'www.nhs.uk'"
                    },
                    "classes": "nhsuk-input--width-20",
                    "id": "local-form-url",
                    "name": "local-form-url"
                  }) }}

          {% endcall %}

          <p><a href="https://www.nhs.uk/our-policies/linking-from-the-nhs-website/#:~:text=We%20only%20link%20to%20websites,selling%20products%20or%20services%E2%80%8B" target="_blank">Find out how our links are chosen (opens in a new tab)</a></p>

          {{ button({
              "text": "Continue"
            }) }}

        </form>

      </div>
    </div>

{% endblock %}