<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-gp.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">


          {% if data['gp-prac'] == "gp-prac" %}
          <h1 class="nhsuk-heading-xl">You have registered 3 surgeries</h1>
          {% elif data['gp-multi'] == "gp-multi" %}
          <h1 class="nhsuk-heading-xl">You have registered 2 surgeries</h1>
          {% else %}
          <h1 class="nhsuk-heading-xl">You have registered 1 surgery</h1>
          {% endif %}

          <!-- {{ hint({
            "text": "We found these details on your NHS login. We can give these details to your new GP.",
            "classes": "nhsuk-u-margin-bottom-4"
          }) }} -->

          <div class="nnhsuk-table-container">
            <table>
              <thead>
                <tr>
                  <th>Name and address</th>
                  <th>Mailbox</th>
                  <th>Practice unique URL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Highstreet surgery</strong><br>1 Town Street, London, SW1A 1AA</td>
                  <td>
                    <p>{{ data['nhs-shared-email'] }}</p>
                  <td><a href="#">your-practice-url.com/practice</a></td>
                </tr>

                {% if data['gp-prac'] == "gp-prac" %}
                <tr>
                  <td><strong>Pucklechuch surgery</strong><br>1 Town Street, London, SW1A 1AA</td>
                  <td>
                <p>{{ data['nhs-shared-email'] }}</p>
                <td><a href="#">your-practice-url.com/practice</a></td>
                <tr>
                  <td><strong>Three shires medical practice</strong><br>1 Town Street, London, SW1A 1AA</td>
                  <td>
                <p>{{ data['nhs-shared-email'] }}</p>
                <td><a href="#">your-practice-url.com/practice</a></td>

                {% elif data['gp-multi'] == "gp-multi" %}
                <tr>
                  <td><strong>Pucklechuch surgery</strong><br>1 Town Street, London, SW1A 1AA</td>
                  <td>
                    <p>{{ data['nhs-shared-email'] }}</p>
                  <td><a href="#">your-practice-url.com/practice</a></td>


                  {% else %}
                  {% endif %}
                </tr>
              </tbody>
            </table>

          </div>


              <!-- {{ radios({
                  "idPrefix": "gp-reg-service",
                  "name": "use-contacts-login",
                  "classes": "nhsuk-radios--inline",
                  "fieldset": {
                    "legend": {
                      "text": "Would you like sign up another practice?",
                      "classes": "nhsuk-fieldset__legend--m",
                      "isPageHeading": true
                    }
                  },
                  "items": [
                    {
                      "value": "Yes~/sprint-9/section-2/how-can-we-contact-you",
                      "text": "Yes"
                    },
                    {
                      "value": "No~/sprint-9/section-2/how-can-we-contact-you",
                      "text": "No"
                    }
                  ]
              }) }} -->

              {% if data['gp-multi'] == "gp-multi" %}
              <form action="gp-practices" method="post" autocomplete="off">
              <input type="hidden" name="gp-prac" id="gp-prac" value="gp-prac" />
              {{ button({
              "text": "Add another practice"
              }) }}
              </form>
              {% else %}
              {% endif %}

              <p><a href="/gp/gp-profile-manager-manage">Return to your profiles</a></p>


              <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>For service support, <strong>email <a href="">ssd.nationalservicedesk@nhs.net</a></strong> or <br><strong>call 03003035035</strong>. Support is available 24 hours a day, 7 days a week.</p>
              </div>



        </div>
      </div>

    <!-- End of content -->

  </div>
</div>

{% endblock %}

{% block pageScripts %}


{% endblock %}
