{% extends 'layout-gp.html' %}

{% block pageTitle %}
Terms and conditions
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      text: "Go back",
      href: "javascript:history.go(-1)"
    }) }}


    <h1>Your privacy on Register with a GP Surgery <br>Self-Enrolment Service</h1>

  </div>
</div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>

          <p>Version ?, 30 Sept 2023</p>
          <!--Next review due: 10 Jan 2022-->

          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <!--<span class="nhsuk-contents-list__link"><b>Introduction</b></span>-->
              <a class="nhsuk-contents-list__link" href="#introduction">1. How we use your personal information</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#who-we-are">2. The 'GP Registration Self-Enrolment' service and who we are</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#what-we-collect">3. What information we collect about you</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#how-we-use-data">4. How we use your data</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#legal-data">5. Our legal basis and how long NHS Digital hold your data</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#data-stored">6. Where your data is stored</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#your-rights">7. Your rights</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#complaints">8. Complaints</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#changes">9. Changes to the privacy policy</a>
            </li>

          </ol>
        </nav>
      </section>

      <section>

        <div id="introduction">
          <h2>1. How we use your personal information </h2>
          <p>This privacy policy explains how we use your personal data when you use the ‘Self-Enrolment Service’.  This service allows you to onboard your practice to the ‘NHS Register with a GP Surgery’ service, so that you can offer your patients the ability to register with your GP surgery online. </p>
          <p>You should read this policy alongside the <a href="https://register.test2.gp-registration.nhs.uk/gpregistration/legal/terms">Terms of use</a> for this service.</p>
          <h4><strong>1.1</strong> In this privacy policy the following terms have the following meanings:</h4>
          <ul>
            <li>Controller: "The person or organisation (alone or with others) who decides what personal data to process and how it will be used".</li>
        </ul>
        </div>


        <div id="who-we-are">
          <h2 class="nhsuk-heading-l">2. The 'GP Registration Self-Enrolment' service and who we are</h2>
          <p>The 'GP Registration Self Enrollment' service allows you to onboard your practice to the ‘NHS Register with a GP Surgery’ service, so that you can offer your patients the ability to register at your surgery online.</p>
          <p>The organisations involved in providing the 'NHS Register with a GP Surgery' service and their roles are: </p>

          <h4>2.1. NHS England </h4>
          <p>NHS England leads the National Health Service (NHS) in England. It sets the priorities and direction of the NHS. A lot of the work NHS England does involves the commissioning of healthcare services in England.</p>
          <p><a href="https://www.england.nhs.uk/">Find out more on the NHS England webiste</a></p>
          <p>NHS England has a legal duty to provide GP registration services, under Schedule 3, Part 2, paragraph 17 of the National Health Service (General Medical Services Contracts) Regulations 2015.</p>
          <p>HS England has issued NHS Digital with a legal document called a ‘Direction’ under section 254 of the Health and Social Care Act 2012, which instructs NHS Digital to provide the 'NHS Register with a GP Surgery' service. You can read this Direction here.</p>

          <h4>2.2. NHS Digital</h4>
          <p>NHS Digital was set up by the Department of Health and Social Care in April 2013 and is an executive non-departmental public body that provides national information, data and IT systems for health and care services.</p>
          <p><a href="https://digital.nhs.uk/">Find out more on the NHS Digital website</a></p>
          <p>NHS Digital is a joint data controller with NHS England to provide the NHS Register with a GP Surgery service.</p>
        </div>

        <div id="what-we-collect">
          <h2>3. What information we collect about you</h2>

          <div class="nnhsuk-table-container">
            <table>
              <thead>
                <tr>
                  <th>Category of information</th>
                  <th>Data items </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Practice Mailbox (which may include contact information)</td>
                  <td>
                    <p>In order for you to register your GP Practice to offer the ‘NHS Register with a GP Surgery’ service to patients, we need to collect a contact email address (@nhs.net) from your surgery.  This is usually the shared mailbox for the practice.</p>
                </tr>
                <tr>
                  <td>Practice information</td>
                  <td>
                    <p>This includes:</p>
                    <ul>
                      <li>ODS code</li>
                      <li>Address</li>
                      <li>Contact email address</li>
                      <li>hone Number</li>
                    </ul>
                    <p>This information is collected from Service Search.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="how-we-use-data">
          <h2>4. How we use your data</h2>
          <p><strong>Practice Mailbox</strong></p>
          <p>We use this email address to:</p>
          <ul>
            <li>Send a verification code, to verify this email is correct</li>
            <li>Send you confirmation of your registration</li>
            <li>Send patient registrations, which includes confidential and sensitive patient data</li>
          </ul>
          <p><strong>Practice Information</strong></p>
          <p>We use this to configure your registration service and contact you in the event of any problems or if we need to collect feedback. We also ask you some questions about your practice, which are used to configure which questions your patients will see.</p>
        </div>


        <div id="legal-data">
          <h2>5. Our legal basis and how long NHS Digital hold your data</h2>

          <div class="nnhsuk-table-container">
            <table>
              <thead>
                <tr>
                  <th>Category of information</th>
                  <th>Legal basis for using this data </th>
                  <th>Retention period</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Practice shared mailbox email address (which may include contact information)</td>
                  <td><p>Legal obligation – UK GDPR Article 6 (1)(c) to comply with the Register with a GP Surgery Directions 2022</p></td>
                  <td><p>We keep a copy of your contact information in case that we need to contact you in event of an incident, or to contact you for feedback or to inform you of changes to the service. We keep and use this data for as long as you use the service. If you opt out of the service, we will delete the data after maximum 1 month.</p></td>
                </tr>

                <tr>
                  <td>Practice information</td>
                  <td><p>Legal obligation – UK GDPR Article 6 (1)(c) to comply with the Register with a GP Surgery Directions 2022</p></td>
                  <td><p>We keep and use this data for as long as you use the service. If you opt out of the service, we will delete the data after maximum 1 month.</p></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>


        <div id="data-stored">
          <h2>6. Where your data is stored</h2>
          <p>We only store and process your personal data within the UK.</p>
        </div>

        <div id="your-rights">
          <h2>7. Your rights</h2>
          <p>Data protection law provides you with a number of rights. You can exercise your rights by contacting NHS Digital’s Data Protection Officer at <a href="">enquiries@nhsdigital.nhs.uk</a>.</p>
          <ul>
            <li>Right to be informed – this privacy policy explains how we use your personal data to provide this service.</li>
            <li>Right of access – to get a copy of your data submitted to this service, you can request this by completing a <a href="">Subject Access Request</a>(SAR).</li>
            <li>Right to rectification – you have the right to ask for incorrect data we hold about you to be corrected </li>
            <li>Right to restrict processing – you have the right to ask us to limit the way we use your data if you think the data in certain circumstances </li>
          </ul>
        </div>

        <div id="complaints">
          <h2>8. Complaints</h2>
          <p>You can contact our Data Protection Officer to make a complaint:</p>
          <p><strong>By email</strong><br><a href="">enquiries@nhsdigital.nhs.uk </a></p>
          <p><strong>By Post</strong><br>Data Protection Officer
                    <br>7 and 8 Wellington Place
                    <br>Leeds
                    <br>West Yorkshire
                    <br>LS1 4AP </p>
          <p>We ask that you try to resolve any issues with us first, although you have a right to lodge a complaint with the Information Commissioner's Office (ICO) at any time.  The ICO is the UK regulator for data protection and upholds information rights.</p>
          <p><a href="">Contact the ICO</a></p>

        </div>

        <div id="changes">
          <h2>9. Changes to the privacy policy</h2>
          <p>We may make changes to this notice.  If we do, the version and date on this page will also change.  Any changes to this notice will apply immediately from the date of any change.</p>
        </div>


      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 30 Sept 2022<br>
          <!--Next review due: 10 Jan 2022-->
        </p>
      </div>

    </div>





  </div>
</article>

</div>

{% endblock %}
