<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page heading
-->
{% set heading = 'Patient access' %}

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
-->
{% set pageName = heading + " - NHS" %}

<!-- For adding a phase banner, breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{# {% include '../includes/phase-banner.html' %} #}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
  })
}}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ heading }}</h1>

      <p>
        Turning 'Find a GP' on or off will take effect immediately.
      </p>

      <form action="gp-patient-access-post" method="post" autocomplete="off">

        {{ radios({
          "idPrefix": "access",
          "name": "access",
          "items": [
            {
              "value": "Unique url only",
              "text": "Turn off Find a GP",
              "hint": {
                "text": "Your online registration service will not be visible on Find a GP"
              },
              "checked": data['access'] == "Unique url only"
            },
            {
              "value": "Off",
              "text": "Turn off Find a GP and unique URL",
              "hint": {
                "text": "Remember to remove the url from your website"
              },
              "checked": data['access'] == "Off"
            },
            {
              "divider": "or"
            },
            {
              "value": "On",
              "text": "Turn on Find a GP and unique URL",
              "checked": data['access'] == "On"
            }
          ]
        }) }}

        {{ details({
          "text": "Why are we asking this?",
          "HTML": "<p>If your surgery offers any additional patient services, such as a language interpretation service, a dispensing service or specialist clinics, please select the services that your practice offers.</p>"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}