<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'confirmation' %}
{% set heading = 'Registration complete for your practice' %}
{% set pageName = 'Registration completed - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-panel nhsuk-panel--confirmation">
      <h1 class="nhsuk-panel__heading">
        Registration complete for your practice
      </h1>
      <p class="nhsuk-panel__body">
        Your surgery can now offer online registration for patients.
      </p>
    </div>

    <p>You need to use your practice's unique URL to link the GP Registration Service to your website.</p>
    <p><strong>Your practice's service link:</strong> <a href="#">your-practice-url.com/practice</a></p>
    <p>Once the link is on your website patients will be able to apply to register with your surgery using the online GP Registration Service.</p>

    <h2>More information about using the service</h2>

    <p>Use your practice's unique URL to link to the Register with a GP surgery service.</p>

    <p>A <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service" target="_blank" rel="noopener noreferrer">resource hub (opens in new tab)</a> has been made available which explains how you can:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>promote the service in your surgery</li>
      <li>get support while using the service</li>
    </ul>

    <p>Find out more about <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service" target="_blank" rel="noopener noreferrer">Register with a GP surgery service (opens in new tab)</a>.</p>

    {{ button({
        "text": "Continue"
    }) }}

    <p><a href="/emails/gp-onboard-confirmation" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Link to confirmation email</a></p>

  </div>
</div>

{% endblock %}