<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<form action="gp-manage" method="post" autocomplete="off">

  <div class="nhsuk-form-group">



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          Registration complete for (Practice name)
        </h1>

      </div>
    </div>
  </div>



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h3>Next steps</h3>

        <p>Use your practice's unique URL to link to the Register with a GP surgery service.</p>

        <p><strong>Your practices service link:</strong> <a href="#">your-practice-url.com/practice</a></p>

        <p>Find out more about <a href="">Register with a GP surgery service</a>.</p>

        {{ button({
            "text": "Continue"
        }) }}

      </div>
    </div>

    <br>
    <a href="/emails/gp-onboard-confirmation" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Link to confirmation email</a>




<!-- End of content -->


{% endblock %}
