<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        NHS shared mailbox
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>
        A verification code will be sent to your NHS shared mailbox. This is also where patient registration details will be sent.
      </p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>For reasons of security and data protection we cannot accept a personal email account, including a personal NHS account.</p>
      </div>

      <div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example">
    Enter the details of your NHS shared mailbox
    <div class="nhsuk-hint" id="contact-hint">
      This will end with 'nhs.net'.
    </div>
  </label>
  <input class="nhsuk-input" id="example" name="example" type="text">
</div>
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      I do not have access to a NHS shared mailbox
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <p>Find out more about registering for this service at our <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service#resource-hub">Resource Hub</a>)</p>

  </div>
</details>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>





      <!-- End of content -->

    </div>

  </div>
{% endblock %}
