<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '3' %}
{% set heading = 'Are you sure this is an NHS shared mailbox?' %}
{% set pageName = 'Do you have a contact in case of emergency? - Register with a GP surgery - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="" method="post" autocomplete="off">

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: false
              }
            }) %}

            <div class="nhsuk-hint" id="contact-hint">
              <p>Your NHS shared mailbox is <strong>{{ data['nhs-shared-email'] }}</strong></p>
            </div>

            {{ radios({
  "idPrefix": "email-confirm",
  "name": "email-confirm",
  "items": [
    {
      "value": "Yes~/gp/gp-verification-code",
      "text": "Yes"
    },
    {
      "value": "No~/gp/gp-shared-mailbox",
      "text": "No"
    }
  ]
}) }}

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>

        </div>
      </div>

{% endblock %}