<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          GP Registration Service
        </h1>

      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <p>The GP Registration Service provides GP surgeries with the information they need to support them when registering new patients.</p>

        <p>This information includes:</p>

        <ul>
          <li>the details you need to register a patient</li>
          <li>if the person registering has been matched to a record in Personal Demographics Service (PDS)</li>
          <li>if they've used an NHS login when registering</li>
          <li>important information about potentially vulnerable patients</li>
        </ul>

        <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

        {% if data['gp-multi'] == "gp-multi" %}
        <p><a href="gp-practices" class="nhsuk-button nhsuk-button--green">Start now</a></p>
        {% else %}
        <p><a href="gp-shared-mailbox" class="nhsuk-button nhsuk-button--green">Start now</a></p>
        {% endif %}

      </div>
    </div>
  </div>
</section>





<!-- End of content -->

</div>
</div>
{% endblock %}
