
{% extends 'layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Confirm service
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      text: "Go back",
      href: "javascript:history.go(-1)"
    }) }}

    <form action="" method="post" autocomplete="off">

      <h1 class="nhsuk-heading-l">
      Completing this registration process
      </h1>

      <p>You need to complete this registration process if you want to offer the Register with a GP Surgery Online service to your patients.</p>

      <h3>What you need to do</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>answer all the questions in this registration process</li>
        <li>register multiple practices individually </li>
      </ul>


      <h3>What we will do</h3>
      <p>Once you have completed this registration process we will:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>create a unique registration url for your surgery webstie</li>
        <li>update <a href="https://www.nhs.uk/service-search/find-a-gp" target="_blank" rel="noopener noreferrer">Find a gp (opens in new tab)</a> with your unique registration link</li>
        <li>apply your catchment area to the service</li>
      </ul>

      <h3>More information about using the service</h3>
      <p>A <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/find-out-more-about-the-service-and-its-benefits" target="_blank" rel="noopener noreferrer">resource hub (opens in new tab)</a> has been made available which explains how you can:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>promote the service in your surgery</li>
        <li>get support while using the service</li>
      </ul>

      {% if data['gp-multi'] == "gp-multi" %}

      {{ radios({
          "idPrefix": "use-gp-reg",
          "name": "use-gp-reg",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": "Would you like to continue with the registration?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "hint": {
           "text": "Once you have completed this registration your surgery will be able to start offering patients the option to use Register with a GP Service Online."
          },
          "items": [
            {
              "value": "Yes~/gp/gp-practices",
              "text": "Yes"
            },
            {
              "value": "No~/gp/profile-manager",
              "text": "No"
            }
          ]
      }) }}


      {% else %}

      {{ radios({
          "idPrefix": "use-gp-reg",
          "name": "use-gp-reg",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": "Would you like to continue with the registration?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "hint": {
           "text": "Once you have completed this registration your surgery will be able to start offering patients the option to use Register with a GP Service Online."
          },
          "items": [
            {
              "value": "Yes~/gp/gp-shared-mailbox",
              "text": "Yes"
            },
            {
              "value": "No~/gp/profile-manager",
              "text": "No"
            }
          ]
      }) }}

      {% endif %}

      {{ button({
        "text": "Continue"
      }) }}




  </form>
  </div>
</div>


{% endblock %}
