<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          GP Registration Service
        </h1>

      </div>
    </div>
  </div>
</section>

<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <p>The GP registration service enables you to immediately start offering new patients the ability to register with your practice online through the new NHS service, 'Register with a GP Surgery'.</p>

        <h3>What happens next</h3>

        <ul>
          <li>select the surgery you want to sign up for the service</li>
          <li>make sure you have access to a nhs.net shared mailbox, this is where patient registration details will be sent</li>
          <li>select any additional services already provided by your surgery so that they can be offered to the patient during their registration process</li>
        </ul>

        <p>Once you have signed up, you will receive a unique url web address to put on your surgery's website.</p>

        <p>For more information about the service, visit the <a href="#">Resource hub</a>.</p>

        <!-- <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p> -->

        {% if data['gp-multi'] == "gp-multi" %}
        <p><a href="gp-practices" class="nhsuk-button nhsuk-button--green">Start now</a></p>
        {% else %}
        <p><a href="gp-shared-mailbox" class="nhsuk-button nhsuk-button--green">Start now</a></p>
        {% endif %}



        <p><a href="/gp/gp-profile-manager">Return to your profiles</a></p>

      </div>
    </div>
  </div>
</section>





<!-- End of content -->

</div>
</div>
{% endblock %}
