<!-- Set any variables here -->
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}
{% set heading = 'Manage patient registrations' %}
{% set pageName = 'Manage patient registrations - GP registration service - NHS' %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'gp-registration/_layout.html' %}

<!-- In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb, phase banner or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Go back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="#" method="post" autocomplete="off" id="mpr-form">

          {% call fieldset({
              legend: {
                "text": heading,
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": false
              }
            }) %}

          <p class="nhsuk-body">Manage patient registrations is a new feature that lets you:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>view incoming patient registrations</li>
            <li>review the information the patient gave in the online form</li>
            <li>approve or reject patients</li>
            <li>view details of patients you approved or rejected in the last 90 days</li>
          </ul>
          <p class="nhsuk-body">If you choose to turn on Manage patient registrations, you will also get access to  auto registration.</p>

          <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">Auto registration</h2>
          <p class="nhsuk-body">Auto registration matches patients to their NHS record and creates a record for you in your clinical systems. It can help you save time and effort during the registration process. This is because you will not have to manually enter any information.</p>

          {% from "details/macro.njk" import details %}

          {% call details({
            summaryText: "View patient criteria for auto registration"
          }) %}
            <p>These patients are:</p>
            <ul>
              <li>aged 18 or older</li>
              <li>in your practice catchment area</li>
              <li>using NHS login to apply</li>
              <li>transferring from another practice in England</li>
            </ul>
            <p>They will not have a Special Allocation Scheme (SAS) marker, 1-day, or 8-day removal on their record.</p>
          {% endcall %}

          <p class="nhsuk-body">It can help you save time and effort during the registration process. This is because you will not have to manually enter any information.</p>
          <p class="nhsuk-body">You cannot turn off auto registration without turning off Manage patient registrations.</p>

          {% from "radios/macro.njk" import radios %}

          {{ radios({
            idPrefix: "mpr",
            name: "mpr",
            classes: "nhsuk-radios--inline",
            fieldset: {
              legend: {
                text: "Do you want to turn on Manage patient registrations?",
                size: "s",
                isPageHeading: false
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


          {% endcall %}

          {{ button({
              "text": "Continue"
            }) }}

        </form>

      </div>
    </div>

    <script>
      (function() {
        var form = document.getElementById('mpr-form');
        var radios = document.querySelectorAll('input[name="mpr"]');

        function updateAction() {
          var selected = document.querySelector('input[name="mpr"]:checked');
          if (selected) {
            form.setAttribute('action', selected.value === 'yes' ? 'gp-branch-mpr-active' : 'gp-branch-mpr-paused');
          }
        }

        radios.forEach(function(radio) {
          radio.addEventListener('change', updateAction);
        });

        // Set initial action based on current selection
        updateAction();
      })();
    </script>

      </div>
    </div>

{% endblock %}