{% extends 'layout.html' %}

{% block customStyles %}

<STYLE type="text/css">
    .nhsuk-summary-list__key {
        width: 50%;
    }
</STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="pseudo-bg-gp"></div>
<div class="gpemail-metadata">
  <p><strong>From: </strong>Register with a GP Surgery</p>
  <p><strong>Subject: </strong>Auto accepted patient: [PATIENT SURNAME] [PATIENT FIRST NAME], NHS number: [NHS number]</p>
</div>

<div class="pseudo-gpemail-template">

  <p>Dear <strong>Ossett Surgery</strong>,</p>
  <div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important: </span>
        Patient registered
      </span>
    </h3>
    <p>The details needed to register this patient have been verified and a record has been created in your system.</p>
    <p>A copy of this patient's registration information has been attached to their record.</p>
  </div>


  <div class="nhsuk-inset-text nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
    <p class="nhsuk-u-margin-bottom-0">Search for this patient's record using their:</p>
    <p class="nhsuk-u-margin-bottom-0">Name</p>
    <p class="nhsuk-heading-l nhsuk-u-padding-top-0">Sam Smith</p>
    <p class="nhsuk-u-margin-bottom-0">NHS number</p>
    <p class="nhsuk-heading-l nhsuk-u-padding-top-0">123 456 7890</p>
  </div>

  <p>If you cannot find this patient's record you can email us at GPregistrations@nhs.net</p>


{% endblock %}