
{% extends 'layout.html' %}

{% block customStyles %}

      <STYLE type="text/css">
            .nhsuk-summary-list__key { 
              width:50%;
            }
            font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
      </STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

   <div class="pseudo-bg-gp"></div>
   <div class="gpemail-metadata">
     <p><strong>From: </strong>Register with a GP Surgery</p>
     <p><strong>Subject: </strong>[PATIENT SURNAME] [PATIENT FIRST NAME], NHS number: [NHS number]</p>
   </div>
   <div class="pseudo-gpemail-template">
     
   <p>Dear [SURGERY NAME].
   <br>
   <br>You have a new registration request. Personal circumstances mean that not every patient is given the same set of questions. As such, the information gathered will vary between patients. However, you should be able to register the patient using the details provided in this email. </p>
  
  <h3><strong>Registration details</strong></h3>
   <p><strong>Registration reference number: 1234-0000785
   <br>Submitted: Thursday 19 May 2022 at 2:31pm</strong></p>
  
   <ul class="nhsuk-list nhsuk-list--bullet">
     <li>The patient did not use NHS login</li>
     <li>PDS search did not find a matching record</li>
     <li>Registering type: First acceptance registration</li>
   </ul>
     
          
  <div class="nhsuk-do-dont-list">
  <h2 class="nhsuk-do-dont-list__label">IMPORTANT INFORMATION</h2>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>
      Patient is a young carer.
    </li>
    <li>
      Patient has a social worker.
    </li>
    <li>
      Patient vaccinations are not up to date.
    </li>
  </ul>
</div>

<h3><strong>Patient details</strong></h3>

<dl class="nhsuk-summary-list">



         <div class="nhsuk-summary-list__row">
           <dt class="nhsuk-summary-list__key">
              NHS number found in PDS
           </dt>
           <dd class="nhsuk-summary-list__value">
             {{ data['nhs-number'] }}
           </dd>
         </div>

         <div class="nhsuk-summary-list__row">
           <dt class="nhsuk-summary-list__key">
              NHS number given by patient
           </dt>
           <dd class="nhsuk-summary-list__value">
             {{ data['nhs-number'] }}
           </dd>
         </div>

<div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Title
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['name-title'] }}
   </dd>
 </div>

<div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
    First name
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['name-first-name'] }}
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Middle name
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['name-middle-name'] }}
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
    Last name
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['name-last-name'] }}
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
    Previous last name
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data[''] }}
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Date of birth
   </dt>
   <dd class="nhsuk-summary-list__value">
     <span id="dob-day">{{ data['dob-day'] }}</span>
     <span id="dob-month">{{ data['dob-month'] }}</span>
     <span id="dob-year">{{ data['dob-year'] }}</span>
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  First time registering with a UK GP surgery
                </dt>
                <dd class="nhsuk-summary-list__value">
                 
                </dd>
              </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Place of birth
   </dt>
   <dd class="nhsuk-summary-list__value">
     <span id="dob-day">{{ data['dob-day'] }}</span>
     <span id="dob-month">{{ data['dob-month'] }}</span>
     <span id="dob-year">{{ data['dob-year'] }}</span>
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Postcode when baby born
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data[''] }}
   </dd>
 </div>

      
       
      
  




<div class="nhsuk-summary-list__row">
    
                <dt class="nhsuk-summary-list__key">
                  Post code used when last registered with a UK GP surgery
                </dt>
                <dd class="nhsuk-summary-list__value">
                 
                </dd>
              </div>

             


              <br>

<h3><strong>Previous UK address</strong></h3>



              <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Building and street              
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Town or city                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <br>

<h3><strong>Current GP surgery</strong></h3>

<div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name of surgery              
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>

<div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Building and street              
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Town or city                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>
                  
<br>

<h3><strong>Personal details</strong></h3> 

<div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Gender
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['gender'] }}
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Gender same as birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['gender'] }}
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Ethnic group
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['ethnicity-detail-white'] }}
              {{ data['ethWhite'] }}
              {{ data['ethnicity-detail-asian'] }}
              {{ data['ethAsian'] }}
              {{ data['ethnicity-detail-black'] }}
              {{ data['ethBlack'] }}
              {{ data['ethnicity-detail-mixed'] }}
              {{ data['ethMixed'] }}
              {{ data['ethnicity-detail-another'] }}
              {{ data['ethOther'] }}
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Interpreter needed
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['interpreter'] }}
            </dd>
          </div>


      
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Language
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['language'] }}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Additional care provider
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['health-contact'] }}
                  </dd>
                </div>

                <br>

<h3><strong>Education</strong></h3> 

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
             Attends
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['schooling'] }}
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Name of school
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['school-name'] }} 
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-school'] }} 
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-school'] }} 
                </dd>
              </div>

             


              <br>

              <h3><strong>Home address</strong></h3>
              
              <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Building and street              
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Town or city                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <br>
          
              <h3><strong>Contact preferences</strong></h3>
              
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Contact preference                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-pref'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mobile telephone                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-mobile'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Home telephone                 
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-home'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['contact-email'] }}
                </dd>
              </div>

              <br>
          
          <h3><strong>Emergency contact</strong></h3>
          
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Full Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-full-name'] }}
              </dd></a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Relationship
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-relationship'] }}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Next of Kin
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data[''] }}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Contact telephone number
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data[''] }}
              </dd>
            </div>

            <br>
          
          <h3><strong>Armed Forces</strong></h3>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Connection to armed forces or registered with defence medical services
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['is-armed-forces-member'] }}
              </dd>
            </div>

            <br>
          
          <h3><strong>Nominated pharmacy</strong></h3>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name of pharmacy           
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>
          
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Building and street              
                </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gp-postcode-prev'] }}
              </dd>
            </div>

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Town or city                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Postcode                
                  </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gp-postcode-prev'] }}
                </dd>
              </div>

              <br>
          
          <h3><strong>Recently moved to the UK</strong></h3>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Recently moved             
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Country of birth           
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
              Place of birth             
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Date entered the UK             
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Moved from EU, EEA or Switzerland           
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
               Health insurance documents           
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>
 <br>
            <p><strong>European health insurance card details</strong></p>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Full name         
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                code         
                </dt>
              <dd class="nhsuk-summary-list__value">
                
              </dd>
            </div>

              <br>
          
          <h3><strong>Patient health</strong></h3>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinations
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['are-you-immunised'] }}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinations in the UK
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['are-you-immunised-uk'] }}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                   Existing medical conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['has-existing-conditions'] }}
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Medical conditions type
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {% if data['existing-conditions'] %}
                      {{ data['existing-conditions'] }}
                    {% endif %}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Medical conditions details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['existing-medical-condition-details'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Allergies
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-allergies'] }}
              </dd>
            </div>


                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Allergy details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['allergies-details'] }}
                  </dd>
                </div>



              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mental health conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['has-mental-health-conditions'] }}
                </dd>
              </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Mental health details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['mental-health-details'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Disabilities
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['has-disabilities'] }}
                </dd>
              </div>

            
              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Disability details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['disabilities-details'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient has a carer
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['need-carer'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                     First name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['carer-first-name'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Last name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['carer-last-name'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Relationship
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['carer-relationship'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Contact telephone number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['carer-telephone'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Patient is a carer
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['are-carer'] }}
                  </dd>
                </div>
              
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Type of carer
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['carer-type'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Prescription medication
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['takes-prescription-meds'] }}
                </dd>
              </div>

              
              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Prescription details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['medication-details'] }}
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Repeat prescriptions
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {{ data['repeat-medication'] }}
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Drinks alcohol
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['alcohol-consumption'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Number of units
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['alcohol-consumption'] }}
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Frequency
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['alcohol-consumption'] }}
                  </dd>
                </div>


                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Smokes
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['smokes'] }}
                  </dd>
                </div>

              </dl>




            </dl>

          
          <p>NHS<br />
          <span style="color:#888888;">Register with a GP Surgery</span></p>
          </div>

        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
