
{% extends 'layout.html' %}

{% block customStyles %}

      <STYLE type="text/css">
            font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
      </STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

          <div class="pseudo-bg"></div>
          <div class="email-metadata">
            <p><strong>From: </strong>Sign up to Register with a GP surgery</p>
            <p><strong>Subject: </strong>Practice registration confirmation</p>
          </div>
          <div class="pseudo-email-template">
          <h3><strong>Registration completed for (Practice name)</strong></h3>

          <p>Your surgery can now offer online registration for patients.</p>
          <p>You need to use your practice's unique URL to link the GP Registration Service to your website.</p>

          <p><strong>Your unique URL:</strong> <a href="#">your-practice-url.com/practice</a></p>

          <p>Once the link is on your website patients will be able to apply to register with your surgery using the online GP Registration Service.</p>

          <p><strong>More information about using the service</strong></p>

          <p>A <a href="https://digital.nhs.uk/services/register-with-a-gp-surgery-service/get-help-using-the-service" target="_blank" rel="noopener noreferrer">resource hub</a> has been made available which explains how you can:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>promote the service in your surgery</li>
              <li>get support while using the service </li>
            </ul>

          <p>Find out more about <a href="">Register with a GP surgery</a></p>

          <p>NHS<br />
          <span style="color:#888888;">Register with a GP Surgery</span></p>
          </div>

        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
