
{% extends 'layout.html' %}

{% block customStyles %}

      <STYLE type="text/css">
            font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
      </STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

          <div class="pseudo-bg"></div>
          <div class="email-metadata">
            <p><strong>From: </strong>Register with a GP Surgery</p>
            <p><strong>Subject: </strong>Practice registration submitted</p>
          </div>
          <div class="pseudo-email-template">
          <h3><strong>Your application to register with a ((GP Practice)) has been submitted</strong></h3>

          <p><strong>Next steps</strong></p>
          <p>It can take up to 2 weeks for your application to be processed and the practice will contact you to either:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>confirm your registration, or</li>
            <li>ask you for more information</li>
          </ul>

          <p>You do not need to do anything else and your health records will be transferred to your new practice.</p>
          <p><strong>Contact</strong></p>
          <p>If you need an appointment urgently you can get in touch with the practice:</p>


          <p>Abracadabra Medical Practice <br>20 Practice Road <br>Chester <br>Phone: 0123 4567890</p>
          <p>You can find other NHS services that can help you at:</p>
            <p><br/><a href="https://www.nhs.uk/nhs-services/services-near-you/">https://www.nhs.uk/nhs-services/services-near-you/</a></p>

          <p>NHS<br />
          <span style="color:#888888;">Register with a GP Surgery</span></p>
          </div>

        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
