
{% extends 'layout.html' %}

{% block customStyles %}

      <STYLE type="text/css">
            font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
      </STYLE>

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

          <div class="pseudo-bg"></div>
          <div class="email-metadata">
            <p><strong>From: </strong>Register with a GP Surgery</p>
            <p><strong>Subject: </strong>GP surgery registration application submitted</p>
          </div>
          <div class="pseudo-email-template">
          <p>Your registration application has been sent to ((Name of GP surgery))</p>
          <p>Registration is usually completed within 5 days.</p>

          <p><strong>Next steps</strong></p>
          <p>The practice will contact you to either:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>confirm your registration, or</li>
            <li>ask you for more information</li>
          </ul>

          <p>You do not need to do anything else and your health records will be transferred to your new practice.</p>
          <p><strong>Contact</strong></p>
          <p><strong>Do not reply to this email as it is an automated message.</strong></p>
          <p>If you need to speak to someone about your health or this registration application you should contact:</p>


          <p>((Name of practice)) <br>((Address line 1)) <br>((Town or city)) <br>((Postcode)) <br>Phone: 0123 4567890</p>
          <p>Find other NHS services that can help you at:</p>
            <p><br/><a href="https://www.nhs.uk/nhs-services/services-near-you/">https://www.nhs.uk/nhs-services/services-near-you/</a></p>

          <p>NHS<br />
          <span style="color:#888888;">Register with a GP Surgery</span></p>
          </div>

        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>
{% endblock %}
