<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">
              Prototype work
              <span class="nhsuk-u-visually-hidden"></span>
            </span>
            Register with a GP Surgery
          </h1>

          <!--<ul class="nhsuk-list nhsuk-body-s">
            <li>Last updated: 01 June 2023</li>
            <li>Prototype version: v3.0.4</li>
          </ul>-->

          <p>Use this service to register with GP surgeries in England.</p>

          

          <h2 class="nhsuk-heading-l">Latest live flow</h2>
          <!--<p>This sprint will be focusing on:</p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>New question set grouping and NHS login provisioning API</li>
          </ul>-->

          {{ button({
            "text": "Continue",
                "href": "/live/start"
        }) }}

          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "admin/listings"
          }) }}


          <p><a href="/sprint-21/start">Sprint 21 (22 Jan 26 - 4 Feb 26)</a></p>

          <!--{{ button({
            "text": "Preload options",
                "href": "admin/preload"
        }) }}-->

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

           <h2 class="nhsuk-heading-l">Change your address journey</h2>
          <p>NHS App improvement suggestions</p>

          {{ button({
            "text": "Start journey",
                "href": "/address-update/start"
          }) }}

          
          

          <h2 class="nhsuk-heading-s">Previous iterations</h2>
          <p><a href="/address-update/previous-iterations/v2/start">Version 2</a></p>
          <p><a href="/address-update/previous-iterations/v1/start">Version 1</a></p>



          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">


          <h2 class="nhsuk-heading-l">GP self onboarding portal</h2>
          <p>GP admin portal for self onboarding</p>

          {{ button({
            "text": "Continue",
                "href": "/gp/gp-start"
          }) }}

          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "admin/listings-gp"
          }) }}


        <br>

        {{ button({
        "text": "Journey flow for NaP",
        "href": "/gp/nap-email"
        }) }}


          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 class="nhsuk-heading-l">Manage registrations portal</h2>

          {{ button({
            "text": "Continue",
                "href": "/reg-portal"
          }) }}


         
      </div>
      <div class="nhsuk-grid-column-one-third">

        <h2 class="nhs-heading-s">Dev mode</h2>
        <p><a href="/live/start?devMode=true">Run 'live' in devMode</a></p>
        <p><a href="/design/start?devMode=true">Run 'design' in devMode</a></p>

        <h2 class="nhs-heading-s">Environments</h2>
        <p><a href="https://register.int.gp-registration.nhs.uk/1234/gpregistration/landing" target="_blank">Test environment</a></p>
        <p><a href="https://gp-registration.nhs.uk/M84015/gpregistration/landing" target="_blank">Prod environment</a></p>

        <h2 class="nhs-heading-s">Related prototypes</h2>
        <p><a href="https://patient-list-inflation-eebf515757e0.herokuapp.com/" target="_blank">PLI prototype</a></p>
    
      </div>
    </div>

{% endblock %}


{% block footer %}
{{ footer({
"links": [
{
"URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
"label": "Prototype kit version: " + version
},
{
"URL": "?devMode=true",
"label": "Turn on devMode"
},
{
"URL": "/examples/passing-data/clear-data",
"label": "Clear data"
}
]
})}}
{% endblock %}
