<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
      text: serviceName,
      href: "/"
    }
  }) }}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
hello
  {{ footer({
    meta: {
      items: [
        {
          href: "/legal/accessibilty-statement",
          text: "Accessibility statement"
        },
        {
          href: "/",
          text: "Privacy policy"
        },
        {
          href: "/",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
          text: "Cookies policy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/application.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
