<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

{% if data['manage'] === 'true' %}

  {{ header({
    "service": {
        "name": "Sign up to the Register with a GP surgery service",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% else %}

  {{ header({
    "service": {
      "name": data.presets[0].servicenameenroll,
      "href": "/"
    },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endif %}

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "gp-terms",
        "label": "Terms of use"
      },
      {
        "URL": "/",
        "label": "Cookies"
      },
      {
      "URL": "/",
      "label": "Accessibility"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}

{% if data['devMode'] === 'true' %}
  {% include "includes/devmode.html" %}
{% endif %}


  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
