{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Accessibility Statement - NHS Address Update feature
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Accessibility Statement</h1>
    <p>The Choose if data from your health records is shared for research and planning website is run by The NHS.</p>
    <p>We want everyone to be able to use this website.</p>

    <h2 class="nhsuk-heading-m">How accessible this website is</h2>
    <p>We're committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p>This site is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>
    <p>You should be able to:</p>
    <ul>
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>

    <h2 class="nhsuk-heading-m">Issue with Dragon NaturallySpeaking removing content from edit boxes</h2>
    <p>For some Dragon NaturallySpeaking users the tool may delete or remove the content you’ve dictated from input fields after you click continue. If this happens use keyboard commands to continue.</p>

    <h2 class="nhsuk-heading-m">What to do if you can't access parts of this website</h2>
    <p>We have <a href="">information about your choice in other languages and formats.</a></p>
    <p>You can <a href="">make your choice by phone or by post.</a></p>

    <h2 class="nhsuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>Contact us to tell us about any accessibility problems or to give us feedback.</p>

    <h3 class="nhsuk-heading-xs nhsuk-u-margin-0">By email</h3>
    <p><a href="">enquiries@nhsdigital.nhs.uk</a></p>

    <h3 class="nhsuk-heading-xs nhsuk-u-margin-0">By phone</h3>
    <p>0300 303 5678<br>
    Monday to Friday, 9am to 5pm excluding bank holidays</p>
    
    <h2 class="nhsuk-heading-m">By using the Next Generation Text service</h2>
    <p>If you are Deaf, have hearing loss or have difficulty speaking you can contact us using the Next Generation Text (NGT) service.</p>
    <p>To call us using the Next Generation Text service, dial 18001 followed by 0300 303 5678.</p>

    <h2 class="nhsuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations.</a></p>
    <p>If you're not happy with how we respond to your complaint, contact the <a href="">Equality Advisory and Support Service (EASS).</a></p>

    <h2 class="nhsuk-heading-m">How we tested this website</h2>
    <p>This website was last tested on 31 July 2023.</p>
    <p>The test was carried out by an NHS England developer.</p>
    <p>We tested:</p>
    <ul>
      <li><a href="">Our main website</a></li>
      <li><a href="">Our online service</a></li>
    </ul>

    <h2 class="nhsuk-heading-m">Last updated</h2>
    <p>This accessibility statement was prepared on 15 December 2021.</p>
    <p>This accessibility statement was last updated on 13 March 2023.</p>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}