{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Accessibility Statement - NHS Address Update feature
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Accessibility Statement</h1>
    <p>This accessibility statement applies to the Change your home address service.</p>
<p>We want as many people as possible to be able to use this website. This means you should be able to:</p>
<ul>
<li>change colours, contrast levels and fonts using browser functionality</li>
<li>zoom in up to 400 per cent without the text spilling off the screen</li>
<li>navigate most of the website using just a keyboard</li>
<li>navigate most of the website using speech recognition software</li>
<li>interact with most of the website using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>
<p>We also try to make the website text as simple as possible to understand.</p>
<p>If you have a disability, <a href="https://mcmw.abilitynet.org.uk/">search AbilityNet for "how to" guides</a> to make your device easier to use.</p>
<h2>How accessible this website is</h2>
<p>This website is fully compliant with the <a href="http://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) version 2.1</a> AA standard.</p>
<h2>Enforcement procedure</h2>
<p>If you contact us with a complaint and you are not happy with our response, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made/">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 on legislation.gov.uk</a> (the "accessibility regulations").</p>
<h2>Technical information about this website's accessibility</h2>
<p>We're committed to making this website accessible in accordance with the accessibility regulations.</p>

<h3>Compliance status</h3>

<p>This website is fully compliant with the <a href="http://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) version 2.1</a> AA standard.</p>

<h2>Content that's not within the scope of the accessibility regulations</h2>

<p>Areas of the service which fail to meet the WCAG 2.1 AAA requirements, but are not within the scope of the accessibility regulations:</p>

<ul>
  <li>Links are present that do not indicate that they will open in a new browser window.</li>
  <li>Some text content difficult to read due to the colour contrast of foreground and background colours.</li>
  <li>Acronyms are present that are not expanded in their first instance.</li>
  <li>Multiple generic links are present that are not descriptive out of context.</li>
</ul>

<h2>What we're doing to improve accessibility</h2>

<p>We have published tools and guidance on accessibility in the <a href="https://service-manual.nhs.uk/">NHS digital service manual</a> based on extensive testing. The service manual helps our teams build products and services to meet the same accessibility standards.</p>

<p>At NHS England, creating an accessible service is a team effort. We want our teams to make accessible services by:</p>

<ul>
  <li>considering accessibility at the start of their project, and throughout</li>
  <li>making accessibility the whole team's responsibility</li>
  <li>researching with disabled users</li>
  <li>using a library of accessible components and patterns</li>
  <li>carrying out regular accessibility audits and testing</li>
  <li>designing and building to level AA of WCAG 2.1 – which is NHS Digital policy</li>
</ul>

<p>As part of this commitment, we have set up a cross-functional accessibility working group to make sure that accessibility remains at the core of everything we do.</p>

<p>We are making sure that accessibility issues highlighted in this statement are being prioritised and fixed.</p>

<h3>Preparation of this accessibility statement</h3>

<p>This website was tested in April 2025 by Dig Inclusion who performed an expert evaluation of the service against all level A and AA success criteria of WCAG 2.1.</p>

<p>Content was selected to make sure a good representation of different pages, templates and components were tested as well as key content and user journeys.</p>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}