{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Your home address doesn't seem to be in England" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="" method="post" autocomplete="off">

      {% include 'live/includes/step.html' %}

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ hint({
        "html": '<p>This service can only accept addresses in England. If you have moved outside of England you should...</p>',
        "classes": "nhsuk-u-margin-bottom-4"
      }) }}

      {{ radios({
          "idPrefix": "address-not-england",
          "name": "address-not-england",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": "What do you want to do?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            }
          },
          "items": [
          {
            "value": "continue~/live/start",
            "text": "Enter my address that is not in England",
            "checked": checked("address-not-england", "continue")
          },
          {
              "value": "cancel~/live/carer-details",
              "text": "Cancel my address update",
              "checked": checked("address-not-england", "cancel")
            }
          ]
       }) }}

      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
