{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "We can't find your address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="" method="post" autocomplete="off">

      {% include 'live/includes/step.html' %}

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>You want to change your address to:</p>
      <p>{% if data['select-new-address'] %}
        {{ data['select-new-address'] }} Town Street,<br />
            London,<br />
            SW1A 1AA
        {% elseif data['new-address-line-1'] %}
          {{ data['new-address-line-1'] }}<br />
          {{ data['new-address-line-2'] }}<br />
          {{ data['new-address-town'] }}<br />
          {{ data['new-address-postcode'] }}<br/>
          {{ data['new-address-country'] }}
        {% else %}
          {{ data['abroad-address'] }}
        {% endif %}
    </p>

      <p>We couldn’t find your details in the postal address records we use to verify an address.</p>
      <p>This could be because it’s a new build or has been recently converted into flats.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>Your address will be sent to your GP surgery who will check if it is in their catchment area. If it is not they will start the process to remove you from their patient list.</p>
      <p>If you know you are no longer in the catchment area for Lordship Lane surgery, you should register with a new GP.</p>
      <!--<p>It takes around 15 minutes to complete a registration.</p>-->

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you want to stay registered at Lordship Lane surgery
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Most GP surgeries will only accept patients that live within their catchment area.</p>
          <p>You should contact your GP surgery and check as it may affect your access to healthcare.</p>
      
        </div>
      </details>

      <p>By continuing you agree to share your new address with your GP surgery.</p>

      {{ radios({
          "idPrefix": "address-not-catchment",
          "name": "address-not-catchment",
          "classes": "nhsuk-radios",
          "fieldset": {
            "legend": {
              "text": "What do you want to do?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            }
          },
          "items": [
          {
            "value": "register~https://www.nhs.uk/service-search/find-a-gp/",
            "text": "Find my nearest GP",
            "checked": checked("address-not-catchment", "register")
          },
          {
            "value": "continue~success",
            "text": "Confirm new address and register with a new GP later",
            "checked": checked("address-not-catchment", "continue")
          },
          {
              "value": "cancel~cancel",
              "text": "Cancel update",
              "checked": checked("address-not-catchment", "cancel")
            }
          ]
       }) }}

      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
