{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You told us you now live in " + data['abroad-country'] + "" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="success-abroad" method="post" autocomplete="off">

      {% include 'live/includes/step.html' %}

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {% if data['noGP'] === 'false' %}
      <p>As you no longer live in the UK your GP surgery will begin the process of removing you from their patient list.</p>
      {% else %}
      <p>As you no longer live in the UK you are not eligible to register with a GP surgery or able to access to primary healthcare services.</p>
      {% endif %}
      
      {{ radios({
        "idPrefix": "apply-self",
        "name": "apply-self",
        "classes": "nhsuk-radios",
        "fieldset": {
          "legend": {
            "text": "Do you want to continue with this address change?",
            "classes": "nhsuk-fieldset__legend--m",
            "isPageHeading": false
          }
        },
        "items": [
        {
          "value": "Yes~success-abroad",
          "text": "Yes, continue with this change",
          "checked": checked("apply-self", "registerSelf")
        },
        {
            "value": "No~go-back",
            "text": "No",
            "checked": checked("apply-self", "continue")
          }
        ]
     }) }}

      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
