{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Home address updated" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
    <h1 class="nhsuk-fieldset__legend--l">Home address updated</h1>
    <p>Your NHS record has been updated with your new address, you don't need to do anything else.</p>

    <h2 class="nhsuk-heading-m">If you made a mistake</h2>
    <p>You can update your address again by going <a href="landing">back to the start</a>.</p>
    <p></p>

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
