{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Privacy notice - NHS Address Update feature
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Cookies policy</h1>
    <p>NHS England uses cookies to deliver the Change your home address service.</p>
   <h2>What are cookies?</h2>
   <p>Cookies are small files we put on your device (for example, your phone, tablet or laptop) when you visit a website.</p>
   <p>Cookies are widely used to make websites and apps work, or work more efficiently, as well as to provide services and functionalities for users.</p>
   <h2>How we use cookies</h2>
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label"> <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Important:
    </span> </h3>
  <p>If you're using a public computer, make sure you:</p>
  <ul>
    <li>log out of the NHS App online</li>
    <li>delete any health record documents you may have downloaded</li>
    <li>delete any cookies from the web browser</li>
  </ul>
</div>
<h3>Strictly necessary cookies we use</h3>
<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Name</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">Purpose</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">address-update-cookie-accept</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">Persistent cookie. This cookie is set once a visitor has agreed to, or rejected cookies. It is used to save their decision on whether they have accepted or rejected cookies.</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">365 days</td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">session_id</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">Used to support the core functionality of the service.</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">60 minutes</td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">aws-waf-token</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">Amazon Web Services persistent cookie. This cookie contains encrypted information about the way you interact with our service which we use to establish that you are a legitimate visitor and protect our service from attacks using fake users.</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">5 minutes</td>
    </tr>
  </tbody>
</table>
<h3>Optional analytics cookies we use</h3>
<p>We use software called Google Analytics to collect performance data about how you use the service so that we can make improvements. You can read more about how Google Analytics processes your personal data in the <a href="https://policies.google.com/privacy?hl=en-US">Google privacy policy</a>.</p>

<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Name</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">Purpose</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">Expires</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">_ga</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">This is set when you first log in. It lets us know your unique session ID each time you use.</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">2 years</td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">_ga_###</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">This is set when you first log in. It lets us know your unique session ID each time you use.</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">2 years</td>
    </tr>
  </tbody>
</table>
<h2>Your cookie choices</h2>
<p>The majority of devices and browsers will allow you to alter the settings used for cookies and disable and enable them as you require.</p>
<p>You can select “reject analytics cookies” if you do not want these optional cookies placed on your device while you are using the service.</p>
<p>You can also delete the cookies already on your device, and you can set your browser or device to prevent them being placed.</p>
<p>Please be aware that if you set your preferences to not allow all cookies, it could limit the functionality of the 'update address’ part of the service as it needs the strictly necessary ones to work.</p>
<h2>Changes to this cookie policy</h2>
<p>Our terms of use, privacy policy and cookies policy may change. We'll inform you and request your continued agreement if we make any significant changes to our privacy policy, cookies policy or terms of use.</p>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}