{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Give feedback on Change your home address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
<h1 class="nhsuk-heading-l">Give feedback on Change your home address</h1>
<p>Your feedback is anonymous and will be used to help us improve this form.</p>
<!--<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
<h2 class="nhsuk-heading-s">If you need medical help</h2>
<p>If you think it's an emergency:</p>
<ul>
<li>call 999</li>
<li><a href="https://www.nhs.uk/service-search/other-services/Accident-and-emergency-services/LocationSearch/428/">find your nearest A&E</a></li>
<li><a href="https://www.nhs.uk/mental-health/get-urgent-help-for-mental-health/">get urgent help for mental health</a></li>


</ul>

<p>If you do not think it's an emergency:</p>
<ul>
<li>go to <a href="https://111.nhs.uk/">111.nhs.uk or call 111</a></li>
<li><a href="https://www.nhs.uk/service-search">speak to a pharmacist, GP or dentist</a></li>
<li>search <a href="https://www.nhs.uk/conditions/">NHS website health A-Z for more advice about your </a></li>
</ul>

</div>-->

{% from 'radios/macro.njk' import radios %}

{{ radios({
  idPrefix: "example",
  name: "example",
  fieldset: {
    legend: {
      text: "How satisfied are you with the experience of updating your address?",
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Very satisfied",
      text: "Very satisfied"
    },
        {
      value: "Somewhat satisfied",
      text: "Somewhat satisfied"
    },
        {
      value: "Neither satisfied nor dissatisfied",
      text: "Neither satisfied nor dissatisfied"
    },
        {
      value: "Somewhat dissatisfied",
      text: "Somewhat dissatisfied"
    },
    {
      value: "Very dissatisfied",
      text: "Very dissatisfied"
    }
  ]
}) }}

{% from 'textarea/macro.njk' import textarea %}

{{ textarea({
  name: "example",
  id: "example",
  label: {
    text: "How could we improve? (optional)"
  },
  hint: {
    text: "Do not include any personal or financial information, such as your National Insurance number or credit card numbers."
  }
}) }}
{% from 'button/macro.njk' import button %}

{{ button({
  text: "Send feedback"
}) }}

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
