<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
GP Registration Prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">
              Prototype work
              <span class="nhsuk-u-visually-hidden"></span>
            </span>
            Change your address journey
          </h1>

          <!--<ul class="nhsuk-list nhsuk-body-s">
            <li>Last updated: 01 June 2023</li>
            <li>Prototype version: v3.0.4</li>
          </ul>-->

           <p>NHS App improvement suggestions.</p>

         
         
          
          {{ button({
            "text": "Go to prototype",
                "href": "/address-update/sprint-1/start"
          }) }}

          <!--
          {{ button({
            "text": "Page listings",
            "classes": "nhsuk-button--secondary",
                "href": "admin/listings"
          }) }}
        -->

          <!--{{ button({
            "text": "Preload options",
                "href": "admin/preload"
        }) }}-->

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible margin-top-minus-5">

          
           <h2 class="nhsuk-heading-m">PLI Sprint 2 (5 Feb 26 - 18 Feb 26)</h2>

          <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          PLI 2286<br>AUF - Updated AUF start page
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>New version with NHS App info</p>
          <ul>
            <li><a href="sprint-2/start-new">New option incorporating NHS App info</a></li>
            
          </ul>
          <p class="nhsuk-body-s"><a href="https://nhsd-jira.digital.nhs.uk/browse/PLI-2286" target="_blank">Link to Jira ticket</a></p>
        </div>
      </details>


          <h2 class="nhsuk-heading-m">PLI Sprint 1 (22 Jan 26 - 4 Feb 26)</h2>

          <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          PLI 2286<br>AUF - NHS app jump off page
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>NHS App page options:</p>
          <ul>
            <li><a href="sprint-1/nhs-app-start-page-new">Jump off page - new option</a></li>
            <li><a href="sprint-1/nhs-app-start-page-1">Jump off page - option 1</a></li>
            <li><a href="sprint-1/nhs-app-start-page-2">Jump off page - option 2</a></li>
            <li><a href="sprint-1/nhs-app-start-page-3">Jump off page - option 3</a></li>
            
          </ul>
          <p class="nhsuk-body-s"><a href="https://nhsd-jira.digital.nhs.uk/browse/PLI-2286" target="_blank">Link to Jira ticket</a></p>
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          PLI 2126<br>AUF - NHS app improvement suggestions
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Updated pages:</p>
          <ul>
            <li><a href="sprint-1/start">Changing your home address - latest</a></li>
            <li><a href="sprint-1/start-v1">Changing your home address - v1</a></li>
            <li><a href="sprint-1/start-alt">Changing your home address - alt</a></li>
            <li><a href="sprint-1/is-address-temp">Changing a temporary or correspondence address</a></li>
            <li><a href="sprint-1/confirm-address">Check your new address</a></li>
          </ul>
          <p class="nhsuk-body-s"><a href="https://nhsd-jira.digital.nhs.uk/browse/PLI-2126" target="_blank">Link to Jira ticket</a></p>
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          PLI 2125<br>AUF - Warning messages on address updated page
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Updated pages</p>
          <ul>
            <li><a href="sprint-1/success-out-of-catchment">Success - out of catchment</a></li>
            <li><a href="sprint-1/success-not-found">Success - not found</a></li>
            <li><a href="sprint-1/success-abroad">Success - abroad</a></li>
            <li><a href="sprint-1/success">Success</a></li>
          </ul>
          <p class="nhsuk-body-s"><a href="https://nhsd-jira.digital.nhs.uk/browse/PLI-2125" target="_blank">Link to Jira ticket</a></p>
        </div>
      </details>




          <h2 class="nhsuk-heading-s">Previous iterations</h2>
          <p><a href="/address-update/previous-iterations/v2/start">Version 2</a></p>
          <p><a href="/address-update/previous-iterations/v1/start">Version 1</a></p>



         
         
      </div>
      <div class="nhsuk-grid-column-one-third">

        <h2 class="nhsuk-heading-s">Dev mode</h2>
        <p><a href="/live/start?devMode=true">Run 'live' in devMode</a></p>
        <p><a href="/design/start?devMode=true">Run 'design' in devMode</a></p>

        <h2 class="nhsuk-heading-s">Environments</h2>
        <p><a href="https://gp-registration.nhs.uk/M84015/gpregistration/landing" target="_blank">Prod environment</a></p>
        <p><a href="https://register.int.gp-registration.nhs.uk/1234/gpregistration/landing" target="_blank">Int environment</a></p>
        

        <h2 class="nhsuk-heading-s">Related prototypes</h2>
        <p><a href="https://patient-list-inflation-eebf515757e0.herokuapp.com/" target="_blank">PLI prototype</a></p>
    
      </div>
    </div>

{% endblock %}


{% block footer %}
{{ footer({
"links": [
{
"URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
"label": "Prototype kit version: " + version
},
{
"URL": "?devMode=true",
"label": "Turn on devMode"
},
{
"URL": "/examples/passing-data/clear-data",
"label": "Clear data"
}
]
})}}
{% endblock %}
