{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = 'This service is not for temporary or correspondence addresses' %}

{% block pageTitle %}
{{ heading }} - {{ data.presets[0].servicename }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}
    
          {% call fieldset({
            legend: {
              text: heading,
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <p>Do not change your address using this service if it is a:</p>
          <ul>
            <li>Temporary address - you'll live there for less than 3 months</li>
            <li>Correspondence address - you only use the address for letters and post and do not normally live there</li>
          </ul>
    
          {{ radios({
              "idPrefix": "temp",
              "name": "temp",
              "classes": "nhsuk-radios",
              "fieldset": {
                "legend": {
                  "text": "What do you want to do?",
                  "classes": "nhsuk-fieldset__legend--m",
                  "isPageHeading": false
                }
              },
              "items": [
              {
                "value": "update~start",
                "text": "Update my permanent home address"
              },
              {
                "value": "temp~confirm-temp",
                "text": "Update a temporary or correspondence address"
              }
              ]
           }) }}
    
          {% endcall %}
    
          {{ button({
            "text": "Continue"
          }) }}
    
        </form>

      </div>
    </div>

{% include 'includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
