{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Privacy notice - NHS Address Update feature
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Privacy policy</h1>
    <p>This privacy policy explains:</p>
    <ul>
      <li>why we collect information about you (we call this “personal data”)</li>
      <li>what we do with it, including who we share it with</li>
      <li>how long we keep it for and where we store it</li>
      <li>our legal basis for using it</li>
      <li>what your data protection rights are</li>
    </ul>
    <p>To read more about how NHS England uses personal data to improve health and care, read the <a href="https://www.england.nhs.uk/contact-us/privacy-notice/">NHS privacy notice</a>.</p>
<h2>About the Change your home address service</h2>
<p>NHS England are responsible for the <a href="https://digital.nhs.uk/services/demographics">Personal Demographics Service (PDS)</a> which is the national electronic database of NHS patient details, containing information such as your name, address, date of birth, NHS number, contact information and the name of your GP practice. NHS health and care providers, such as your GP practice or hospital, use the data held in the PDS to:</p>
<ul>
  <li>confirm your NHS number</li>
  <li>match you to your health records</li>
  <li>check your contact details to send you communications related to your care</li>
</ul>
<p>When you visit your GP practice or hospital and provide new contact information, such as a new telephone number, email or home address, their IT system is connected to the <a href="https://digital.nhs.uk/services/spine">NHS Spine</a> and they can choose to ‘push’ this information to PDS which updates your PDS record.</p>
<p>The Change your home address service is a new service which allows you to update your PDS record with your new home address without having to visit your GP practice or other healthcare provider.</p>
<h2>How to access the service</h2>
<p>You can access the Change your home address service using your NHS login details.</p>
<p>If you sign in using NHS login, we will ask your permission to share your NHS login information with our service.</p>
<p>This allows us to fill in some personal details for you, such as your contact details.</p>
<p>We will not use your NHS login information for any other purposes. You can only share your NHS login information if you have proved your identity to NHS login.</p>
<p>For more information, view the <a href="https://access.login.nhs.uk/privacy">NHS login privacy notice</a> and <a href="https://access.login.nhs.uk/privacy">terms and conditions</a>.</p>
<h2>Our role</h2>
<p>Under data protection law, NHS England is a ‘joint controller’ with the Secretary of State for Health and Social Care for this service. This means that we have jointly decided what personal data to collect and how it will be used to run this service in accordance with <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/secretary-of-state-directions/spine-services-no-2-2014-direction">Spine Services (no 2) 2014 Direction</a>, which instructs NHS England to operate the Personal Demographics Service (PDS).</p>
<h2>What data we collect or use</h2>
<p>To provide this service, we process your:</p>
<ul>
  <li>NHS login account information – such as your NHS number, verification proofing level and vector of trust. </li>
  <li>Demographic data from your PDS record – such as your NHS number, current GP practice organisation code, and date of birth.</li>
  <li>Demographic data you provide when you use the service – your new address</li>
  <li>Log audit data - such as your session ID, time of use and actions taken when using the service associated with technical log events.</li>
  <li>Performance data - such as your Google Analytic cookie ID, time of use, your actions taken when using the service, browser and device information and approximate geolocation.  For more information, view the Change your home address cookie policy</li>
</ul>
<h2>Where we get your data from</h2>
<p><a href="https://access.login.nhs.uk/enter-email">NHS login</a>, which provides patients with a simple, secure and re-usable way to access multiple digital health and care services.</p>
<p>The <a href="https://digital.nhs.uk/services/personal-demographics-service">Personal Demographics Service (PDS)</a> which is the national electronic database of NHS patient details in England, Wales and the Isle of Man – holding information such as your name, address, date of birth and NHS number (known as demographic information).</p>
<h2>How we use your data</h2>
<h3>Using NHS login to verify and authenticate your session</h3>
<p>The Change your home address service uses your NHS login account to authenticate and verify your identity which is tied to your NHS record. See the <a href="https://access.login.nhs.uk/privacy">NHS login privacy notice</a> for more information.</p>
<h3>Using Personal Demographic Service (PDS) to retrieve and update your PDS record</h3>
<p>We use the demographic data from your NHS login account to match you to your PDS record. This helps us to find your NHS number so that we can update your address. It is important for the PDS to hold up to date contact information, so that the NHS can contact you to provide you with care e.g. send you appointment reminders and invites to health screening services.</p>
<h3>Service improvement, audit and troubleshooting</h3>
<p>We look at how the service is being used to help us make it better. To do this we put small files called “analytics cookies” on to your device using a software called Google Analytics. These cookies are optional. The information collected includes: the type of device you used, your browser type, your operating system, the date/time you used the service and how you interacted with the service. For more information, please see our cookie policy.</p>
<p>We also store technical log data for audit and troubleshooting (bug/fix) purposes and to make improvements to the service.</p>
<p>We analyse data to monitor the uptake of the service e.g. how many addresses are being changed and also to analyse demographic data to understand the reach of the service and ensure it is inclusive and accessible. Information on how many people use the service and its performance will also be used to publish anonymous statistical dashboards.</p>
<h2>Our legal basis</h2>
<p>Data protection law requires NHS England to have a legal basis before we can use your personal data.</p>
<p>Our legal basis is:</p>
<ul>
<li>Legal obligation - Article 6(1)(c) of UK GDPR. This is because the Secretary of State for Health and Social Care has issued us with a Direction to provide this service. This Direction is called the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/secretary-of-state-directions/spine-services-no-2-2014-direction">Spine Services (no 2) 2014 Direction</a>.</li>
<li>Consent – Article 6(1)(a) of UK GDPR, if you choose to accept optional analytics cookies. View our cookie policy for more information.</li>
</ul>
<h2>Who we share your data with</h2>
<p>Your GP practice – if you use this service to update your address this will update your PDS record.  If your new address is outside of your current GP practice’s catchment area, your GP practice’s IT system will be notified of your new address. This service gives you information on how to register with a new GP practice for your local area. If you take no action to register with a GP practice within your catchment area, you may be de-registered from your current GP practice.</p>
<h3>Processors</h3>
<p>The Change your home address service uses the following data processors under a contract known as a ‘Data Processing Agreement’.  They can only use, store and keep the data in accordance with our instructions and cannot use the data for any other purposes:</p>
<ul>
  <li>Amazon Web Services (AWS) to protect the service from automated attacks (security purposes)</li>
  <li>Ordnance Survey Limited who provide the OS Places API so that we can check if the new address you provide is within or outside of your GP practice’s catchment area</li>
  <li>Google (Google Analytics) to analyse the performance on the service by using cookies</li>
</ul>
<h2>How long we keep data for</h2>

<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr>
      <th scope="col" class="nhsuk-table__header">Data item or category</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">How long we keep it for</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__header">Why</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">Audit</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">7 years</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">Security and legal purposes</td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">Operational</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">9 months</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">Incident / investigation purposes</td>
    </tr>
    <tr class="nhsuk-table__row">
      <th scope="row" class="nhsuk-table__header">Analytics</th>
      <td class="nhsuk-table__cell nhsuk-table__cell">2 years</td>
      <td class="nhsuk-table__cell nhsuk-table__cell">Key Performance Indicators (KPIs/ analytics)</td>
    </tr>
  </tbody>
</table>
<p>We keep your data in accordance with the <a href="http://www.nhsx.nhs.uk/information-governance/guidance/records-management-code/">Records Management Code of Practice 2021</a>.</p>
<h2>Where we store your data</h2>
<p>We securely store your data using Amazon Web Services (AWS) in the United Kingdom (UK).</p>
<h2>Your data protection rights</h2>
<p>Under data protection law, you have the following rights over your data for this service:</p>
<ul>
  <li>Your right to be informed – You have the right to be told how and why we are using your personal data. We have published this privacy policy to provide you with this information.</li>
  <li>Your right to get copies of your data – You have the right to ask us for copies of your personal data (right of access). For more information, view <a href="https://www.england.nhs.uk/contact-us/privacy-notice/find-out-how-to-access-your-personal-information-or-make-a-request-in-relation-to-other-rights/">how to make a subject access request</a>.</li>
<li>Your right to get your data corrected – You have the right to ask us to correct (rectify) your personal data if you think it is inaccurate or incomplete.</li>
<li>Your right to get your data deleted – You have a right to ask us to delete (erase) your personal data in certain circumstances.</li>
<li>Your right to limit how we use your data – You have the right to ask us to limit the way we use your personal data (restrict processing) in certain circumstances.</li>
<li>Your right to withdraw consent – You have the right to withdraw consent for analytical cookies to be placed on your device by selecting ‘Reject analytics cookies’.</li>
</ul>
<p>To make a rights request, email us at <a href="mailto:england.contactus@nhs.net">england.contactus@nhs.net</a></p>
<h2>Your right to complain</h2>
<p>We take our responsibility to look after your data very seriously. If you have any questions or concerns about how NHS England uses your data, please contact our Data Protection Officer at: <a href="mailto:england.dpo@nhs.net">england.dpo@nhs.net</a>.</p>
<p>If you are not happy with our response, you have the right to make a complaint about how we are using your data to the Information Commissioner’s Office by calling 0303 123 1113 or through the <a href="https://ico.org.uk/make-a-complaint/">ICO website</a>.</p>
<h2>Changes to this policy</h2>
<p>We may make changes to this policy. If we do, the 'last edited' date on this page will also change. Any changes to this policy will apply immediately from the date of any change.</p>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}