{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% block pageTitle %}
Privacy notice - NHS Address Update feature
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">Privacy notice</h1>
    <p>The 'Choose if data from your health records is shared for research and planning' service allows you to choose whether or not your confidential patient information can be used for research and planning purposes. This prevents your confidential patient information from being used for purposes beyond your individual care and treatment.</p>
    <p>This document explains the choice you have, what it will mean for you and where your choice does not apply. It tells you what information NHS Digital collects and how it is used to provide this service, including your rights and how to contact us. This document forms part of a range of materials and information to help you make an informed choice about how your confidential patient information is used.</p>

    <h2 class="nhsuk-heading-m">Where you have a choice</h2>
    <p>You have a choice on whether or not your confidential patient information can be used for purposes beyond your individual care and treatment. If you would like this to stop, you can opt out of this yourself or on behalf of someone else. If you want to allow your confidential patient information to continue to be used for research and planning and you have not previously opted out of this, you do not need to take any action. The choice you make applies to publicly funded care in England only.</p>

    <h3 class="nhsuk-heading-s">Confidential patient information</h3>
    <p>This is information which identifies you and says something about your health, care or treatment. You would expect this information to be kept private. Information that only identifies you, like your name and address, is not considered to be confidential patient information and may still be used. For example, to contact you if your GP practice is merging with another. Information about your health or care that is anonymised so that you can no longer be identified is not considered to be confidential patient information.</p>

    <h3 class="nhsuk-heading-s">Purposes beyond your individual care and treatment</h3>
    <p>This includes the use of your confidential patient information to plan and improve health and adult social care services. For example, deciding where to locate a new clinic or information used to compare the quality of care provided across the country. It also includes the use of your confidential patient information for research. For example, to develop new treatments for serious illnesses. The choice you make does not apply when your information is used to help with your own treatment and care.</p>

    <h3 class="nhsuk-heading-s">Publicly funded care in England</h3>
    <p>The choice you make applies to confidential patient information related to health and adult social care services in England, which are publicly funded or have been arranged by a public body. For example, a local authority. It does not apply to health and adult social care services that you receive outside of England or if you are a private patient.</p>

    <h2 class="nhsuk-heading-m">When your choice does not apply</h2>
    <p>There are some situations where your choice does not apply and your confidential patient information may still be used.</p>

    <h3 class="nhsuk-heading-s">When required by law</h3>
    <p>Your confidential patient information may still be used when there is a legal requirement to provide it, such as a court order.</p>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}