{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Changing your home address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="is-address-temp" method="post" autocomplete="off">

      {% include 'live/includes/step.html' %}

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {% if data['noGP'] != 'true' %}
      <p>Changing your home address will update your NHS record and the address your GP surgery has for you.</p>
      <p>You can change your home address by either:</p>
      <ul>
        <li><a href="find-gp-is-address-uk">Registering with a GP surgery</a> that covers your new address (takes about 15 minutes), or</li>
        <li>Choosing 'Continue'</li>
      </ul>
      <p>Some GP surgeries will only accept patients that live within the area they cover. This is called their catchment area.</p>
      <p>If you choose 'Continue' and Lordship Lane surgery is not accepting registrations from outside their catchment area:</p>
      <ul>
        <li>you may not be offered home visits</li>
        <li>it could affect referrals for hospital tests and treatment, or community health services</li>
      </ul>
      <p>You should speak to your current GP surgery about your options.</p>

      {% else %}
      <p>Changing your home address will update your NHS record.</p>
      <p>You can change your home address by either:</p>
      <ul>
        <li><a href="find-gp-is-address-uk">Registering with a GP surgery</a> that covers your new address (takes about 15 minutes), or</li>
        <li>Choosing 'Continue'</li>
      </ul>

      {% endif %}

      {% endcall %}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
