{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You have successfully changed your address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="thank-you" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      {% if data['noGP'] != 'true' %}
      <p>Your NHS record has been updated and we have shared your new address with your GP surgery.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>Your address will be sent to your GP surgery who will check if it is in their catchment area.</p>
      <p>If you know you are no longer in the catchment area for Lordship Lane surgery you should register with a new GP.</p>
      <p>Lordship Lane surgery will remove you from their patient list in 30 days.</p>
      {% else %}
      <p>Get access to primary healthcare services by registering with a GP surgery near where you live.</p>
      {% endif %}
      <p><a href="thank-you">Find a GP</a></p>
      {% if data['noGP'] != 'true' %}
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you want to stay registered at Lordship Lane surgery
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Most GP surgeries will only accept patients that live within their catchment area.</p>
          <p>You should contact your GP surgery and check as it may affect your access to healthcare.</p>
      
        </div>
      </details>
      {% endif %}

      {% endcall %}

      {{ button({
        "text": "Back to contact details"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
