{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You have successfully changed your address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="thank-you" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      <p>We have shared your new address with your GP surgery.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>Lordship Lane surgery will remove you from their patient list.</p>
      <p>We recommend registering with a new GP.</p>
      <!--<p><a href="https://www.nhs.uk/service-search/find-a-gp/results/SW1A%201AA">Find your nearest GP</a></p>-->
      <p><a href="thank-you">Find your nearest GP</a></p>
      
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you want to stay registered at Lordship Lane surgery
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Most GP surgeries will only accept patients that live within their catchment area.</p>
          <p>You should contact your GP surgery and check as it may affect your access to healthcare.</p>
      
        </div>
      </details>

      {% endcall %}

      {{ button({
        "text": "Back to contact details"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
