{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You have successfully changed your address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="thank-you" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      <p>Your NHS record has been updated and we have shared your new address with your GP surgery.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>Lordship Lane surgery will remove you from their patient list.</p>
      <p>As your new address is in Wales, you need to register with an NHS Wales GP.</p>
      <p><a href="https://111.wales.nhs.uk/localservices/?s=GPSurgeries&pc=n&sort=default">Find your nearest GP</a></p>

      {% endcall %}

      {{ button({
        "text": "Back to contact details"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
