{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You told us you no longer live in the UK" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="thank-you" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {% if data['noGP'] != 'true' %}
      <p>Your NHS record has been updated and we have shared your new address with your GP surgery.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>Lordship Lane surgery will remove you from their patient list.</p>

      {% else %}
      <p>Your address has been updated on your NHS record.</p>
      {% endif %}

      {% endcall %}

      {{ button({
        "text": "Back to contact details"
      }) }}

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
