{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "Home address updated" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Home address updated
      </h1>
      <div class="nhsuk-panel__body">
        {% if data['noGP'] != 'true' %}
        Your NHS record has been updated and we’ve shared your new address with your GP surgery
        {% else %}
        Your NHS record has been updated
        {% endif %}
      </div>
    </div>

    <p>You’ve changed the country you live in to Argentina.</p>
    <h2 class="nhsuk-heading-m">What happens next</h2>
    <p>Lordship Lane surgery will remove you from their patient list.</p>

  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
