{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = "You have successfully changed your address" %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="thank-you" method="post" autocomplete="off">

      {% call fieldset({
        legend: {
          text: heading,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
      {% if data['noGP'] != 'true' %}
      <p>Your NHS record has been updated and we have shared your new address with your GP surgery.</p>
      <p>Your new address is outside the catchment area for Lordship Lane surgery.</p>
      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>The NHS may contact you to confirm you have moved outside the catchment area of your GP surgery and you will be removed from their patient list.</p>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you are waiting for surgery or a prescription
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you are waiting for elective surgery or a prescription you should contact your GP surgery.</p>
      
        </div>
      </details>
      {{ actionLink({
        text: "Register with a new GP",
        href: "#"
      }) }}
      {% else %}
      <p>Your NHS record has been updated.</p>
      <p>Get access to primary healthcare services by registering with a GP surgery near where you live.</p>
      {{ actionLink({
        text: "Register with a GP",
        href: "#"
      }) }}
      {% endif %}

      {% endcall %}

      <!--{{ button({
        "text": "Back to contact details"
    }) }}-->

    </form>
  </div>
</div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
