{% set serviceHome = '/live/start' %}

{% extends 'address-update/layout.html' %}

{% set heading = 'What is your home address?' %}

{% block pageTitle %}
  {{ heading }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <form action="{{ action }}" method="post" autocomplete="off">

              {% call fieldset({
                legend: {
                  "text": heading,
                  "classes": "nhsuk-fieldset__legend--l"
                }
              }) %}

              <div class="nhsuk-form-group">
                <!--<div class="nhsuk-hint" id="example-hint">
                  Do not include personal or financial information, for example, your National Insurance number or credit card details.
                </div>-->
                <textarea class="nhsuk-textarea" id="example" autocomplete="street-address" name="example" rows="5" aria-describedby="example-hint"></textarea>
              </div>

              {{ button({
                "text": "Continue"
              }) }}

              {% endcall %}

          </form>
        </div>
      </div>

{# DEVMODE SCENARIOS #}
{% if data['devMode'] === 'true' %}
<details class="nhsuk-details dev-mode dev-mode--routing" role="group">
  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="nhsuk-details__summary-text">
        Routing choices
      </span>
  </summary>
  <div class="nhsuk-details__text">
    <h4>Routes catchment area</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="current-address-out-of-area">Outside catchment area</a>
      </li>
      <li>
        <a href="not-accepting-registrations">Outside catchment area and GP surgery not accepting out-of-catchment registrations</a>
      </li>
    </ul>
  </div>
</details>
{% endif %}

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}