{% set serviceHome = '/live/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% set section = '2' %}

{% extends 'layout.html' %}

{% if (data['who-is-being-registered'] === "dependant") %}
  {% set heading = data['name-first-name'] + ' is not able to get their prescription items direct from ' + data.presets[0].gpsurgery %}
{% else %}
  {% set heading = 'You are not able to get your prescription items direct from ' + data.presets[0].gpsurgery  %}
{% endif %}

{% block pageTitle %}
  {{ heading }} - {{ ServiceName }} - NHS
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form action="check-answers-3" method="post" autocomplete="off">

          {% include 'live/includes/step.html' %}

            {% call fieldset({
              legend: {
                text: heading,
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            <p>To get prescription items such as medicines or medical appliances direct from a GP surgery a patient must either:</p>

            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>live more than 1 mile from their nearest pharmacy, or</li>
              <li>have serious difficulty travelling to or communicating with their nearest pharmacy</li>
            </ul>

            {% endcall %}

            {{ button({
              "text": "Continue"
            }) }}

          </form>
        </div>
       </div>

{% include 'live/includes/devmode.html' %}

{% endblock %}

{% block footer %}
  {% include 'live/includes/footer.html' %}
{% endblock %}
