<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}


          <form action="confirmation-page" method="post" autocomplete="off">


            {{ fieldset({
              "legend": {
                "text": "Check your details before submitting your application",
                "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-2",
                "isPageHeading": true
              }
            }) }}

          </div>
        </div>

       <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>If you have logged in using the NHS app you will not be able to change some of the answers. Please contact your GP surgery if you information on the NHS app is incorrect. </p>
          </div>



        <h2>Personal Details</h2>

        <!-- Addresses -->
        <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Current address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data['select-current-address'] %}
              {{ data['select-current-address'] }}
              {% else %}
              {{ data['select-current-address'] }}
              {{ data['current-address-line-1'] }}<br />
              {{ data['current-address-line-2'] }}<br />
              {{ data['current-address-town'] }}<br />
              {{ data['current-address-postcode'] }}
              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
            </dd>
          </div>


          <!-- Contact preferences -->
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Contact methods
              </dt>
              <dd class="nhsuk-summary-list__value nhsuk-summary-list__contact-prefs">
                {{ data['contact-mobile'] }} <br />
                {{ data['contact-home'] }}  <br />
                {{ data['contact-email'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> contact email address</span></a>
              </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Gender
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['gender'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['ethnicity-detail-white'] }}
              {{ data['ethWhite'] }}
              {{ data['ethnicity-detail-asian'] }}
              {{ data['ethAsian'] }}
              {{ data['ethnicity-detail-black'] }}
              {{ data['ethBlack'] }}
              {{ data['ethnicity-detail-mixed'] }}
              {{ data['ethMixed'] }}
              {{ data['ethnicity-detail-another'] }}
              {{ data['ethOther'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
            </dd>
          </div>

        </dl>


        <h3>Language interpreter</h3>

        <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Do you need an language interpreter?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['interpreter'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
            </dd>
          </div>


          {% if data['interpreter'] == "Yes" %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Which language do you need an interpreter for?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['language'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="mental-health-conditions">
                  Change<span class="nhsuk-u-visually-hidden"> language</span>
                </a>
              </dd>
            </div>
          {% endif %}

          </dL>

          <!-- Emergency Contact -->
          <h3>Emergency Contact</h3>

          <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Do you have an emergency contact?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['emergency-contact'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
              </dd>
            </div>


            {% if data['emergency-contact'] == "Yes" %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact full name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-full-name'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact name</span></a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact relationship to you
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-relationship'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact relationship to you</span></a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact telephone number
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-contact-tel'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact telephone number</span></a>
              </dd>
            </div>
          {% endif %}

          </dl>


          <h3>Armed forces</h3>

          <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Have you ever been a member of the armed forces?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['is-armed-forces-member'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">Armed forces</span></a>
            </dd>
          </div>

          </dl>



          {% if ((data['user-auth'] == "nomatch") and (data['current-gp'] == "No"))  %}

          <h3>Have you recently moved to the UK?</h3>

          <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Have you recently moved to the UK from another country?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['recently-moved'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
              </dd>
            </div>


            {% if data['recently-moved'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Country of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['moved-address-country'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> country</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  When did you enter the UK?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['moved-day'] }} -
                  {{ data['moved-month'] }} -
                  {{ data['moved-year'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> enter date</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Have you moved to UK from EU, EEA or Switzerland?
                </dt>
                <dd class="nhsuk-summary-list__value">
                {{ data['eea'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> enter date</span>
                  </a>
                </dd>
              </div>

              {% if data['eea'] == "Yes" %}

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  European health insurance card details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ehic'] }} <br />
                  From :  {{ data['ehic-from-day'] }} -
                          {{ data['ehic-from-month'] }} -
                          {{ data['ehic-from-year'] }}<br />
                  To :    {{ data['ehic-to-day'] }} -
                          {{ data['ehic-to-month'] }} -
                          {{ data['ehic-to-year'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> eehic</span>
                  </a>
                </dd>
              </div>

            {% endif %}
            {% endif %}
            {% endif %}

            </dL>

            {% if ((data['user-auth'] == "nomatch") and (data['current-gp'] == "Yes"))  %}

            <h3>Have you recently moved to the UK?</h3>

            <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Are you returning from overseas?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['overseas'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden">overseas</span></a>
                </dd>
              </div>

                {% if data['overseas'] == "Yes" %}

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What was the date you left the UK?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['left-uk-day'] }} -
                    {{ data['left-uk-month'] }} -
                    {{ data['left-uk-year'] }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="">Change<span class="nhsuk-u-visually-hidden">moved date</span></a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    What was the date you returned to the UK?
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['returned-uk-day'] }} -
                    {{ data['returned-uk-month'] }} -
                    {{ data['returned-uk-year'] }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="">Change<span class="nhsuk-u-visually-hidden">moved date</span></a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Previous GP address
                  </dt>
                  <dd class="nhsuk-summary-list__value previous-gp__value">
                    {% if data['select-gp-address'] %}
                    {{ data['select-gp-address'] }}
                    {% else %}
                    {{ data['select-gp-address'] }}
                    {{ data['previous-gp-address-line-1'] }}<br />
                    {{ data['previous-gp-address-line-2'] }}<br />
                    {{ data['previous-gp-town'] }}<br />
                    {{ data['previous-gp-postcode'] }}
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href=""><span class="nhsuk-u-visually-hidden">previous GP address</span></a>
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Previous address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {% if data['select-previous-address'] %}
                    {{ data['select-previous-address'] }}
                    {% else %}
                    {{ data['select-previous-address'] }}
                    {{ data['previous-address-line-1'] }}<br />
                    {{ data['previous-address-line-2'] }}<br />
                    {{ data['previous-address-town'] }}<br />
                    {{ data['previous-address-postcode'] }}
                    {% endif %}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
                  </dd>
                </div>

                {% endif %}
                {% endif %}

                </dl>



          <h2>Health questions</h2>

          <dl class="nhsuk-summary-list nhsuk-u-padding-bottom-3">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Has existing medical conditions?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-existing-conditions'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-existing-conditions">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have existing medical conditions</span>
                </a>
              </dd>
            </div>

            {% if data['has-existing-conditions'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['existing-conditions'] %}
                    {{ data['existing-conditions'] }}
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="what-existing-conditions-do-you-have">
                    Change<span class="nhsuk-u-visually-hidden"> existing medical conditions</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Condition details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['existing-medical-condition-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="existing-conditions-details">
                    Change<span class="nhsuk-u-visually-hidden"> details about your existing conditions</span>
                  </a>
                </dd>
              </div>
            {% endif %}


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Allergies?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['has-allergies'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="do-you-have-allergies">
                Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
              </a>
            </dd>
          </div>


            {% if data['has-allergies'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Allergy details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['allergies-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="allergies-details">
                    Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Mental health conditions?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-mental-health-conditions'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-any-mental-health-conditions">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have any mental health conditions</span>
                </a>
              </dd>
            </div>

            {% if data['has-mental-health-conditions'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mental health condition details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['mental-health-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> details about your mental health conditions</span>
                  </a>
                </dd>
              </div>
            {% endif %}



            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Disabilities?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-disabilities'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-any-disabilities">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have any disabilities</span>
                </a>
              </dd>
            </div>

            {% if data['has-disabilities'] == "Yes" %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Disability details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['disabilities-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="disabilities-details">
                    Change<span class="nhsuk-u-visually-hidden"> details about your disabilities</span>
                  </a>
                </dd>
              </div>
            {% endif %}


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Alcohol frequency
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['alcohol-consumption'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="how-often-do-you-drink-alcohol">
                    Change<span class="nhsuk-u-visually-hidden"> how often you drink alcohol</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Do you smoke?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smokes'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="do-you-smoke">
                    Change<span class="nhsuk-u-visually-hidden"> how often you smoke</span>
                  </a>
                </dd>
              </div>
            </dl>

            </div>
          </div>


          <h2 class="nhsuk-heading-l">Submit your application</h2>

          <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

          {{ button({
            "text": "Accept and submit"
          }) }}



    </section>

    <!-- End of content -->

  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script>

  $(document).ready(function () {

    // Populate any unanswered fields with "Not answered" text
    $('.nhsuk-summary-list__value').filter(function () {
      return $.trim($(this).text()) === "";
    }).each(function (ind, obj) {
      $(obj).closest('dd').html("<span class='summary-page-unanswered'>Not answered</span>");
    });

    // Add colon to contact method type if it isn't blank
    $(".contact-prefs-type:not(:empty)").append(':');

  });
</script>

{% endblock %}
