<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
  GP Registration Prototypes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <section class="nhsuk-section">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {{ backLink({
            text: "Go back",
            href: "javascript:history.go(-1)"
          }) }}


          <form action="confirmation-page" method="post" autocomplete="off">


            {{ fieldset({
              "legend": {
                "text": "Check your details before submitting your application",
                "classes": "nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-2",
                "isPageHeading": true
              }
            }) }}

          </div>
        </div>

       <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
             <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>If you have logged in using the NHS app you will not be able to change some of the answers. Please contact your GP surgery if you information on the NHS app is incorrect. </p>

            </div>

            {% if data['user-auth'] == "p9" %}

            <h2>Personal Details</h2>

            <dl class="nhsuk-summary-list">


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  First name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Jo
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">First name</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Middle name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Furst
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">middle name</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Bloggs
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">last name</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01/09/1980
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">date of birth</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS Number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  485 777 3456
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">NHS number</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Gender
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gender'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Ethnicity
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ethnicity-detail-white'] }}
                  {{ data['ethWhite'] }}
                  {{ data['ethnicity-detail-asian'] }}
                  {{ data['ethAsian'] }}
                  {{ data['ethnicity-detail-black'] }}
                  {{ data['ethBlack'] }}
                  {{ data['ethnicity-detail-mixed'] }}
                  {{ data['ethMixed'] }}
                  {{ data['ethnicity-detail-another'] }}
                  {{ data['ethOther'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
                </dd>
              </div>

            </dl>

            <!-- Addresses -->

            <h3>Address</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Current address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Address line 1<br>
                  Address line 2<br>
                  Address line 3<br>
                  Address line 4<br>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
                </dd>
              </div>
              </dl>
              <h3>Contact preferences</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Contact methods
                </dt>
                <dd class="nhsuk-summary-list__value nhsuk-summary-list__contact-prefs">
                  email@email.com<br />
                  07700112234
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden"> contact email address</span></a>
                </dd>
              </div>

            </dl>

             <h3>Emergency Contact</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact full name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-full-name'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact name</span></a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact relationship to you
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-relationship'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">
                    Change<span class="nhsuk-u-visually-hidden"> emergency contact relationship to you</span>
                  </a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-contact-tel'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact telephone number</span></a>
                </dd>
              </div>

              </dl>

              <h3>Armed forces</h3>

              <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Have you ever been a member of the armed forces?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['is-armed-forces-member'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden">Armed forces</span></a>
                </dd>
              </div>

            </dl>



            {% elif data['user-auth'] == "p5" %}


              <!-- Personal details -->

              <h2>Personal Details</h2>

              <dl class="nhsuk-summary-list">


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  First name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Jo
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">First name</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Middle name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Furst
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">previous surnames</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Bloggs
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">previous surnames</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                  01/09/1980
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">date of birth</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHS Number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  485 777 3456
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden">NHS number</span></a>
                </dd>
              </div>



              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Gender
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['gender'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Ethnicity
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ethnicity-detail-white'] }}
                  {{ data['ethWhite'] }}
                  {{ data['ethnicity-detail-asian'] }}
                  {{ data['ethAsian'] }}
                  {{ data['ethnicity-detail-black'] }}
                  {{ data['ethBlack'] }}
                  {{ data['ethnicity-detail-mixed'] }}
                  {{ data['ethMixed'] }}
                  {{ data['ethnicity-detail-another'] }}
                  {{ data['ethOther'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
                </dd>
              </div>

            </dl>


            <!-- Addresses -->

            <h3>Address</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Current address
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['select-current-address'] %}
                  {{ data['select-current-address'] }}
                  {% else %}
                  {{ data['select-current-address'] }}
                  {{ data['current-address-line-1'] }}<br />
                  {{ data['current-address-line-2'] }}<br />
                  {{ data['current-address-town'] }}<br />
                  {{ data['current-address-postcode'] }}
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden"> address</span></a>
                </dd>
              </div>




            </dl>

            <!-- Contact preferences details -->

            <h3>Contact preferences</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Contact methods
                </dt>
                <dd class="nhsuk-summary-list__value nhsuk-summary-list__contact-prefs">
                  email@email.com<br />
                  07700112234
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href=""><span class="nhsuk-u-visually-hidden"> contact email address</span></a>
                </dd>
              </div>

            </dl>
            <h3>Emergency Contact</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact full name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-full-name'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact name</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact relationship to you
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-relationship'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact relationship to you</span></a>
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Emergency contact telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['ec-contact-tel'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact telephone number</span></a>
                </dd>
              </div>


            </dl>

            <!-- Armed forces -->

            <h3>Armed forces</h3>

            <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Have you ever been a member of the armed forces?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['is-armed-forces-member'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">Armed forces</span></a>
              </dd>
            </div>


          </dl>


            {% else %}

            <h2>Personal Details</h2>

              <dl class="nhsuk-summary-list">

            <!-- Personal details -->

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Title
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['name-title'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">Title</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                First name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['name-first-name'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">First name</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Middle name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['name-middle-name'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">middle name</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['name-last-name'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">last name</span>
                </a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span id="dob-day">{{ data['dob-day'] }}</span>
                <span id="dob-month">{{ data['dob-month'] }}</span>
                <span id="dob-year">{{ data['dob-year'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">date of birth</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                NHS Number
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['nhs-number'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden">NHS number</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Gender
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['gender'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Ethnicity
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ethnicity-detail-white'] }}
                {{ data['ethWhite'] }}
                {{ data['ethnicity-detail-asian'] }}
                {{ data['ethAsian'] }}
                {{ data['ethnicity-detail-black'] }}
                {{ data['ethBlack'] }}
                {{ data['ethnicity-detail-mixed'] }}
                {{ data['ethMixed'] }}
                {{ data['ethnicity-detail-another'] }}
                {{ data['ethOther'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> selected gender</span></a>
              </dd>
            </div>

          </dl>


          <!-- Addresses -->

          <h3>Address</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Current address
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if (data['have-current-uk-address'] == "No") %}
                No current UK address
                {% elif data['select-current-address'] %}
                {{ data['select-current-address'] }}
                {% else %}
                {{ data['select-current-address'] }}
                {{ data['current-address-line-1'] }}<br />
                {{ data['current-address-line-2'] }}<br />
                {{ data['current-address-town'] }}<br />
                {{ data['current-address-postcode'] }}
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> address</span></a>
              </dd>
            </div>
            </dl>


          <!-- Contact preferences details -->

          <h3>Contact preferences</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Contact methods
              </dt>
              <dd class="nhsuk-summary-list__value nhsuk-summary-list__contact-prefs">
                {{ data['contact-mobile'] }} <br />
                {{ data['contact-home'] }}  <br />
                {{ data['contact-email'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> contact email address</span></a>
              </dd>
            </div>

          </dl>
          <h3>Language interpreter</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Do you need an language interpreter?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['interpreter'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Which language do you need an interpreter for?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['language'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> </span></a>
              </dd>
            </div>

            </dL>

          <!-- Emergency Contact -->

          <h3>Emergency Contact</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact full name
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-full-name'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact name</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact relationship to you
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-relationship'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact relationship to you</span></a>
              </dd>
            </div>


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Emergency contact telephone number
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['ec-contact-tel'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="">Change<span class="nhsuk-u-visually-hidden"> emergency contact telephone number</span></a>
              </dd>
            </div>

          </dl>

          <h3>Armed forces</h3>

          <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Have you ever been a member of the armed forces?
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['is-armed-forces-member'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="">Change<span class="nhsuk-u-visually-hidden">Armed forces</span></a>
            </dd>
          </div>

          </dl>


        {% endif %}

        <h2>Health questions</h2>

        <dl class="nhsuk-summary-list">

          <h3>Medical conditions</h3>

          <dl class="nhsuk-summary-list">


            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Has existing medical conditions?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-existing-conditions'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-existing-conditions">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have existing medical conditions</span>
                </a>
              </dd>
            </div>

            {% if data['has-existing-conditions'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Conditions
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['existing-conditions'] %}
                    {{ data['existing-conditions'] }}
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="what-existing-conditions-do-you-have">
                    Change<span class="nhsuk-u-visually-hidden"> existing medical conditions</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Condition details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['existing-medical-condition-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="existing-conditions-details">
                    Change<span class="nhsuk-u-visually-hidden"> details about your existing conditions</span>
                  </a>
                </dd>
              </div>
            {% endif %}

          </dl>

          <h3>Allergies</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Allergies?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-allergies'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-allergies">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
                </a>
              </dd>
            </div>

            {% if data['has-allergies'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Allergy details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['allergies-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="allergies-details">
                    Change<span class="nhsuk-u-visually-hidden"> whether you have allergies</span>
                  </a>
                </dd>
              </div>
            {% endif %}

          </dl>

          <h3>Mental health conditions</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Mental health conditions?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-mental-health-conditions'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-any-mental-health-conditions">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have any mental health conditions</span>
                </a>
              </dd>
            </div>

            {% if data['has-mental-health-conditions'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Mental health condition details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['mental-health-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="mental-health-conditions">
                    Change<span class="nhsuk-u-visually-hidden"> details about your mental health conditions</span>
                  </a>
                </dd>
              </div>
            {% endif %}

          </dl>

          <h3>Disabilities</h3>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Disabilities?
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['has-disabilities'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="do-you-have-any-disabilities">
                  Change<span class="nhsuk-u-visually-hidden"> whether you have any disabilities</span>
                </a>
              </dd>
            </div>

            {% if data['has-disabilities'] == "Yes" %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Disability details
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['disabilities-details'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="disabilities-details">
                    Change<span class="nhsuk-u-visually-hidden"> details about your disabilities</span>
                  </a>
                </dd>
              </div>
            {% endif %}

          </dl>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Alcohol frequency
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['alcohol-consumption'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="how-often-do-you-drink-alcohol">
                    Change<span class="nhsuk-u-visually-hidden"> how often you drink alcohol</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Do you smoke?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['smokes'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="do-you-smoke">
                    Change<span class="nhsuk-u-visually-hidden"> how often you smoke</span>
                  </a>
                </dd>
              </div>

            </dl>



            <!-- <h3>Carer details</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Are you a carer?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['is-carer'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="are-you-a-carer">
                    Change<span class="nhsuk-u-visually-hidden"> whether you are a carer</span>
                  </a>
                </dd>
              </div>

            </dl> -->

            <h3>Prescription medication</h3>

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Takes prescription medication?
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ data['takes-prescription-meds'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="do-you-take-prescription-medication">
                    Change<span class="nhsuk-u-visually-hidden"> whether you take prescription medication</span>
                  </a>
                </dd>
              </div>

              {% if data['takes-prescription-meds'] == "Yes" %}
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Prescription medication details
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {{ data['medication-details'] }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="medication-details">
                      Change<span class="nhsuk-u-visually-hidden"> details about your prescription medication</span>
                    </a>
                  </dd>
                </div>
              {% endif %}

            </dl>

              </div>

            </div>






            <h2 class="nhsuk-heading-l">Submit your application</h2>

            <p>
              By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
            </p>

            {{ button({
              "text": "Accept and submit"
            }) }}


        </div>
      </div>
    </section>

    <!-- End of content -->

  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script>

  $(document).ready(function () {

    // Populate any unanswered fields with "Not answered" text
    $('.nhsuk-summary-list__value').filter(function () {
      return $.trim($(this).text()) === "";
    }).each(function (ind, obj) {
      $(obj).closest('dd').html("<span class='summary-page-unanswered'>Not answered</span>");
    });

    // Add colon to contact method type if it isn't blank
    $(".contact-prefs-type:not(:empty)").append(':');

  });
</script>

{% endblock %}
