<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Page listings - GP registration - NHS
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">


        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">Archived prototype work</span>
            GP Registration
        </h1>

          <p>Use this service to register to change to a new GP surgery</p>
          <p class="nhsuk-body-s">Last updated 10 Nov 2021</p>

          <h2 class="nhsuk-heading-l">Sprint 3</h2>
          <p>Testing with Type 4 (immigration) and no fixed abode user groups</p>

          {{ button({
            "text": "Continue",
            "href": "/sprint-3/start"
          }) }}

          {{ button({
            "text": "Page by page listings and scenarios",
            "classes": "nhsuk-button--secondary",
                "href": "/sprint-3/listings-3"
          }) }}

          <h2 class="nhsuk-heading-l">Test sessions</h2>

          <p><span class="mural-link"><a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1636577989129/3e51f5a05f2642bdabad9f56214924bdb3bef832?sender=u6bd4c84bd73456a668cf5618">Test session outputs on mural (type 4)</a></span></p>
          <p><span class="mural-link"><a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1637149059016/9d04a630cd56ef59e9fe6a32f181d77c564b62f7?sender=u6bd4c84bd73456a668cf5618">Test session outputs on mural (no fixed abode)</a></span></p>


          <p><br/><a href="/index">Return to main service page</a>


  </div>
</section>



<!-- End of content -->

</div>
</div>
{% endblock %}
